---
title: About the Company | NHANCE NOW
"description": "Building a millennial friendly conversational community. Offering the World's First Conversational Card for Customer Experience. Turning brand consumer interactions into engaging and friendly conversations."
---
extends layouts/_layout
block content
  block header
    include partials/_header
  .about-us
    .intro
      .container.wow.fadeInUp(data-wow-duration="1s")
        h2 On a mission to make the world friendlier for the digitally-empowered generation.
    .about-us__content.about-us__content--1
      .container
        .row
          .col-xl-5.col-lg-6.col-12.wow.fadeInLeft(data-wow-duration="1s")
            h2 The driving force behind our journey
          .offset-xl-5.col-xl-7.offset-lg-6.col-lg-6.col-12.wow.fadeInRight(data-wow-duration="1s")
            .about-us__content__text
              p We were restless! The modern day “obsession with Convenience” phenomenon had engulfed us like it had millions of others around the globe.
              p We all love convenience today. The convenience to order a meal, to book a ride, to watch a movie or plan a vacation. On one side, a handful of experience disrupting companies had leveraged transformational technologies to change the way we go about our daily lives. On the other side, however, a myriad of companies suppressed our desire for an easy life with outdated operational processes that hindered our affinity for convenience. We felt  a strong urge to change this. We felt strongly about making the world friendly for millennials like you and me. It’s what got us up and running.
    .about-us__content.about-us__content--2
      .container
        .row
          .col-xl-5.col-lg-6.col-12.wow.fadeInLeft(data-wow-duration="1s")
            h2 Choosing conversations
          .offset-xl-5.col-xl-7.offset-lg-6.col-lg-6.col-12.wow.fadeInRight(data-wow-duration="1s")
            .about-us__content__text
              p In our quest for simplifying the daily lives of millions we looked at how people were going about their daily lives today. We discovered one unique characteristic. The digital revolution had brought about a generational shift in the way people “behaved” today. We were no longer visiting banks for financial transactions rather instructing digital assistants to schedule transactions, we were subscribing to our daily meals by conversing with humanized bots, we were letting voice assistants choose, recommend and play songs that we like. We were using technology to humanize our interactions with the things that mattered to us. 
              p We were becoming humans again. Because humans are real, we need real interactions and real conversations. The incredible power of conversational experiences gradually dawned on us. We started imagining a world where every interaction could be turned into a meaningful conversation. What if we could help companies build enduring relationships by starting meaningful, friendly and natural conversations, each time someone interacted with them. And in the process make the lives of millions around the world insanely easier. 
              p Choosing conversational experiences was a no-brainer.
    .about-us__content.about-us__content--3
      .container
        .row
          .col-xl-5.col-lg-6.col-12.wow.fadeInLeft(data-wow-duration="1s")
            h2 The team driving the mission
          .offset-xl-5.col-xl-7.offset-lg-6.col-lg-6.col-12.wow.fadeInRight(data-wow-duration="1s")
            .about-us__content__text
              p Every vision needs a well-crafted team to see it through to its intended goal. And every team needs to be built with a philosophy. We chose Diversity. Diversity of thought, diversity of culture and diversity of ideas and differences.
              p We have a well crafted policy of building and improving a team that carries no pre-conceived notions, no baggage and embraces fluidity in thought and working culture. So we hired seasoned engineers to build a robust backend system and at the same time we focussed on getting young, unbound digital natives to build our conversational gateway. Our business team is a mix of the traditional and the ultra modernist. So while we have seasoned sales folks with polished vocabulary and contract negotiation skills we also have our Digital Strategist deeply versed in Touchless Acquisition skills onboarding customers without ever meeting, talking or even exchanging a message with them!  
    
    
    

  block footer
    include partials/_footer