---
title: Customers story Al-reef
---
extends layouts/_layout
block content
  .customer-stories
    .customer-stories__intro
      .container
        h1 Immersive customer experience to boost customer retention
        .customer-stories__intro__btn
          a(href="#") previous
          img(src="img/customers/al-reef.png", alt="")
          a(href="#") next
    .container
      .customer-stories__content
        aside.customer-stories__aside
          h4 Features that they love
          .customer-stories__aside__block
            strong Self service
            p Check out location and event videos
          .customer-stories__aside__block
            strong Offers and Notifications
            p Exciting offers on packages
          .customer-stories__aside__block
            strong M-Store
            p Buy event tickets and package add-ons
          .customer-stories__aside__block
            strong Service Request
            p Direct communication with customers
          .customer-stories__aside__block
            strong Feedback
            p Simple, instant feedback collection to improve service delivery
        .customer-stories__article
          strong AlReef uses NHANCE NOW to provide a comprehensive digital information package for an immersive customer experience
          h4 The challenge
          p Al Reef Tours and Holidays is one of the leading and fastest growing destination management company based in UAE purely focused on customer satisfactions. Their products have been designed after sampling and verifications by their team members from management to counter staff.
          p Like most other travel company they design customised packages for their clients but it is the pricing of the packages that defined their customer retention ratio vis a vis their competitors. The travel industry has very little to innovate upon other than pricing and packing. Al Reef wanted to be a trendsetter. Leveraging the “hunger” of a modern day customer for unique experiences, they were on a hunt for a solution which would give their customers a differentiated experience from the moment they booked their travel packages. Their business strategy was re-defined with a focus on their customer experience. Their goal was to fill their customers with a visual, sensory and information experience whereby the thrill of the actual journey would get amplified.
          p Their hunt for a unique solution landed them at the doorsteps of NHANCE NOW.
          h4 After adopting NHANCE NOW
          p NHANCE NOW’s offering provided a tight fit to Al Reef endeavour for innovation. The thrill and excitement of a journey starts at the point of sale, when a booking is made. Al Reef capitalized on this important touch point in the customer journey and revamped the entire experience from the moment a travel booking was made till the actual day of the journey
          h4 Al Reef used NHANCE NOW’s mobile interface to disrupt 4 key areas of their end user engagement and experience:
          ul
            li They digitised all travel documents (including tickets, travel advisory documents, visas, travel checklists) and provided them in a single repository
            li They provided short videos of key locations and attractions. Byte sized videos were a scale up from static imagery and enhanced the visual appeal of locations
            li Through the same mobile interface customers can now pre-book events, tickets, local city travel passes, dining.
            li Customers have a simple direct information and communication exchange channel with the business to push product updates, offers and have one-to-one communication.
          p This refreshingly new approach increased customer engagement. Al Reef is now connected with their customers right from the time they book their holiday package till the D-Day. The platform allows them to keep the customers engaged, pre and post journey.
          .customer-stories__article__quote
            img(src="img/quote-icon.png", alt="")
            div
              i “Traditionally customers have been left on their own after they purchase travel packages. We are disrupting this process with NHANCE NOW. We are now engaging and interacting with customers right from the moment they buy a holiday package from us and even after they have completed their journey. We believe in constant and personalized engagement with our customers to keep their spirit of travel alive and kicking. NHANCE NOW allows us to do so in ways which we had not envisioned earlier. ”
              b CEO, Al Reef

