---
title: Customers story Ali-amar
---
extends layouts/_layout
block content
  block header
    include partials/_header
  .customer-stories
    .customer-stories__intro
      .container
        h1 Integrated messaging, feedback and marketing automation tool
        .customer-stories__intro__btn
          a(href="#") previous
          img(src="img/customers/ali-amar.png", alt="")
          a(href="#") next
    .container
      .customer-stories__content
        aside.customer-stories__aside
          h4 Features that they love
          .customer-stories__aside__block
            strong Campaign Manager
            p Helps them set, trigger, analyse feedback and marketing automation campaign through simple push notifications
          .customer-stories__aside__block
            strong Service Request
            p Simple, media rich direct communication
        .customer-stories__article
          strong Ali Amar Jewellers: NHANCE NOW is Ali Amar’s integrated messaging, feedback and marketing automation tool
          h4 The challenge
          p Jewellery is an intimate piece of art, integral to the fashion industry. It enjoys a high emotional connect with women and is one of the most revered item of gifting and celebration. It is an industry which runs on the “word of one’s mouth”. A personalized touch in the customer experience is the key ingredient which helps this industry thrive and grow.
          p Traditionally the customer experience in the jewellery industry has been following legacy methodologies. Personal conversations, in store showcasing and face to face feedback. However, with customers becoming increasingly digital, this was an industry which could no longer close its eyes to adoption of this new age phenomenon.
          p Ali Amar Jewellers was doing what most jewellery companies would do. Their best customers were the ones who often visited their stores. They run traditional processes like SMS, phone calls, information brochures and newspaper advertisements. This defined their post-purchase engagement with customers. The problem with this approach was that they were unable to measure the success of their campaigns. The messaging and communication were sub-optimal as they were scattered.
          p Ali Amar wanted a solution which would help them address 3 important areas of personalized interaction with their customers:
          ol
            li 1. Personalized and measurable marketing communication about new products, offers, buy backs and exchanges
            li 2. A simple direct messaging channel whereby customers could exchange messages with media with the business, book products and services
            li 3. Collect quality feedback
          h4 After adopting NHANCE NOW
          p Ali Amar opted for the RETENTION module of NHANCE NOW. Through single communication channel, NHANCE NOW mobile app, their customers could now receive important marketing messages, conduct rich communication with the business and provide effective feedback.
          p 
            b Marketing Communication
            | NHANCE NOW not only allows Ali Amar to send personalized marketing communication, it also allows them to track user responses. They can now visualize customer segment which view and dismiss their messages. It allows them to take follow up action on different category of customers based on response pattern analysis. Their marketing communications are now a lot more focussed. Based on purchase and product history, they are now customising the marketing messages, so that the offerings are much more meaningful.
          p 
            b Integrated Messaging
            | Customers now have simple and direct channel to communicate directly with the business. They no longer have to make phone calls or visit the store for general information. The rich media interface allows immersive media rich communication which includes video calls.
          p 
            b Feedback (Customer Happiness Index)
            | The whole process of feedback mechanism is now automated. Feedback campaign can be set to trigger at periodic intervals. Its non-intrusive and with a few taps customers can complete the process. Analytics through simple and beautiful visual charts are instantly generated in the backend helping Ali Amar “listen” to the voice of the customer.
          p Each of the above features come with a high level of automation and requires very little human monitoring which was the key deciding factor in the purchase decision for Ali Amar.
          p Ali Amar is now generating a lot more “noise” in their customer community. They are now able to understand and positively influence customer needs and desires. Its helping them generate atleast 19% more revenue from their existing customer base.

  block footer
    include partials/_footer