---
title: Bot Directory
---
extends layouts/_layout
block content
  block header
    include partials/_header
  .careers.bot-directory
    .intro
      .container
        h1 Bot Directory
        p Discover number of ways in which your business can benefit from our suite of Conversational Bots. We have used industry best practices to curate templates to get you up and running quickly.
        p All our templates come with AI Models , NLP, Machine Learning and domain specific conversational workflows.
    .whatsapp__features
      .container
        .whatsapp__features__section
          strong Bots for BFSI
          .whatsapp__features__row
            .whatsapp__features__block
              h4 Life Insurance Bot
                img(src="img/whatsapp/features-img-7.png", alt="")
              p Provide support, service, claims processing and sell new policies without human intervention.
              b For Insurance Companies | Insurance Agents | Insurance Advisory Firms
              .whatsapp__features__block__btn
                a(href="#")
                  i.icon.icon-play
                a(href="#")
                  i.icon.icon-arrow_left-cicle
            .whatsapp__features__block
              h4 General Insurance Bot
                img(src="img/whatsapp/features-img-8.png", alt="")
              p Provide support, service, claims processing and sell new policies without human intervention.
              b For  Insurance Companies | Insurance Agents | Insurance Advisory Firms
              .whatsapp__features__block__btn
                a(href="#")
                  i.icon.icon-play
                a(href="#")
                  i.icon.icon-arrow_left-cicle
            .whatsapp__features__block
              h4 Banking Bot
                img(src="img/whatsapp/features-img-9.png", alt="")
              p Provide all banking services from checking balance, transferring money and various other banking services through simple messaging.
              b For Banks | Payment Services
              .whatsapp__features__block__btn
                a(href="#")
                  i.icon.icon-play
                a(href="#")
                  i.icon.icon-arrow_left-cicle
            .whatsapp__features__block
              h4 Tax Consultancy Bot
                img(src="img/whatsapp/features-img-10.png", alt="").small
              p Help customers with 24/7 tax advisory, tax filing, general queries and investment advice without meeting in person.
              b For  Tax Advisory Firms | Tax Consultants
              .whatsapp__features__block__btn
                a(href="#")
                  i.icon.icon-play
                a(href="#")
                  i.icon.icon-arrow_left-cicle
            .whatsapp__features__block
              h4 Fintech - Payments Service Bot
                img(src="img/whatsapp/features-img-11.png", alt="")
              p Provide support services, balance checking, money transfers and other payment services through simple messaging.
              b For  Payment Services | Fintech Applications
              .whatsapp__features__block__btn
                a(href="#")
                  i.icon.icon-play
                a(href="#")
                  i.icon.icon-arrow_left-cicle
        




        .whatsapp__features__section
          strong Bots for Customer Support / Service
          .whatsapp__features__row
            .whatsapp__features__block
              h4 Personal Electronics / Home Appliances - Service & Support Bot
                img(src="img/whatsapp/features-img-17.png", alt="").small
              p Automate customer service, sell add-on products, trigger smart notifications and help customers discover great deals.
              b For Consumer Electronics | Furnitures | Other Consumer Products
              .whatsapp__features__block__btn
                a(href="#")
                  i.icon.icon-play
                a(href="#")
                  i.icon.icon-arrow_left-cicle
            .whatsapp__features__block
              h4 Hotel Concierge Bot
                img(src="img/whatsapp/features-img-18.png", alt="")
              p Help guests receive service,  get booking assistance and receive 24/7 instant resolution to queries.
              b For Hotels | Resorts
              .whatsapp__features__block__btn
                a(href="#")
                  i.icon.icon-play
                a(href="#")
                  i.icon.icon-arrow_left-cicle
            .whatsapp__features__block
              h4 Beauty Bot
                img(src="img/whatsapp/features-img-21.png", alt="")
              p Help customers get beauty tips, book appointments, purchase products and collect feedback in a brand new way.
              b For Beauty Salons | Beauty Clinics
              .whatsapp__features__block__btn
                a(href="#")
                  i.icon.icon-play
                a(href="#")
                  i.icon.icon-arrow_left-cicle









        .whatsapp__features__section
          strong Bots For Business Outreach
          .whatsapp__features__row
            .whatsapp__features__block
              h4 Corporate Card Bot 
                img(src="img/whatsapp/features-img-2.png", alt="")
              p Connect, engage and network with contacts over WhatsApp and Messenger with Humanized Automation.
              b For Leaders | CEOs | Sales Executive 
              .whatsapp__features__block__btn
                a(href="#")
                  i.icon.icon-play
                a(href="#")
                  i.icon.icon-arrow_left-cicle
            .whatsapp__features__block
              h4 Business Card Bot 
                img(src="img/whatsapp/features-img-3.png", alt="")
              p Connect, engage and network with contacts over WhatsApp and Messenger with Humanized Automation.
              b  
              .whatsapp__features__block__btn
                a(href="#")
                  i.icon.icon-play
                a(href="#")
                  i.icon.icon-arrow_left-cicle
            .whatsapp__features__block
              h4 Reseller Bot
                img(src="img/whatsapp/features-img-4.png", alt="")
              p Connect, engage, network and support contacts and customers over WhatsApp and Messenger with Humanized Automation.
              b For Resellers | Channel Partners
              .whatsapp__features__block__btn
                a(href="#")
                  i.icon.icon-play
                a(href="#")
                  i.icon.icon-arrow_left-cicle









        .whatsapp__features__section
          strong Bots for HR
          .whatsapp__features__row
            .whatsapp__features__block
              h4 Employee Engagement Bot
                img(src="img/whatsapp/features-img-5.png", alt="")
              p Empowerment for hassled & understaffed HR teams struggling to engage and communicate effectively with remote teams.
              b For People Experience and HR Heads & Teams
              .whatsapp__features__block__btn
                a(href="#")
                  i.icon.icon-play
                a(href="#")
                  i.icon.icon-arrow_left-cicle
            .whatsapp__features__block
              h4 Hiring Bot
                img(src="img/whatsapp/features-img-6.png", alt="")
              p Qualify more candidates, reduce time-to-hire and improve candidate experience in remote hiring era.
              b For Talent Acquisition Teams | HR Heads
              .whatsapp__features__block__btn
                a(href="#")
                  i.icon.icon-play
                a(href="#")
                  i.icon.icon-arrow_left-cicle
        



        .whatsapp__features__section
          strong Bots for Information 
          .whatsapp__features__row
            .whatsapp__features__block
              h4 Covid19 Bot
                img(src="img/whatsapp/features-img-1.png", alt="")
              p Help people and communities stay safe, communicate reliably and efficiently tackle the ongoing crisis and beyond.
              b For NGOs | Govt | Health Institutions
              .whatsapp__features__block__btn
                a(href="#")
                  i.icon.icon-play
                a(href="#")
                  i.icon.icon-arrow_left-cicle




        .whatsapp__features__section
          strong Bots for E-Commerce
          .whatsapp__features__row
            .whatsapp__features__block
              h4 Order and Delivery Bot - 1
                img(src="img/whatsapp/features-img-12.png", alt="")
              p Let customers place orders, make payments and check order status with the ease of messaging.
              b For Grocery | Retail Products | Healthcare Products | Food & Beverages
              .whatsapp__features__block__btn
                a(href="#")
                  i.icon.icon-play
                a(href="#")
                  i.icon.icon-arrow_left-cicle
            .whatsapp__features__block
              h4 Order and Delivery Bot - 2 
                img(src="img/whatsapp/features-img-13.png", alt="")
              p Let customers place orders, make payments and check order status with a blend of messaging and e-commerce application. 
              b For Grocery | Retail Products | Healthcare Products | Food & Beverages
              .whatsapp__features__block__btn
                a(href="#")
                  i.icon.icon-play
                a(href="#")
                  i.icon.icon-arrow_left-cicle
        .whatsapp__features__section
          strong Bots for Healthcare 
          .whatsapp__features__row
            .whatsapp__features__block
              h4 Hospital Bot
                img(src="img/whatsapp/features-img-14.png", alt="")
              p Give hospital staff a virtual agent to manage patient queries, book appointments and sell hospital services.
              b Hospitals | Clinics
              .whatsapp__features__block__btn
                a(href="#")
                  i.icon.icon-play
                a(href="#")
                  i.icon.icon-arrow_left-cicle
            .whatsapp__features__block
              h4 Order and Delivery Bot - 1
                img(src="img/whatsapp/features-img-12.png", alt="")
              p Let customers place orders, make payments and check order status with a blend of messaging and e-commerce application. 
              b Grocery | Retail Products | Healthcare Products | Food & Beverages
              .whatsapp__features__block__btn
                a(href="#")
                  i.icon.icon-play
                a(href="#")
                  i.icon.icon-arrow_left-cicle
            .whatsapp__features__block
              h4 Covid 19 Bot
                img(src="img/whatsapp/features-img-16.png", alt="")
              p Help people and communities stay safe, communicate reliably and efficiently tackle the ongoing crisis and beyond.
              b For NGOs | Govt | Health Institutions
              .whatsapp__features__block__btn
                a(href="#")
                  i.icon.icon-play
                a(href="#")
                  i.icon.icon-arrow_left-cicle
 






        .whatsapp__features__section
          strong Bots for Education
          .whatsapp__features__row
            .whatsapp__features__block
              h4 E-Learning 
                img(src="img/whatsapp/features-img-19.png", alt="")
              p Help students receive educational material, live classes, learning support and access on-demand tests in a fun new way.
              b For Students
              .whatsapp__features__block__btn
                a(href="#")
                  i.icon.icon-play
                a(href="#")
                  i.icon.icon-arrow_left-cicle
            .whatsapp__features__block
              h4 School
                img(src="img/whatsapp/features-img-20.png", alt="")
              p Help parents and students interact with their school, pay bills, get authentic information and daily updates.
              b For Hotels | Resorts
              .whatsapp__features__block__btn
                a(href="#")
                  i.icon.icon-play
                a(href="#")
                  i.icon.icon-arrow_left-cicle


  block footer
    include partials/_footer