---
title: Brand Assets | NHANCE NOW
"description": "Collection of our assets that define our brand."
---
extends layouts/_layout
block content
  block header
    include partials/_header
  .brand-assets
    .brand-assets__intro
      .container
        h1 Brand assets
        p Our brand is a reflection of our customers, our team.
    .brand-assets__description.brand-assets__description--1
      .container
        h2 Short description
        p NHANCE NOW helps businesses leverage the convenience of conversational experiences to simplify the way their customers connect, interact and transact with them.
    .brand-assets__description.brand-assets__description--2
      .container
        h2 Boilerplate description
        p With Covid demolishing all the traditional ways of doing business, digital customer engagement is more important than ever. But with so many digital customer touch points, technical challenges, & compliance issues how does a business simplify the complexities of growing their digital business? It’s frustrating and time-consuming. Nearly every business today faces this challenge.
        p We help consumer business companies solve this with a complete digital business platform that brings together conversational Bots, automation tools and experts services in one place. It helps them automate their customer interactions, easily connect to messaging apps, voice assistants, social media and transform into a digital business. In other words…they can scale to any number of touch points, handle thousands of interactions daily without having to hire hundreds of resources or worry about their customer’s experience.
        p Based out of Bangalore (and now everywhere) , we work with consumer product and services companies in e-commerce, consumer retail, financial services, hospitality, healthcare and auto.
        p Our 100+ customers are spread across the SMB and Mid Market segment in India, Middle East and Africa.
    .brand-assets__logo
      .container
        p The NHANCE NOW logo can be used in pink or dark blue. Our logo should only be placed on top of a black, white, grey, or photo background. Always leave plenty of white space around the logo. Please don’t alter the NHANCE NOW logo in any way. Thanks!
        .brand-assets__logo__block.brand-assets__logo__block-dark
          a(href="https://app.box.com/s/e2xy33s782gpsu4dry0nsz9xfa5kxyrv" target="_blank" data-wow-duration="1s").brand-assets__logo__img.wow.flipInX
            img(src="img/brand-assets/logo-white.png", alt="")
          a(href="https://app.box.com/s/e2xy33s782gpsu4dry0nsz9xfa5kxyrv" target="_blank" data-wow-duration="1s").brand-assets__logo__img.wow.flipInX
            img(src="img/brand-assets/logo-mini-white.png", alt="")
        .brand-assets__logo__block.brand-assets__logo__block-white
          a(href="https://app.box.com/s/e2xy33s782gpsu4dry0nsz9xfa5kxyrv" target="_blank" data-wow-duration="1s").brand-assets__logo__img.wow.flipInX
            img(src="img/brand-assets/logo-dark.png", alt="")
          a(href="https://app.box.com/s/e2xy33s782gpsu4dry0nsz9xfa5kxyrv" target="_blank" data-wow-duration="1s").brand-assets__logo__img.wow.flipInX
            img(src="img/brand-assets/logo-mini-dark.png", alt="")
        .brand-assets__logo__block.brand-assets__logo__block-pink
          a(href="https://app.box.com/s/e2xy33s782gpsu4dry0nsz9xfa5kxyrv" target="_blank" data-wow-duration="1s").brand-assets__logo__img.wow.flipInX
            img(src="img/brand-assets/logo-pink.png", alt="")
          a(href="https://app.box.com/s/e2xy33s782gpsu4dry0nsz9xfa5kxyrv" target="_blank" data-wow-duration="1s").brand-assets__logo__img.wow.flipInX
            img(src="img/brand-assets/logo-mini-pink.png", alt="")
        a(href="https://app.box.com/s/e2xy33s782gpsu4dry0nsz9xfa5kxyrv" target="_blank").button Download all PNG versions here.
    .brand-assets__typography
      .container
        strong Typography
        h3 Our headline type is Eina03. We use it Big and Bold.
        h4 For secondary headlines, we use it bold and regular.
    .brand-assets__color
      .container
        h2 Color
        p Primarily we stick to pink, dark blue and grey shades. When we need some color, we dip into our color palette.
        .brand-assets__color__content
          .wow.flipInX(data-wow-duration="1s" style="background: #ff0057").brand-assets__color__block
            b #ff0057 
              span C=0 M=99 Y=51 K=0 pink
          .wow.flipInX(data-wow-duration="1s" style="background: #b783f9").brand-assets__color__block
            b #b783f9 
              span C=0 M=99 Y=51 K=0 Soft violet
          .wow.flipInX(data-wow-duration="1s" style="background: #2cfffe").brand-assets__color__block
            b #2cfffe 
              span C=0 M=99 Y=51 K=0 Vivid cyan
          .wow.flipInX(data-wow-duration="1s" style="background: #0ef7b5").brand-assets__color__block
            b #0ef7b5 
              span C=0 M=99 Y=51 K=0 lime green
          .wow.flipInX.brand-assets__color__block(data-wow-duration="1s" style="background: #131725")
            b #131725
              span C=0 M=99 Y=51 K=0 dark blue

          .wow.flipInX.brand-assets__color__block(data-wow-duration="1s" style="background: #e8e6f0")
            b #e8e6f0 
              span C=0 M=99 Y=51 K=0 Light grayish blue
          .wow.flipInX.brand-assets__color__block(data-wow-duration="1s" style="background: #f4f0eb")
            b #f4f0eb 
              span C=0 M=99 Y=51 K=0 Light grayish orange
          .wow.flipInX.brand-assets__color__block(data-wow-duration="1s" style="background: #e0e0e0")
            b #e0e0e0 
              span C=0 M=99 Y=51 K=0 Very light gray
          .wow.flipInX.brand-assets__color__block(data-wow-duration="1s" style="background: #9e9e9e")
            b #9e9e9e 
              span C=0 M=99 Y=51 K=0 Dark gray
          .wow.flipInX.brand-assets__color__block(data-wow-duration="1s" style="background: #616161")
            b #616161 
              span C=0 M=99 Y=51 K=0 Very dark gray

          .wow.flipInX.brand-assets__color__block(data-wow-duration="1s" style="background:#f5f5f5")
            b(style="color: #9e9e9e") #f5f5f5 
              span C=0 M=99 Y=51 K=0 Very light gray
          .wow.flipInX.brand-assets__color__block(data-wow-duration="1s" style="background:#fafafa")
            b(style="color: #9e9e9e") #e8e6f0 
              span C=0 M=99 Y=51 K=0 Very light gray

    .brand-assets__logo.brand-assets__logo--pictures
      .container
        h2 Pictures
        p Access pictures of our people, events & products.
        a(href="https://app.box.com/s/bro8wi69imbt1s97ivxmrnjzi8ivuzzu" target="_blank").button Download all PNG, JPG versions here. 
  block footer
    include partials/_footer