---
title: Bot Automation For Contactless Business
"description": "Ready to use WhatsApp Bot to automate sales, service and support to grow fast in the digital economy"
bodyClass: webinar--secondary
---
extends layouts/_layout
block content
  //- <!-- Hotjar Tracking Code for https://www.nhancenow.com/businessbot -->
  script.
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:2031151,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  .business-bot
    block header
      header.header-landing
        .container
          .header__content
            a(href="index.html").header__logo
              img(src="img/nhance-logo.svg")
    //END header
    .whatsapp__intro
      .container
        .row
          .col-lg-7.col-md-8
            .whatsapp__intro__title
              h1 Automate Your Business With WhatsApp Bot
              p tGet the digital automation platform that provides everythingyou need to automate lead generation, commerce, support and customer engagement over Whatsapp.
              a(href="#schedule" rel="modal:open") Create Yours NOW
                i.icon.icon-arrow-right
          .col-lg-5.col-md-4
            .whatsapp__intro__img
              img(src="img/business-bot/whats-app-screen.png", alt="")
   
    .midmarket__curated
      .container
        h2 Why Whatsapp is Popular Amongst Customers
        .midmarket__curated__row
          .midmarket__curated__block.midmarket__curated__block--1
            .midmarket__curated__img
              img(src="img/business-bot/midmarket__curated__img-1.png", alt="")
            p Instant gratification. Fastest channel for resolution of queries.
          .midmarket__curated__block.midmarket__curated__block--2
            .midmarket__curated__img
              img(src="img/business-bot/midmarket__curated__img-2.png", alt="")
            p Simple conversations allowing them to chat with businesses like they do with friends and family.
          .midmarket__curated__block.midmarket__curated__block--3
            .midmarket__curated__img
              img(src="img/business-bot/midmarket__curated__img-3.png", alt="")
            p Reach out to business instantly without the hassles of writing mails or dialing IVRs.

    .business-bot__whatsapp
      .container
        h2 Why is WhatsApp Popular Amongst Businesses
        .row
          .col-lg-4.col-md-6
            .business-bot__whatsapp__block(style="background-image: url('img/business-bot/business-bot__whatsapp-img-1.jpg');")
              p Zero friction adoption. People already spend upto 3 hours a day on WhatsApp.
          .col-lg-4.col-md-6
            .business-bot__whatsapp__block(style="background-image: url('img/business-bot/business-bot__whatsapp-img-2.jpg');")
              p Almost 50% cheaper to handle support queries than maintaining  expensive call centers.
          .col-lg-4.col-md-6
            .business-bot__whatsapp__block(style="background-image: url('img/business-bot/business-bot__whatsapp-img-3.jpg');")
              p Consistent high quality experience for every customer at scale.
 

    .business-bot__api
      .container
        h2 WhatsApp Business API Use Cases
        .row
          .col-lg-4
            .business-bot__api__block
              span 01
              strong Customer Support
              p Handle queries, live chat and digital assets for self service.
          .col-lg-4
            .business-bot__api__block
              span 02
              strong Sales
              p Promote products, book enquiries and answers FAQs.
          .col-lg-4
            .business-bot__api__block
              span 03
              strong Commerce
              p Purchases, order tracking, cancellations and order management.
          .col-lg-4
            .business-bot__api__block
              span 04
              strong Data Collection
              p KYC, Surveys, Feedback.
          .col-lg-4
            .business-bot__api__block
              span 05
              strong Booking & Scheduling
              p Services, appointments, interviews.
          .col-lg-4
            .business-bot__api__block
              span 06
              strong Corporate
              p HR, Hiring, Outreach & Corporate profile.




    .home__bots-whatsapp
      .container
        .home__bots-whatsapp__title
          h2 Meet WhatsApp Business Bots
        .swiper-container.swiper-bots
          .swiper-wrapper
            .swiper-slide
              .swiper-bots__slide
                .swiper-bots__img
                  img(src="img/business-bot/auto-sales.png", alt="")
                .swiper-bots__info
                  b Support Bot
                  p Automate customer service, sell add-on products, trigger smart notifications and help customers discover great deals.
                strong For Insurance Companies | Insurance Agents | Insurance Advisory Firms
                .swiper-bots__btn
                  iframe(src="https://www.youtube.com/embed/4TURWLYlJBs" style="display:none")
                  a(href="#video-page" rel="modal:open")
                    i.icon.icon-play
                    | Watch Video
                  //- a(href="#")
                  //-   i.icon.icon-arrow_left-cicle
            .swiper-slide
              .swiper-bots__slide
                .swiper-bots__img
                  img(src="img/business-bot/driving-school.png", alt="")
                .swiper-bots__info
                  b Commerce Bot
                  p Let customers browse products, place orders and receive support with the ease of messaging.
                strong For Insurance Companies | Insurance Agents | Insurance Advisory Firms
                .swiper-bots__btn
                  iframe(src="https://www.youtube.com/embed/7xmFtatB52I" style="display:none")
                  a(href="#video-page" rel="modal:open")
                    i.icon.icon-play
                    | Watch Video
                  //- a(href="#")
                  //-   i.icon.icon-arrow_left-cicle
            .swiper-slide
              .swiper-bots__slide
                .swiper-bots__img
                  img(src="img/business-bot/IVR-.png", alt="")
                .swiper-bots__info
                  b IVR Bot
                  p Replace expensive, hard to manage call centres with automated self-service channels for 24/7 support.
                strong For Insurance Companies | Insurance Agents | Insurance Advisory Firms
                .swiper-bots__btn
                  iframe(src="https://www.youtube.com/embed/PQQGD7kZ2wE" style="display:none")
                  a(href="#video-page" rel="modal:open")
                    i.icon.icon-play
                    | Watch Video
                  //- a(href="#")
                  //-   i.icon.icon-arrow_left-cicle
            .swiper-slide
              .swiper-bots__slide
                .swiper-bots__img
                  img(src="img/business-bot/lead-gen-bot.png", alt="")
                .swiper-bots__info
                  b Lead Gen Bot
                  p Never miss a lead. Capture enquiries, gain insights on what customers are looking and engage contextually.
                strong For Insurance Companies | Insurance Agents | Insurance Advisory Firms
                .swiper-bots__btn
                  iframe(src="https://www.youtube.com/embed/s2f-egLNMho" style="display:none")
                  a(href="#video-page" rel="modal:open")
                    i.icon.icon-play
                    | Watch Video
                  //- a(href="#")
                  //-   i.icon.icon-arrow_left-cicle
            .swiper-slide
              .swiper-bots__slide
                .swiper-bots__img
                  img(src="img/business-bot/real-estate.png", alt="")
                .swiper-bots__info
                  b HR Bot
                  p Empowerment for hassled & understaffed HR teams struggling to engage and communicate effectively with remote teams.
                strong For Consumer Electronics | Furnitures | Other Consumer Products
                .swiper-bots__btn
                  iframe(src="https://www.youtube.com/embed/cPSEMtYEKoM" style="display:none")
                  a(href="#video-page" rel="modal:open")
                    i.icon.icon-play
                    | Watch Video
                  //- a(href="#")
                  //-   i.icon.icon-arrow_left-cicle
            .swiper-slide
              .swiper-bots__slide
                .swiper-bots__img
                  img(src="img/business-bot/travel.png", alt="")
                .swiper-bots__info
                  b Hospital Bot
                  p Gives hospital staff a virtual agent to manage patient queries, book appointments and sell hospital services.
                strong For Insurance Companies | Insurance Agents | Insurance Advisory Firms
                .swiper-bots__btn
                  iframe(src="https://www.youtube.com/embed/g4uymyA9xDk" style="display:none")
                  a(href="#video-page" rel="modal:open")
                    i.icon.icon-play
                    | Watch Video
                  //- a(href="#")
                  //-   i.icon.icon-arrow_left-cicle
            .swiper-slide
              .swiper-bots__slide
                .swiper-bots__img
                  img(src="img/business-bot/commerce.png", alt="")
                .swiper-bots__info
                  b Auto Sales Bot
                  p Promote products, help customer discover financing deals and collect enquires to increase sales.
                strong For Insurance Companies | Insurance Agents | Insurance Advisory Firms
                .swiper-bots__btn
                  iframe(src="https://www.youtube.com/embed/FDx3GqXzuwU" style="display:none")
                  a(href="#video-page" rel="modal:open")
                    i.icon.icon-play
                    | Watch Video
                  //- a(href="#")
                  //-   i.icon.icon-arrow_left-cicle
            .swiper-slide
              .swiper-bots__slide
                .swiper-bots__img
                  img(src="img/business-bot/hospital.png", alt="")
                .swiper-bots__info
                  b Travel Booking Bot 
                  p Push great deals, check out trending locations, talk to customer support and collect feedback to build loyal customer base. 
                strong For Grocery | Retail Products | Healthcare Products | Food & Beverages
                .swiper-bots__btn
                  iframe(src="https://www.youtube.com/embed/-NNv2-HN4yg" style="display:none")
                  a(href="#video-page" rel="modal:open")
                    i.icon.icon-play
                    | Watch Video
                  //- a(href="#")
                  //-   i.icon.icon-arrow_left-cicle
            .swiper-slide
              .swiper-bots__slide
                .swiper-bots__img
                  img(src="img/business-bot/hr.png", alt="")
                .swiper-bots__info
                  b Driving School Bot 
                  p Automate the entire life cycle of the course management from booking classes and tests, fee payment and customer support.
                strong For Insurance Companies | Insurance Agents | Insurance Advisory Firms
                .swiper-bots__btn
                  iframe(src="https://www.youtube.com/embed/Ngya2rkHD1A" style="display:none")
                  a(href="#video-page" rel="modal:open")
                    i.icon.icon-play
                    | Watch Video
                  //- a(href="#")
                  //-   i.icon.icon-arrow_left-cicle
            .swiper-slide
              .swiper-bots__slide
                .swiper-bots__img
                  img(src="img/business-bot/support.png", alt="")
                .swiper-bots__info
                  b Real Estate Bot
                  p Give customers a remote tour of properties, answer queries, send payment reminders and share progress of constructions. 
                strong For Insurance Companies | Insurance Agents | Insurance Advisory Firms
                .swiper-bots__btn
                  iframe(src="https://www.youtube.com/embed/B0w0svyyHlo" style="display:none")
                  a(href="#video-page" rel="modal:open")
                    i.icon.icon-play
                    | Watch Video
                  //- a(href="#")
                  //-   i.icon.icon-arrow_left-cicle
          .swiper-bots-next.swiper-button-next
            i.icon.icon-arrow_left-cicle
          .swiper-bots-prev.swiper-button-prev
            i.icon.icon-arrow_right-circle



    .business-bot__benefist
      .container
        h2 How Can We Help?
        .row
          .col-lg-4
            .business-bot__benefist__block.business-bot__benefist__block--1
              .business-bot__benefist__img
                img(src="img/business-bot/business-bot__benefist-img-1.png", alt="")
              strong Bot Automation Reduces Support Cost.
          .col-lg-4
            .business-bot__benefist__block.business-bot__benefist__block--2
              .business-bot__benefist__img
                img(src="img/business-bot/business-bot__benefist-img-3.png", alt="")
              strong Increased engagement, higher life time value.
          .col-lg-4
            .business-bot__benefist__block.business-bot__benefist__block--3
              .business-bot__benefist__img
                img(src="img/business-bot/business-bot__benefist-img-2.png", alt="")
              strong Easiest channel to maximize reach and service.



    .business-bot__help
      .container
        h2 How Can We Help?
        .row
          .col-lg-4
            .business-bot__help__block
              img(src="img/business-bot/whatsapp.png", alt="")
              h4 Setup your WhatsApp Business Account
          .col-lg-4
            .business-bot__help__block
              img(src="img/business-bot/provide.png", alt="")
              h4 Provide you with a Bot platform
          .col-lg-4
            .business-bot__help__block
              img(src="img/business-bot/roi.png", alt="")
              h4 Implement the best Bot practices for max ROI
      

    .pricing
      .pricing__title
        .container
          h1 Pricing
        .pricing__select
          strong Select Currency
          ul
            li(data="usd").active $USD
            li(data="inr") ₹ INR
      .container
        .pricing__tariff
          table
            col(span="5")
            thead
              tr
                th
                th
                  h4 Basic
                  span Ideal for SMB
                  a(href="#schedule" rel="modal:open") Start 7-day Free Trial
                th
                  b Most Popular Plan
                  h4 Pro
                  span Ideal for SMB
                  a(href="#schedule" rel="modal:open") Start 7-day Free Trial
                th
                  h4 Advanced
                  span Ideal for SMB
                  a(href="#schedule" rel="modal:open") Start 7-day Free Trial
                th
                  .pricing__tariff__img
                    img(src="img/medal.png", alt="")
                  h4 Premium
                  span Ideal for Mid-market & Enterprise
                  a(href="#schedule" rel="modal:open") Contact Sales
            tbody
              tr
                td Setup Fee
                td 
                  span.usd $100
                  span.inr ₹5000
                td 
                  span.usd $250
                  span.inr ₹10000
                td 
                  span.usd $500
                  span.inr ₹10000
                td Custom
              tr
                td Monthly Platform Usage Fees
                td 
                  span.usd $199
                  span.inr ₹15000
                td 
                  span.usd $299
                  span.inr ₹25000
                td 
                  span.usd $499
                  span.inr ₹40000
                td Custom
              tr
                td No of Users
                td 
                  span.usd upto 5000
                  span.inr upto 5000
                td 
                  span.usd upto 10000
                  span.inr upto 10000
                td 
                  span.usd upto 20000
                  span.inr upto 20000
                td Custom
              tr
                td Additional Storage per 50 GB
                  span (Beyond Free Limit)
                td 
                  span.usd $20
                  span.inr ₹1000
                td 
                  span.usd $20
                  span.inr ₹1000
                td 
                  span.usd $20
                  span.inr ₹1000
                td Custom
              tr
                td(colspan="5")
                  strong WHATSAPP MESSAGING COST
            tfoot
              tr
                td Session Message Cost
                td
                  a(href="contact.html") Talk to Sales
                td
                  a(href="contact.html") Talk to Sales
                td
                  a(href="contact.html") Talk to Sales
                td
                  a(href="contact.html") Talk to Sales
              tr
                td Notification Message Cost
                  span (Standard as per WhatsApp defined fees, calculated on the basis of destination country of the message)
                  span Varies form country to country
                td
                  a(href="https://developers.facebook.com/docs/whatsapp/pricing#usd" target="_blank") https://developers.facebook.com/docs/whatsapp/pricing#usd
                td
                  a(href="https://developers.facebook.com/docs/whatsapp/pricing#usd" target="_blank") https://developers.facebook.com/docs/whatsapp/pricing#usd
                td
                  a(href="https://developers.facebook.com/docs/whatsapp/pricing#usd" target="_blank") https://developers.facebook.com/docs/whatsapp/pricing#usd
                td
                  a(href="https://developers.facebook.com/docs/whatsapp/pricing#usd" target="_blank") https://developers.facebook.com/docs/whatsapp/pricing#usd

        a(href="#pay" rel="modal:open").btn-all-features See all features
          i.icon.icon-arrow-right
        p.pricing__tariff__info Not sure which plan to choose? Need a Starter plan? Contact our sales team for more.
          a(href="mailto:sales@nhancenow.com") sales@nhancenow.com


  

    .whatsapp__baner
      .container
        .whatsapp__title
          h2 Activate your first Business Bot in minutes
          p Design your first bot on the next few screens then sample it on your own WhatsApp/FB Messenger account
        a(href="https://forms.gle/LVCDFJn4YrbH7H188" target="_blank") START NOW
          i.icon.icon-arrow-right


    block footer
      footer.whatsapp__footer
        .container  
          .whatsapp__footer__row
            .footer__logo.whatsapp__footer__block
              img(src="img/n-icon.svg")
              p Inspirion Digital Solutions Pvt Ltd 
                span (Parent Company of NHANCE NOW)
            .footer__social.whatsapp__footer__block
              a(href="https://twitter.com/nhancenow?lang=cs" target="_blank")
                i.icon.icon-twitter
              a(href="https://www.facebook.com/nhancenow/" target="_blank")
                i.icon.icon-fb
              a(href="https://in.linkedin.com/company/nhancenow" target="_blank")
                i.icon.icon-in
            .footer__copyright.whatsapp__footer__block
              p Copyright ©2020 Inspirion Digital Solutions pvt ltd. All rights reserved.
            .footer__policy.whatsapp__footer__block
              a(target="_blank" href="policy.html") Privacy Policy 
              span |
              a(target="_blank" href="service.html") Terms of Use