---
title: Careers Details
---
extends layouts/_layout
block content
  block header
    include partials/_header
  .careers.careers--details
    .intro
      .container
        h1 Great work. Greater teamwork.
    .careers__details
      .container
        .row
          .col-lg-7
            .careers__details__block
              b CAREERS
              h2 Lead UI Designer
              h3 Exp: 6+ Years Bangalore, Full-time
              p Lead the user interface team across all our client projects. Be the custodian of visual excellence.
            .careers__details__block
              h2 Role :
              ul
                li Solve complex product design challenges for clients.
                li Communicate & validate your design decisions.
                li Work on sketch/adobe/figma to deliver stunning visuals.
                li Mentor other designers to excel at the craft.
                li Plan & design interfaces across projects & devices.
                li Collaborate with other designers & stakeholders.
            .careers__details__block
              h2 Experience & Mindset :
              ul
                li You have 3+ years of experience in leading a design team of atleast 4 people.
                li Hands on expertise in color theory, typography, illustrations, grids is a must.
                li You possess an outstanding eye for detail & speed.
                li You have a good understanding of HTML/CSS/Javascipt.
                li You have working knowledge on motion & branding.
                li Ability to plan & deliver on time is necessary.
                li You possess excellent written & verbal communication skills.
                li It's a bonus if you have a good sense of humour.
          .col-lg-4.offset-lg-1
            .careers__details__aside
              div
                img(src="https://via.placeholder.com/113x126.png", alt="").careers__details__img
                b APPLY TO
                a(href="mailto:pex@nhancenow.com") pex@nhancenow.com
              div
                b apply through whatsapp
                a(href="tel:+18563734808") +1 856 373 4808
                  img(src="img/careers/whatsapp.png", alt="")
                p Lead the user interface team across all our client projects. Be the custodian of visual excellence.

  block footer
    include partials/_footer