---
title: Careers
---
extends layouts/_layout
block content
  block header
    include partials/_header
  .careers
    .intro
      .container
        h1 Great work. Greater teamwork.
        h3 "The work is great, my colleagues are amazing, and the lighting is incredibly flattering."
        p Nishith Patnaik
          span Head - Product & Marketing
        a(href="#") team page
    .careers__what
      .container
        h2 What Nhance Now Stands for, Every Day
        .row
          .col-lg-4
            .careers__what__block
              span 01
              h4 BLOW OUR CUSTOMERS' MINDS
              p Boxers wake up every morning and think about how they can make our customers happy. We're always asking, "What can we do better?"
          .col-lg-4
            .careers__what__block
              span 02
              h4 BRING YOUR ____ SELF TO WORK
              p Boxers wake up every morning and think about how they can make our customers happy. We're always asking, "What can we do better?"
          .col-lg-4
            .careers__what__block
              span 03
              h4 BE AN OWNER. IT'S YOUR COMPANY TOO.
              p Boxers wake up every morning and think about how they can make our customers happy. We're always asking, "What can we do better?"
    .careers__position
      .container
        h2 Open Positions
        .row
          .col-lg-6
            .careers__position__block
              h3 Sales Specialist
                b delhi
              p 4+ years experience
              a(href="#") 
                i.icon.icon-arrow-right-2
          .col-lg-6.justify-content-lg-end.flex
            .careers__position__block
              h3 Lead UX Designer
                b BANGALORE
              p 4+ years experience
              a(href="#") 
                i.icon.icon-arrow-right-2
          .col-lg-6
            .careers__position__block
              h3 Lead Web Developer
                b BANGALORE
              p 4+ years experience
              a(href="#") 
                i.icon.icon-arrow-right-2
          .col-lg-6.justify-content-lg-end.flex
            .careers__position__block
              h3 Sales Specialist
                b BANGALORE
              p 4+ years experience
              a(href="#") 
                i.icon.icon-arrow-right-2
          .col-lg-6
            .careers__position__block
              h3 Sales Specialist
                b BANGALORE
              p 4+ years experience
              a(href="#") 
                i.icon.icon-arrow-right-2
          .col-lg-6.justify-content-lg-end.flex
            .careers__position__block
              h3 Sales Specialist
                b BANGALORE
              p 4+ years experience
              a(href="#") 
                i.icon.icon-arrow-right-2
    .careers__gallery
      .container
        .row
          .col-lg-6
            .careers__gallery__block(style="background-image: url('https://via.placeholder.com/625x625.png')") Team Lunch
          .col-lg-6
            .row
              .col-md-6
                .careers__gallery__block.careers__gallery__block--secondary(style="background-image: url('https://via.placeholder.com/625x625.png')") diwali celebration
              .col-md-6
                .careers__gallery__block.careers__gallery__block--secondary(style="background-image: url('https://via.placeholder.com/625x625.png')") x’mas celebration
              .col-md-6
                .careers__gallery__block.careers__gallery__block--secondary(style="background-image: url('https://via.placeholder.com/625x625.png')") holy celebration
              .col-md-6
                .careers__gallery__block.careers__gallery__block--secondary(style="background-image: url('https://via.placeholder.com/625x625.png')") onam celebration
              




  block footer
    include partials/_footer