---
title: Careers | NHANCE NOW
"description": "Be a part of the next chapter in digital customer engagement, with the power of conversations"
---
extends layouts/_layout
block content
  block header
    include partials/_header
  .careers
    .intro
      .container
        h1 Join the Team
        p At Nhance Now, we pride ourselves on developing products that make the world friendlier for the digitally empowered generation.We believe in empowering our Customers by delivering an immersive end to end post purchase experience and enabling the next era of Digital transformation.
        p We are constantly in hunt for talented partners who are ardent about innovation , designing great products,building agile platforms and enriching customer experience. If this describes you, take the next step to become a part of our wonderful team!
    .careers__what
      .container
        h2 Nhance - Edge <br>Key differentiating factors that shape us
        .careers__what__row
          .careers__what__block
            img(src="img/careers/what-img-1.png", alt="")
            span 01
            h4 Perception
            p Amazing , Open & Vibrant Culture
          .careers__what__block
            img(src="img/careers/what-img-2.png", alt="")
            span 02
            h4 Empower
            p Faster & Efficient Process
          .careers__what__block
            img(src="img/careers/what-img-3.png", alt="")
            span 03
            h4 Ownership
            p Freedom & Flexibility to work on High Impact Problems
          .careers__what__block
            img(src="img/careers/what-img-4.png", alt="")
            span 04
            h4 Agility
            p Possibility to create cross functional, small and agile teams to move fast towards a solution
          .careers__what__block
            img(src="img/careers/what-img-1.png", alt="")
            span 05
            h4 Work
            p Strive to maintain work life balance for yourself as well for others with a combination of putting in one’s 100% to create a success story for self and company. 
    .careers__values
      .container
        h2 Values
        .row
          .col-lg-4
            .careers__values__block(style="background: #3a33bc")
              .careers__values__block__img
                img(src="img/careers/values-img-01.png", alt="")
              h4 Passion
              p Our commitment in heart and mind 
          .col-lg-4
            .careers__values__block(style="background: #2870e5")
              .careers__values__block__img
                img(src="img/careers/values-img-02.png", alt="")
              h4 Speed
              p Our ability to learn, adapt and deliver 
          .col-lg-4
            .careers__values__block(style="background: #41414f")
              .careers__values__block__img
                img(src="img/careers/values-img-03.png", alt="")
              h4 Service Excellence
              p Consistently delivering services that exceed 
    .careers__partners
      .container
        h2 Partner’s First
        .careers__partners__row
          .careers__partners__block
            h4 Wellness
            .careers__partners__block__img(style="background-image: url('img/careers/partners-01.png')")
          .careers__partners__block
            h4 Coach
            .careers__partners__block__img(style="background-image: url('img/careers/partners-02.png')")
          .careers__partners__block
            h4 PEP
            .careers__partners__block__img(style="background-image: url('img/careers/partners-03.png')")
          .careers__partners__block
            h4 Women Empowerment
            .careers__partners__block__img(style="background-image: url('img/careers/partners-04.png')")
          .careers__partners__block
            h4 Engage
            .careers__partners__block__img(style="background-image: url('img/careers/partners-05.png')")
    .careers__position
      .container
        h2 Open Positions
        .row
          .col-lg-6
            .careers__position__block
              h3 Front End Developer
                b BANGALORE
              p 6+ years experience
              a(href="front-end-developer.html") 
                i.icon.icon-arrow-right-2
          .col-lg-6.justify-content-lg-end.flex
            .careers__position__block
              h3 Sales Intern
                b BANGALORE
              p Final Year PGDM/MBA/BBN/BBA/BCOM Student
              a(href="sales-intern.html") 
                i.icon.icon-arrow-right-2
          .col-lg-6
            .careers__position__block
              h3 Inside Sales Manager - SaaS
                b BANGALORE
              p 4+ years experience
              a(href="inside-sales-manager.html") 
                i.icon.icon-arrow-right-2
          .col-lg-6.justify-content-lg-end.flex
            .careers__position__block
              h3 Conversational Analyst
                b BANGALORE
              p 2+ years experience
              a(href="conversational-analyst.html") 
                i.icon.icon-arrow-right-2
          .col-lg-6
            .careers__position__block
              h3 Inside Sales Representative
                b BANGALORE
              p Freshers (MBA in Sales & Marketing)
              a(href="inside-sales-representative.html") 
                i.icon.icon-arrow-right-2
          .col-lg-6.justify-content-lg-end.flex
            .careers__position__block
              h3 Data Scientist
                b BANGALORE
              p 4+ years experience
              a(href="data-scientist.html") 
                i.icon.icon-arrow-right-2
          .col-lg-6
            .careers__position__block
              h3 NLP Analyst
                b BANGALORE
              p 2+ years experience
              a(href="nlp-analyst") 
                i.icon.icon-arrow-right-2
    .careers__gallery
      .container
        .row
          .col-lg-6
            .careers__gallery__block.careers__gallery__block--primary(style="background-image: url('img/careers/acivity-01.png')")
          .col-lg-6
            .row
              .col-md-6
                .careers__gallery__block.careers__gallery__block--secondary(style="background-image: url('img/careers/acivity-02.png')")
              .col-md-6
                .careers__gallery__block.careers__gallery__block--secondary(style="background-image: url('img/careers/acivity-03.png')")
              .col-md-6
                .careers__gallery__block.careers__gallery__block--secondary(style="background-image: url('img/careers/acivity-04.png')")
              .col-md-6
                .careers__gallery__block.careers__gallery__block--secondary(style="background-image: url('img/careers/acivity-05.png')")
              




  block footer
    include partials/_footer