---
title: Careers | NHANCE NOW
"description": Be a part of the next chapter in digital customer engagement, with the power of conversations
---
extends layouts/_layout
block content
  block header
    include partials/_header
  .careers
    .intro
      .container
        h1 Join the Team
        p At Nhance Now, we pride ourselves on developing products that make the world friendlier for the digitally empowered generation.We believe in empowering our Customers by delivering an immersive end to end post purchase experience and enabling the next era of Digital transformation.
        p We are constantly in hunt for talented partners who are ardent about innovation , designing great products, building agile platforms and enriching customer experience. If this describes you, take the next step to become a part of our wonderful team!
    .about-us__culture
      .container
        h2 Our culture code
        .row.no-gutters
          .col-xl-3.col-md-6.col-12.wow.zoomIn(data-wow-duration="1s")
            .about-us__culture__block.about-us__culture__block-1(style="background-image: url('img/about/value-01.jpg')")
              h3 You are a Partner 
              p Think, act and interact like <br>a Partner 
          .col-xl-3.col-md-6.col-12.wow.zoomIn(data-wow-duration="1s")
            .about-us__culture__block.about-us__culture__block-2(style="background-image: url('img/about/value-02.jpg')")
              h3 Culture of Trust
              p Honesty & Transparency
          .col-xl-3.col-md-6.col-12.wow.zoomIn(data-wow-duration="1s")
            .about-us__culture__block.about-us__culture__block-3(style="background-image: url('img/about/value-03.jpg')")
              h3 Respect Everyone
              p Be humble and empathetic
          .col-xl-3.col-md-6.col-12.wow.zoomIn(data-wow-duration="1s")
            .about-us__culture__block.about-us__culture__block-4(style="background-image: url('img/about/value-04.jpg')")
              h3 Customer Obsession
              p Customer  > Company > Team > Self 
          .col-xl-3.col-md-6.col-12.wow.zoomIn(data-wow-duration="1s")
            .about-us__culture__block.about-us__culture__block-5(style="background-image: url('img/about/value-05.jpg')")
              h3 Empower Everyone
              p Together we make the difference empower everyone 
          .col-xl-3.col-md-6.col-12.wow.zoomIn(data-wow-duration="1s")
            .about-us__culture__block.about-us__culture__block-6(style="background-image: url('img/about/value-06.jpg')")
              h3 Keep it Simple
              p Simplicity is the ultimate sophistication
          .col-xl-3.col-md-6.col-12.wow.zoomIn(data-wow-duration="1s")
            .about-us__culture__block.about-us__culture__block-7(style="background-image: url('img/about/value-07.jpg')")
              h3 Inspire
              p Passion to energize, engage and inspire others
          .col-xl-3.col-md-6.col-12.wow.zoomIn(data-wow-duration="1s")
            .about-us__culture__block.about-us__culture__block-8(style="background-image: url('img/about/value-08.jpg')")
              h3 Think Big
              p Environment for everyone to think big, have fun, do what is right and become the best version of oneself 
    //- .careers__what
    //-   .container
    //-     h2 Nhance - Edge <br>Key differentiating factors that shape us
    //-     .careers__what__row
    //-       .careers__what__block
    //-         img(src="img/careers/what-img-1.png", alt="")
    //-         span 01
    //-         h4 Perception
    //-         p Amazing , Open & Vibrant Culture
    //-       .careers__what__block
    //-         img(src="img/careers/what-img-2.png", alt="")
    //-         span 02
    //-         h4 Empower
    //-         p Faster & Efficient Process
    //-       .careers__what__block
    //-         img(src="img/careers/what-img-3.png", alt="")
    //-         span 03
    //-         h4 Ownership
    //-         p Freedom & Flexibility to work on High Impact Problems
    //-       .careers__what__block
    //-         img(src="img/careers/what-img-4.png", alt="")
    //-         span 04
    //-         h4 Agility
    //-         p Possibility to create cross functional, small and agile teams to move fast towards a solution
    //-       .careers__what__block
    //-         img(src="img/careers/what-img-1.png", alt="")
    //-         span 05
    //-         h4 Work
    //-         p Strive to maintain work life balance for yourself as well for others with a combination of putting in one’s 100% to create a success story for self and company. 
    //- .careers__values
    //-   .container
    //-     h2 Values
    //-     .row
    //-       .col-lg-4
    //-         .careers__values__block(style="background: #3a33bc")
    //-           .careers__values__block__img
    //-             img(src="img/careers/values-img-01.png", alt="")
    //-           h4 Passion
    //-           p Our commitment in heart and mind 
    //-       .col-lg-4
    //-         .careers__values__block(style="background: #2870e5")
    //-           .careers__values__block__img
    //-             img(src="img/careers/values-img-02.png", alt="")
    //-           h4 Speed
    //-           p Our ability to learn, adapt and deliver 
    //-       .col-lg-4
    //-         .careers__values__block(style="background: #41414f")
    //-           .careers__values__block__img
    //-             img(src="img/careers/values-img-03.png", alt="")
    //-           h4 Service Excellence
    //-           p Consistently delivering services that exceed 
    //- .careers__partners
    //-   .container
    //-     h2 Partner’s First
    //-     .careers__partners__row
    //-       .careers__partners__block
    //-         h4 Wellness
    //-         .careers__partners__block__img(style="background-image: url('img/careers/partners-01.png')")
    //-       .careers__partners__block
    //-         h4 Coach
    //-         .careers__partners__block__img(style="background-image: url('img/careers/partners-02.png')")
    //-       .careers__partners__block
    //-         h4 PEP
    //-         .careers__partners__block__img(style="background-image: url('img/careers/partners-03.png')")
    //-       .careers__partners__block
    //-         h4 Women Empowerment
    //-         .careers__partners__block__img(style="background-image: url('img/careers/partners-04.png')")
    //-       .careers__partners__block
    //-         h4 Engage
    //-         .careers__partners__block__img(style="background-image: url('img/careers/partners-05.png')")
    
    .careers__improve
      .container
        h2 Get enhanced in our Nhance way…!
        .row
          .col-lg-4
            .careers__improve__block.careers__improve__block--primary
              h4 Shape your Career Aspiration with true innovators
              p Your work will be recognized (as will your failures) & what you do will have a visible impact!
          .col-lg-4
            .careers__improve__block
              h4 Experience the bliss of Happiness & Success together
              p Enjoy a great Work life balance with our awesome work atmosphere and do what you love!
          .col-lg-4
            .careers__improve__block.careers__improve__block--primary
              h4 Voice Out as we Trust you!
              p You're an important aspect of our business, share your thoughts and ideas & learn more about Entrepreneurship
          .col-lg-4
            .careers__improve__block
              h4 Catapult your success story - Room to learn & explore
              p More opportunities, more learning & more responsibilities
          .col-lg-4
            .careers__improve__block.careers__improve__block--primary
              h4 Get introduced to diverse responsibilities
              p Stop being pigeonholed & go hot …  an opportunity to do work that helps you master a variety of transferable skills across roles and industries
          .col-lg-4
            .careers__improve__block
              h4 Add ons...
              p Our total reward has diversified benefits which includes stock options, medical insurance, performance bonus, non cash reimbursement etc.
    
    .customer-success
      .container
        .swiper-container.swiper-home
          .swiper-wrapper
            .swiper-slide
              .customer-success__content
                .customer-success__text.wow.fadeInUp(data-wow-duration="1s")
                  h3 Our Partners Say...
                  p Working at Nhance Now is exciting &  I enjoy the opportunity provided to work in a pleasant multicultural environment along with excellent colleagues (THEY ARE CALLED PARTNERS HERE…). I am proud to be part of Nhance.
                  strong Android Developer
            .swiper-slide
              .customer-success__content
                .customer-success__text.wow.fadeInUp(data-wow-duration="1s")
                  h3 Our Partners Say...
                  p At Nhance we are always at the lookout to find tasks that can be automated and look for ways humans and bots can work together to empower the digital generation. 
                  strong Software Engineer
                  
            .swiper-slide
              .customer-success__content
                .customer-success__text.wow.fadeInUp(data-wow-duration="1s")
                  h3 Our Partners Say...
                  p My role at Nhance is Challenging and fun. Challenging because I have worked on many different tasks and challenges, both internally and on client projects. Fun because of the Open & Vibrant Culture along with  partners who have become good colleagues and friends.
                  strong CSM
                  
            .swiper-slide
              .customer-success__content
                .customer-success__text.wow.fadeInUp(data-wow-duration="1s")
                  h3 Our Partners Say...
                  p I've always been glad to work at Nhance Now because it is the right place to learn and execute my thoughts and ideas on innovative ways
                  strong Marketing
            .swiper-slide
              .customer-success__content
                .customer-success__text.wow.fadeInUp(data-wow-duration="1s")
                  h3 Our Partners Say...
                  p With my  time here at Nhance, I had the opportunity to learn some valuable skills in the fields of quality assurance, and  has helped teach me to utilize my work ethic and drive, to more effectively communicate with other partners on what they need to achieve on any given task, a skill that will no doubt prove invaluable for the rest of my life
                  strong QA
            .swiper-slide
              .customer-success__content
                .customer-success__text.wow.fadeInUp(data-wow-duration="1s")
                  h3 Our Partners Say...
                  p Nhance Now is a great place to grow and develop both personally and professionally. We have wonderful training programs that guide us through the career process and solve any hardships during my work.
                  strong Business Development
                  
        .swiper-home-next.swiper-button-next
          i.icon.icon-arrow_left-cicle
        .swiper-home-prev.swiper-button-prev
          i.icon.icon-arrow_right-circle
    
    .careers__position
      .container
        h2 Current Opportunities
        .row
          .col-lg-6
            .careers__position__block
              h3 Content Marketing Associate
                b BANGALORE
              p 2 to 4 Years
              a(href="content-marketing-associate.html") 
                i.icon.icon-arrow-right-2
          .col-lg-6.justify-content-lg-end.flex
            .careers__position__block
              h3 Sales Intern
                b BANGALORE
              p Final Year PGDM/MBA/BBN/BBA/BCOM Student
              a(href="sales-intern.html") 
                i.icon.icon-arrow-right-2
          .col-lg-6
            .careers__position__block
              h3 Front End Developer
                b BANGALORE
              p 4-7 years
              a(href="front-end-developer.html") 
                i.icon.icon-arrow-right-2
          .col-lg-6.justify-content-lg-end.flex
            .careers__position__block
              h3 Conversational Analyst
                b BANGALORE
              p 2+ years experience
              a(href="conversational-analyst.html") 
                i.icon.icon-arrow-right-2
          .col-lg-6
            .careers__position__block
              h3 Inside Sales Representative
                b BANGALORE
              p Freshers (MBA in Sales & Marketing)
              a(href="inside-sales-representative.html") 
                i.icon.icon-arrow-right-2
          .col-lg-6.justify-content-lg-end.flex
            .careers__position__block
              h3 Data Scientist
                b BANGALORE
              p 4+ years experience
              a(href="data-scientist.html") 
                i.icon.icon-arrow-right-2
          .col-lg-6
            .careers__position__block
              h3 Full Stack Java Developer 
                b BANGALORE
              p 3-6 years
              a(href="full-stack-java-developer.html") 
                i.icon.icon-arrow-right-2




          .col-lg-6.justify-content-lg-end.flex
            .careers__position__block
              h3 Head Global Partner Program
                b BANGALORE
              p 8-10 years
              a(href="head-global-partner-program.html") 
                i.icon.icon-arrow-right-2
          .col-lg-6
            .careers__position__block
              h3 Inside Sales Representative
                b BANGALORE
              p 0-2 years
              a(href="inside-sales-representative-2.html") 
                i.icon.icon-arrow-right-2
          .col-lg-6.justify-content-lg-end.flex
            .careers__position__block
              h3 Senior Manager
                b BANGALORE
              p Strategic Alliances and Partnerships
              a(href="senior-manager.html") 
                i.icon.icon-arrow-right-2
          .col-lg-6
            .careers__position__block
              h3 NLP ANALYST
                b BANGALORE
              a(href="nlp-analyst.html") 
                i.icon.icon-arrow-right-2
          .col-lg-6.justify-content-lg-end.flex
            .careers__position__block
              h3 Sr. Manager SaaS Sales (SMB & Mid-Market)
                b BANGALORE
              p 8-10 years
              a(href="manager-saas.html") 
                i.icon.icon-arrow-right-2
          .col-lg-6
            .careers__position__block
              h3 Product Analyst
                b BANGALORE
              p Experience – 2-4 years
              a(href="product-analyst.html") 
                i.icon.icon-arrow-right-2
    .careers__gallery
      .container
        h2 Life @ NHANCE NOW
        .row
          .col-lg-6
            .careers__gallery__block.careers__gallery__block--primary(style="background-image: url('img/careers/acivity-01.png')")
          .col-lg-6
            .row
              .col-md-6
                .careers__gallery__block.careers__gallery__block--secondary(style="background-image: url('img/careers/acivity-02.png')")
              .col-md-6
                .careers__gallery__block.careers__gallery__block--secondary(style="background-image: url('img/careers/acivity-03.png')")
              .col-md-6
                .careers__gallery__block.careers__gallery__block--secondary(style="background-image: url('img/careers/acivity-04.png')")
              .col-md-6
                .careers__gallery__block.careers__gallery__block--secondary(style="background-image: url('img/careers/acivity-05.png')")
              




  block footer
    include partials/_footer