---
title: Bot Automation Platform for WhatsApp Commerce
"description": "Bot Automation Platform that gives you all the tools you need to launch and manage your Digital store on WhatsApp"
bodyClass: webinar--secondary
---
extends layouts/_layout
block content

  .commerce-bot
    block header
      header.header-landing
        .container
          .header__content
            a(href="index.html").header__logo
              img(src="img/nhance-logo.svg")
    //END header
    
    .commerce-bot__intro
      .container
        .row
          .col-lg-7.col-md-8
            h1 Increase Your Sales 5x By Reaching More Customers on WhatsApp
            p Get the Bot powered, digital commerce platform that gives you all the tools you need to launch and manage your online store on WhatsApp.
            .commerce-bot__intro__btn
              a(href="#").btn Create My Digital Store
                i.icon.icon-arrow-right
              a(href="#").btn-video 
                i.icon.icon-play
                | Watch A Digital Store On WhatsApp in Action




    .commerce-bot__components
      .container
        h2 Meet Your Toolkit Components
        p BTW everything is ready to use :)
        strong Bot Powered Digital Commerce Backend
        .commerce-bot__components__img
          img(src="img/commerce-bot/commerce-bot__components-img.png", alt="")
        b Got your own e-commerce backend? We are compatible with popular e-commerce tools.
        .commerce-bot__components__row
          img(src="img/commerce-bot/shopify.png", alt="")
          img(src="img/commerce-bot/magento.png", alt="")
          img(src="img/commerce-bot/commerce.png", alt="")

    .commerce-bot__channels
      .container
        h2 End User Channels
        .row
          .col-xl-3.col-md-6
            .commerce-bot__channels__block
              strong Menu Driven Commerce Bot
              .commerce-bot__channels__block__img
                img(src="img/commerce-bot/commerce-bot__channels-img-1.jpg", alt="")
              a(href="#") 
                i.icon.icon-play
                | Watch Video
          .col-xl-3.col-md-6
            .commerce-bot__channels__block
              strong Conversational Commerce Bot
              .commerce-bot__channels__block__img
                img(src="img/commerce-bot/commerce-bot__channels-img-2.jpg", alt="")
              a(href="#") 
                i.icon.icon-play
                | Watch Video
          .col-xl-6
            .row
              .col-lg-12
                span.commerce-bot__channels__decor
                  b Bonus Add-Ons
              .col-md-6
                .commerce-bot__channels__block
                  b iOS App
                  .commerce-bot__channels__block__img
                    img(src="img/commerce-bot/commerce-bot__channels-img-3.jpg", alt="")
              .col-md-6
                .commerce-bot__channels__block
                  b Android App
                  .commerce-bot__channels__block__img
                    img(src="img/commerce-bot/commerce-bot__channels-img-4.jpg", alt="")





    .small-business__feature
      .container
        h2 Key features
        .row
          .col-md-6.col-xl-4.offset-xl-2.col-12
            .small-business__feature__img
              .small-business__feature__img__content
                h4 Business App
                .small-business__feature__img__block.small-business__feature__img__block-primary
                  img.img-block.active(src='img/commerce-bot/dashboard.jpg')
                  img.img-block(src='img/small-business/digital_kit.jpg')
                  img.img-block(src='img/small-business/generate_invoices.jpg')
                  img.img-block(src='img/small-business/push_notifications.jpg')
                  img.img-block(src='img/small-business/feedback.jpg')
                  img.img-block(src='img/small-business/service_request.jpg')
          .col-md-6.col-12
            .small-business__mobile
              .small-business__feature__mobile__block
                strong List Products
                b Display products with pictures, organised into Categories, sub-categories, price and item name.
                i.icon.icon-arrow-down
              ul.small-business__feature__items
                li.active
                  strong List Products
                  b Display products with pictures, organised into Categories, sub-categories, price and item name.
                li
                  strong Collect Payments
                  b Give customers the choice to pay online or by COD, with pre-integrated payments gateway options.
                li
                  strong Cart Abandonment Reminders
                  b Nudge customers with offers to complete purchases of items which they have liked.
                li
                  strong Automated Support
                  b Provide 24/7 automated support with Live human handoff for complex queries.
                li
                  strong Collect Feedback
                  b Hear the voice of your consumer, to improve service, delivery and product choices.
                li
                  strong Notifications and Alerts
                  b Send automated and manual notifications on shipping, account status , offers and refunds.





    .commerce-bot__feature
      .container
        h2 Complete Feature Summary 
        .row
          .col-lg-4.col-md-6
            .commerce-bot__feature__block
              strong Lead Generation
              ul
                li 
                  i.icon.icon-check
                  | Product Showcase
                li 
                  i.icon.icon-check
                  | Book Enquires
                li 
                  i.icon.icon-check
                  | Product Launch
          .col-lg-4.col-md-6
            .commerce-bot__feature__block
              strong New Orders
              ul
                li 
                  i.icon.icon-check
                  | Purchase
                li 
                  i.icon.icon-check
                  | Up Sell/Cross Sell
                li 
                  i.icon.icon-check
                  | Order Confirmations
          .col-lg-4.col-md-6
            .commerce-bot__feature__block
              strong Order Management
              ul
                li 
                  i.icon.icon-check
                  | Shipment Tracking
                li 
                  i.icon.icon-check
                  | Returns & Refunds
                li 
                  i.icon.icon-check
                  | Order History
          .col-lg-4.col-md-6
            .commerce-bot__feature__block
              strong Customer Support
              ul
                li 
                  i.icon.icon-check
                  | Automate FAQs
                li 
                  i.icon.icon-check
                  | Live Human Chat
                li 
                  i.icon.icon-check
                  | Escalations
          .col-lg-4.col-md-6
            .commerce-bot__feature__block
              strong Customer Engagement
              ul
                li 
                  i.icon.icon-check
                  | Contextual Recommendations
                li 
                  i.icon.icon-check
                  | Re-Targeting
                li 
                  i.icon.icon-check
                  | Interactive Feedback
          .col-lg-4.col-md-6
            .commerce-bot__feature__block
              strong Loyalty & Rewards
              ul
                li 
                  i.icon.icon-check
                  | Loyalty Points
                li 
                  i.icon.icon-check
                  | Redemption History
                li 
                  i.icon.icon-check
                  | Share and Earn





    .commerce-bot__whatsapp
      .container
        h2 The Rise of WhatsApp in Consumer e-Commerce
        .row
          .col-lg-4.col-md-6
            .commerce-bot__whatsapp__block(style="background-image: url('img/commerce-bot/commerce-bot__whatsapp__block-img-1.jpg');")
              p Bot assisted In-Store kind of shopping experience.
          .col-lg-4.col-md-6
            .commerce-bot__whatsapp__block(style="background-image: url('img/commerce-bot/commerce-bot__whatsapp__block-img-2.jpg');")
              p Highly Personalized Shopping with contextual recommendations
          .col-lg-4.col-md-6
            .commerce-bot__whatsapp__block(style="background-image: url('img/commerce-bot/commerce-bot__whatsapp__block-img-3.jpg');")
              p Most familer digital platform for everyday usage
        h2 Why Businesses Love Commerce Over WhatsApp
        .row
          .col-lg-4.col-md-6
            .commerce-bot__whatsapp__block(style="background-image: url('img/commerce-bot/commerce-bot__whatsapp__block-img-4.jpg');")
              p Making eCommerce simpler and quicker
          .col-lg-4.col-md-6
            .commerce-bot__whatsapp__block(style="background-image: url('img/commerce-bot/commerce-bot__whatsapp__block-img-5.jpg');")
              p Saving thousands of work hours through automation of routine services
          .col-lg-4.col-md-6
            .commerce-bot__whatsapp__block(style="background-image: url('img/commerce-bot/commerce-bot__whatsapp__block-img-6.jpg');")
              p Increasing revenue through contextual recommendations 


    .commerce-bot__reviews
      .container
        h2 Hear What Happy Merchants Have to Say
        .row
          .col-xl-4.col-lg-6
            .commerce-bot__reviews__block
              span.decor
              span.decor.decor-secondary
              div
                strong Super Groceries
                p Our Repeat sales has grown by over 25% and order frequency has grown by 15% since we started selling over WhatsApp.
                b Gilbert Pike, Business Head Super Groceries
          .col-xl-4.col-lg-6
            .commerce-bot__reviews__block
              span.decor
              span.decor.decor-secondary
              div
                strong Healthy Belly
                p With huge spike in e-commerce orders post covid we were witnessing pressure on our customers support team. By automating query handling over WhatsApp Bot we are able to deal with 40% of that traffic at 80% less cost.
                b Vignesh, Head of Service
          .col-xl-4.col-lg-6
            .commerce-bot__reviews__block
              span.decor
              span.decor.decor-secondary
              div
                strong Topline Computers
                p Our WhatsApp Bots are now connecting with users with regular shipment update notifications after purchase of laptops. Additionally they are helping us with complimentary revenue generation by helping sell device protection plans.
                b Falak Shamir - Owner



    
 




      

    .pricing
      .pricing__title
        .container
          h1 Pricing
        .pricing__select
          strong Select Currency
          ul
            li(data="usd").active $USD
            li(data="inr") ₹ INR
      .container
        .pricing__tariff
          table
            col(span="5")
            thead
              tr
                th
                th
                  h4 Basic
                  span Ideal for SMB
                  a(href="#") Start 7-day Free Trial
                th
                  b Most Popular Plan
                  h4 Pro
                  span Ideal for SMB
                  a(href="#") Start 7-day Free Trial
                th
                  h4 Advanced
                  span Ideal for SMB
                  a(href="#") Start 7-day Free Trial
                th
                  .pricing__tariff__img
                    img(src="img/medal.png", alt="")
                  h4 Premium
                  span Ideal for Mid-market & Enterprise
                  a(href="#") Contact Sales
            tbody
              tr
                td Setup Fee
                td 
                  span.usd $100
                  span.inr ₹5000
                td 
                  span.usd $250
                  span.inr ₹10000
                td 
                  span.usd $500
                  span.inr ₹10000
                td Custom
              tr
                td Monthly Platform Usage Fees
                td 
                  span.usd $199
                  span.inr ₹15000
                td 
                  span.usd $299
                  span.inr ₹25000
                td 
                  span.usd $499
                  span.inr ₹40000
                td Custom
              tr
                td No of Users
                td 
                  span.usd upto 5000
                  span.inr upto 5000
                td 
                  span.usd upto 10000
                  span.inr upto 10000
                td 
                  span.usd upto 20000
                  span.inr upto 20000
                td Custom
              tr
                td Additional Storage per 50 GB
                  span (Beyond Free Limit)
                td 
                  span.usd $20
                  span.inr ₹1000
                td 
                  span.usd $20
                  span.inr ₹1000
                td 
                  span.usd $20
                  span.inr ₹1000
                td Custom
              tr
                td(colspan="5")
                  strong WHATSAPP MESSAGING COST
            tfoot
              tr
                td Session Message Cost
                td
                  a(href="contact.html") Talk to Sales
                td
                  a(href="contact.html") Talk to Sales
                td
                  a(href="contact.html") Talk to Sales
                td
                  a(href="contact.html") Talk to Sales
              tr
                td Notification Message Cost
                  span (Standard as per WhatsApp defined fees, calculated on the basis of destination country of the message)
                  span Varies form country to country
                td
                  a(href="https://developers.facebook.com/docs/whatsapp/pricing#usd" target="_blank") https://developers.facebook.com/docs/whatsapp/pricing#usd
                td
                  a(href="https://developers.facebook.com/docs/whatsapp/pricing#usd" target="_blank") https://developers.facebook.com/docs/whatsapp/pricing#usd
                td
                  a(href="https://developers.facebook.com/docs/whatsapp/pricing#usd" target="_blank") https://developers.facebook.com/docs/whatsapp/pricing#usd
                td
                  a(href="https://developers.facebook.com/docs/whatsapp/pricing#usd" target="_blank") https://developers.facebook.com/docs/whatsapp/pricing#usd

        a(href="#").btn-all-features See all features
          i.icon.icon-arrow-right
        p.pricing__tariff__info Not sure which plan to choose? Need a Starter plan? Contact our sales team for more.
          a(href="mailto:sales@nhancenow.com") sales@nhancenow.com


  

    .container
      .message__channels-other__btn
        strong Rule the New Normal while your competitors are still figuring it out. 
        a(href="#schedule" rel="modal:open") Setup Your Custom Demo
          span 100% Free to get started


    block footer
      footer.whatsapp__footer
        .container  
          .whatsapp__footer__row
            .footer__logo.whatsapp__footer__block
              img(src="img/n-icon.svg")
              p Inspirion Digital Solutions Pvt Ltd 
                span (Parent Company of NHANCE NOW)
            .footer__social.whatsapp__footer__block
              a(href="https://twitter.com/nhancenow?lang=cs" target="_blank")
                i.icon.icon-twitter
              a(href="https://www.facebook.com/nhancenow/" target="_blank")
                i.icon.icon-fb
              a(href="https://in.linkedin.com/company/nhancenow" target="_blank")
                i.icon.icon-in
            .footer__copyright.whatsapp__footer__block
              p Copyright ©2020 Inspirion Digital Solutions pvt ltd. All rights reserved.
            .footer__policy.whatsapp__footer__block
              a(target="_blank" href="policy.html") Privacy Policy 
              span |
              a(target="_blank" href="service.html") Terms of Use