---
title: Content Marketing Associate
---
extends layouts/_layout
block content
  block header
    include partials/_header
  .careers.careers--details
    .intro
      .container
        h1 Great work. Greater teamwork.
    .careers__details
      .container
        .row
          .col-lg-7
            .careers__details__block
              b CAREERS
              h2 Content Marketing Associate
              h3 2 to 4 Years
              p We are in the lookout for a savvy and smart creator to join our Marketing team. The Content Marketing Associate will be responsible for drafting expert content , providing in-depth reviews on Social platforms, and optimizing their content based on a target keyword. This person will have a strong writing background , the ability to continuously hit deadlines, and a passion for how content can achieve business goals.

            .careers__details__block
              h2 Roles &Responsibilities:
              ul
                li Writing articles and content for our blogs about our products, regulatory updates and new inoovations by our Developement team.
                li Content creation for lead nurturing and sales enablement Improve organic traffic
                li Copywriting: ads, emails, video scripts, blog, webpages, webinars ebooks, industry reports and more
                li Developing and sharing daily content for company social media channels.
                li Drafting and distributing company announcements and service updates.
                li Compiling content for quarterly reports using data and research from our intelligence team.
                li Identifying and acquiring content syndication agreements with relevant online media channels.
                li Monitoring content marketing performance using website, blog, social media and SEO analytics tools.
                li Creating presentation materials for sales, education and thought leadership events and engagements.
                li Suggesting improvements to content marketing activities & Proposing new topics for reports and articles.
                li Inbound lead generation through gated content & Work with the design team on ideation for creatives
            .careers__details__block
              h2 Candidate Profile:
              ul
                li A minimum of two years of experience incopywriting (B2C/agency experience is a bonus) is a must
                li Basic knowledge of tools (email automation, WordPress/Hubspot, etc.) & basic understanding of SEO
                li A Knack to create business content in an interesting and consumable way
                li Enthusiastic, responsible and driven
                li Native-level English (both written and spoken)
                li Prior experience working at an enterprise technology company in a content marketing role or a fast-paced newsroom or marketing agency environment is desirable.
                li Experience working with or for international companies and individuals from a variety of cultural backgrounds
            .careers__details__block
              h2 Perks:
              ul
                li Fantastic opportunity to build & scale the Brand presence of an ambitious startup.
                li Work life balance; Work closely with multifaceted colleagues in a flat organization.
                li Development opportunities for personal and professional growth in an international environment
                li A fun start up work environment
            .careers__details__block
              h2 About Company
              p NHANCE NOW is a Conversational Self Service Platform for sales, support and post purchase experience - that makes it insanely easy for customers to get help, buy products and receive service through personalized conversational experiences, across digital channels.
              <br>
              p It's extremely easy to use, plug & play platform helps businesses quickly establish a connect and seamlessly communicate with their customers on various channels.
              <br>
              p NHANCE NOW is based out of Bangalore with operations in UK & Middle East. It is rapidly growing and expanding its overseas market.
          .col-lg-4.offset-lg-1
            .careers__details__aside
              div
                //- img(src="https://via.placeholder.com/113x126.png", alt="").careers__details__img
                b APPLY TO
                a(href="mailto:work@nhancenow.com") work@nhancenow.com
              div
                b Learn more about company
                a(href="tel:+18563734808") +1 856 373 4808
                  img(src="img/careers/whatsapp.png", alt="")
                p Access our product profile, read articles and connect directly on our Company WhatsApp Bot

  block footer
    include partials/_footer