---
title: Conversational Analyst
---
extends layouts/_layout
block content
  block header
    include partials/_header
  .careers.careers--details
    .intro
      .container
        h1 Great work. Greater teamwork.
    .careers__details
      .container
        .row
          .col-lg-7
            .careers__details__block
              b CAREERS
              h2 Conversational Analyst
              h3 2+ years experience <br>Bangalore, Full-time
            .careers__details__block
              h2 Responsibilities :
              ul
                li Designs Conversation Scripts, Bot Responses and user journey to create consumer facing Chatbots with personality, character and human user interactions.
                li Responsible for Designing and testing of chat conversations, flows, and user journeys based on different bot personas. 
                li Creative thinking of a user's conversational journey with a bot.
                li Thinking of different ways in which a user can speak with a Human or Bot agent.
                li Liaison between Delivery team in order to ensure delivery of intelligent and intuitive conversations for ease of customer understanding.
                li Develops mockups, flows, redlining and other creative prototyping related items. 
                li Operates with a ‘customer first’ mindset and designs client centric experiences end-to-end to solve inquiries via multiple channels & touchpoints.
            .careers__details__block
              h2 Experience required :
              ul
                li Excellent communication and writing skills.
                li 2+ years’ experience in linguistic analysis, Conversation design, copy editing, or similar roles preferred, in Content development roles.
                li Innovative thinker with the ability to come up with creative solutions.
                li Team player with excellent interpersonal skills and ability to influence, collaborate and communicate to internal resources and external vendors.
                li Familiarity with chatbots, voice enabled devices, or other conversational channels.
            .careers__details__block
              h2 Qualification:
              ul
                li MA Literature/Bachelor’s or Master’s in Mass Communication
          .col-lg-4.offset-lg-1
            .careers__details__aside
              div
                //- img(src="https://via.placeholder.com/113x126.png", alt="").careers__details__img
                b APPLY TO
                a(href="mailto:work@nhancenow.com") work@nhancenow.com
              div
                b Learn more about company
                a(href="tel:+18563734808") +1 856 373 4808
                  img(src="img/careers/whatsapp.png", alt="")
                p Access our product profile, read articles and connect directly on our Company WhatsApp Bot

  block footer
    include partials/_footer