---
title: Solutions-2
"description": ""
---
extends layouts/_layout
block content
  block header
    include partials/_header
  .solution.solution-primary
    .intro
      .container.wow.fadeInUp(data-wow-duration="1s")
        h2 Conversational Insurance
        p Automate customer acquisition, query handling, claims and much more through WhatsApp.
        a(href="#schedule" rel="modal:open") Request Demo
        .intro__video
          iframe(src="https://www.youtube.com/embed/PNU-fWB105M" style="display:none")
          a(href="#video-page" rel="modal:open")
            i.icon.icon-play
            | Watch Video
    .solution__features
      .container
        h2 Key Use Case
        .row.features-scroller__row
          .col-md-6.col-lg-5.offset-lg-1.col-12.order-md-first.animateme.scrollme(data-when="span" data-from="0" data-to="1" data-easing="linear" data-translatey="-100" style="position: relative;top: 70px")
            .features-scroller__img
              img(src="img/solution/new/solutions-2.1.jpg", alt="")
          .col-md-6.col-lg-6.col-12.order-first.wow.fadeInRight(data-wow-duration="1s")
            .features-scroller__text
              h3 
                span 01
                b Digital KYC
              p Educate customers about your policies, benefits and help them understand your offerings through a conversational channel. Use WhatsApp to automate lead generation, KYC and send instant quotes. The InsureBot can greatly simplify the process of finding new customers, educating them and converting them into paid accounts. 
        .row.features-scroller__row
          .col-md-6.col-lg-6.offset-lg-1.col-12.wow.fadeInLeft(data-wow-duration="1s")
            .features-scroller__text
              h3 
                span 02
                b Transactions
              p Allow your customers to quickly purchase, renew policies or make investments through WhatsApp. Enable an added layer of convenience with the InsureBot and keep your customers coming back. 
          .col-md-6.col-lg-5.col-12.animateme.scrollme(data-when="span" data-from="0" data-to="1" data-easing="linear" data-translatey="-100" style="position: relative;top: 70px")
            .features-scroller__img
              img(src="img/solution/new/solutions-2.2.jpg", alt="")
        .row.features-scroller__row
          .col-md-6.col-lg-5.offset-lg-1.col-12.order-md-first.animateme.scrollme(data-when="span" data-from="0" data-to="1" data-easing="linear" data-translatey="-100" style="position: relative;top: 70px")
            .features-scroller__img
              img(src="img/solution/new/solutions-2.3.jpg", alt="")
          .col-md-6.col-lg-6.col-12.order-first.wow.fadeInRight(data-wow-duration="1s")
            .features-scroller__text
              h3 
                span 03
                b Claims Processing
              p Using the InsureBot, your customers can submit claims, receive updates and get their queries addressed instantly through a 100% safe, contactless interface. Reduce paperwork, processing times and keep your customers satisfied.
        .row.features-scroller__row
          .col-md-6.col-lg-6.offset-lg-1.col-12.wow.fadeInLeft(data-wow-duration="1s")
            .features-scroller__text
              h3 
                span 04
                b Customer Support
              p With the InsureBot, you can  automate customer support through intelligent conversations. Your customers can chat over WhatsApp at anytime to get answers to FAQs, submit grievances or escalate problems to a human agent.
          .col-md-6.col-lg-5.col-12.animateme.scrollme(data-when="span" data-from="0" data-to="1" data-easing="linear" data-translatey="-100" style="position: relative;top: 70px")
            .features-scroller__img
              img(src="img/solution/new/solutions-2.4.jpg", alt="")
        .row.features-scroller__row
          .col-md-6.col-lg-5.offset-lg-1.col-12.order-md-first.animateme.scrollme(data-when="span" data-from="0" data-to="1" data-easing="linear" data-translatey="-100" style="position: relative;top: 70px")
            .features-scroller__img
              img(src="img/solution/new/solutions-2.5.jpg", alt="")
          .col-md-6.col-lg-6.col-12.order-first.wow.fadeInRight(data-wow-duration="1s")
            .features-scroller__text
              h3 
                span 05
                b Customer Engagement
              p Improve customer engagement through contextual recommendations, alerts, offers and interactive feedback. Don’t let your messaging get lost in SMS or emails, get better visibility and response rates through WhatsApp.
        .row.features-scroller__row
          .col-md-6.col-lg-6.offset-lg-1.col-12.wow.fadeInLeft(data-wow-duration="1s")
            .features-scroller__text
              h3 
                span 06
                b Knowledge Base
              p Maintain a useful repository of information about insurance products, investment advice and financial advice to add value to your customers and keep them aware of the latest trends and best practices. 
              p The InsureBot is designed to streamline your business processes so that you can achieve faster turnaround times and better customer satisfaction levels while also reducing operating costs.
          .col-md-6.col-lg-5.col-12.animateme.scrollme(data-when="span" data-from="0" data-to="1" data-easing="linear" data-translatey="-100" style="position: relative;top: 70px")
            .features-scroller__img
              img(src="img/solution/new/solutions-2.6.jpg", alt="")
    .container
      .message__channels-other__btn
        strong Rule the New Normal while your competitors are still figuring it out. 
        a(href="#schedule" rel="modal:open") Setup Your Custom Demo
          span 100% Free to get started
  block footer
    include partials/_footer