---
title: Data Scientist
---
extends layouts/_layout
block content
  block header
    include partials/_header
  .careers.careers--details
    .intro
      .container
        h1 Great work. Greater teamwork.
    .careers__details
      .container
        .row
          .col-lg-7
            .careers__details__block
              b CAREERS
              h2 Data Scientist
              h3 4+ years experience <br>Bangalore, Full-time
              p We are looking for ace data scientists who can develop best in class predictive models, machine learning models and deep learning models , and at the same time be able to explain the decisions taken by the models automatically through plain simple English language. The explainable elements should not be limited to the numbers and formulas, there must be a bit of personalization also to understand the context of the problem. 
            .careers__details__block
              h2 Responsibilities :
              ul
                li Build Recommender Systems, Personalization Engine, Rules Engine, etc.
                li Passion for learning new technologies and be up to date with the scientific research community.
                li Work in technical teams in development, deployment, and application of machine learning solutions, leveraging technical components and explaining the modelling decisions
                li Take responsibility for insights, reports and explainability of the decisions taken by predictive models
                li Responsible for taking an idea from concept to production thoroughly with feedback from all stakeholders.
            .careers__details__block
              h2 Experience required :
              ul
                li Masters’ in Computer Science/M. tech/PhD/Statistics/Econometrics/Applied Mathematics/Applied Statistics/Operations Research is a must
                li Hands on Experience with data mining or machine learning, deep learning, computer vision, natural language processing
                li Hands on Experience in developing deep learning models and explaining the results of deep learning models in a business-friendly manner
            .careers__details__block
              h2 Skills required:
              ul
                li A Minimum of 5-7 years of industry experience in developing data science models.
                li Deep understanding and experience in the field of Machine Learning, Deep Learning and statistical learning
                li The person should be excellent at Classification (logistic regression, svm, decision tree, random forest, neural network), Regression (linear regression, decision tree, random forest, neural network), Classical optimisation (gradient descent, newton raphson, etc), Graph theory (network analytics), Heuristic optimisation (genetic algorithm, swarm theory)
                li Should be strong at Deep learning (CNN, LSTM, RNN, Bi-LSTM)
                li Must have thorough mathematical knowledge of correlation/causation, decision trees, classification and regression models, recommenders, probability and stochastic processes, distributions, priors and posteriors.
                li Skilled at scientific programming languages such as Python, R, Matlab and writing deployable code into production.
                li Understand the model lifecycle of cleansing/standardizing raw data, feature creation/selection, writing complex transformation logic to generate independent and dependent variables, model selection, tuning, A/B testing and generating production ready code.
                li Knowledge of Numerical optimization, Linear/Non-linear/Integer programming, Statistics, Combinatorial optimization is a plus.
                li Familiarity with R, Apache Spark (Scala, Python), PyMC3/theano/tensorflow/Keras and other scientific python/R modules is a must.
                li AI skillsets – hands-on Machine learning and Deep Learning algorithms and platforms, neural networks in any, or all the following areas, specifically, in Data & Analytics use cases
                li Language – Natural Language Processing, machine translation, emotion detection, language detection, classification
                li Vision – computer vision, object recognition/tracking, face/gender/age/emotion recognition, OCR/handwriting recognition
                li Knowledge and experience in some of the key AI platforms will be important, e.g. IBM Watson, Microsoft Azure, Google Api.Ai, Facebook Wit.Ai, Chatbots using Microsoft Bot Framework
                li Knowledge and experience of key machine learning and deep learning framework, e.g. Keras, TensorFlow, Caffe, CNTK, Jiraffe, MXNet and PyTorch commercial technologies/platforms, etc
          .col-lg-4.offset-lg-1
            .careers__details__aside
              div
                //- img(src="https://via.placeholder.com/113x126.png", alt="").careers__details__img
                b APPLY TO
                a(href="mailto:work@nhancenow.com") work@nhancenow.com
              div
                b Learn more about company
                a(href="tel:+18563734808") +1 856 373 4808
                  img(src="img/careers/whatsapp.png", alt="")
                p Access our product profile, read articles and connect directly on our Company WhatsApp Bot

  block footer
    include partials/_footer