---
title: World's First Digital Card for Customer Experience | NHANCE NOW
"description": "Create a conversational experience hub that provides all brand experiences in one place for consumers."
header: dx-card-color
---
extends layouts/_layout
block content
  .phone
    .phone__block.active
      img(src="img/dxcard/dx-card.png", alt="")
    .phone__block
      img(src="img/dxcard/dxcard__phone-1.jpg", alt="")
    .phone__block
      img(src="img/dxcard/dxcard__phone-1.jpg", alt="")
    .phone__block
      img(src="img/dxcard/dxcard__phone-1.jpg", alt="")
    .phone__block
      img(src="img/dxcard/dxcard__phone-2.jpg", alt="")
    //- .phone__block
    //-   img(src="img/dxcard/dxcard__phone-1.jpg", alt="")
    //- .phone__block
    //-   img(src="img/dxcard/dxcard__phone-2.jpg", alt="")
    //- .phone__block
    //-   img(src="img/dxcard/dxcard__phone-1.jpg", alt="")
    //- .phone__block
    //-   img(src="img/dxcard/dxcard__phone-2.jpg", alt="")
  #pulsating-background-below-hero.pulsating-background-container
    .pulsating-background(style='background-color: rgb(255, 255, 255);')
      //- .pulsating-background__circle(style='animation-delay: 0s; width: 1960px; height: 1960px; background-color: rgb(255, 255, 255); left: 50%; bottom: -68vh;')
      //- .pulsating-background__circle(style='animation-delay: -0.3s; width: 1723px; height: 1723px; background-color: rgb(255, 255, 255); left: 50%; bottom: -55vh;')
      .pulsating-background__circle(style='animation-delay: -0.6s; width: 1487px; height: 1487px; background-color: rgb(255, 255, 255); left: 50%; bottom: -42vh;')
      .pulsating-background__circle(style='animation-delay: -0.9s; width: 1250px; height: 1250px; background-color: rgb(255, 255, 255); left: 50%; bottom: -29vh;')
      .pulsating-background__circle(style='animation-delay: -1.2s; width: 1013px; height: 1013px; background-color: rgb(255, 255, 255); left: 50%; bottom: -16vh;')
      .pulsating-background__circle(style='animation-delay: -1.5s; width: 777px; height: 777px; background-color: rgb(255, 255, 255); left: 50%; bottom: -3vh;')
      .pulsating-background__circle(style='animation-delay: -1.8s; width: 540px; height: 540px; background-color: rgb(255, 255, 255); left: 50%; bottom: 10vh;')
  #fullpage
    #section1.section.active
      section.intro-dx
        .container
          .row
            .col-xl-12.col-lg-6.col-md-6
              .intro-dx__text
                b DX Card
                  strong (Digital experience card)
                h1 Digital Card for <br>customer experience.
                p Help your customers with the most convenient way to manage post purchase journey in one place, with a 
                span conversational experience card.
                ul
                  li
                    img(src="img/dxcard/star.png", alt="")
                    | Unique post purchase conversational experience hub
                  li
                    img(src="img/dxcard/star.png", alt="")
                    | All brand services in one place
                  li
                    img(src="img/dxcard/star.png", alt="")
                    | Personalized experience card with each purchase

    #section2.section
      .description
        .container
          .row
            .col-md-6.col-12
              h2 Provide all your post-purchase interactions <br>in one place
              p On an average your customer has to deal with 8-12 different touch points to access various post-purchase services. Bring it down to 1 by putting everything on a personalized DX Card. Your customer's post-purchase journey now has only one all encompassing touch point.
              .description__block
                i 10x
                b Jump in post-purchase customer experience and convenience and in your brand value.
            .col-md-6.col-12
              strong Meet your DX Cards.
              .description__block__mobile
                img(src="img/dxcard/dxcard__phone-1.jpg", alt="")
              .description__decor.description__decor--1
                span
                span
    #section3.section
      .description
        .container
          .row
            .col-md-6.col-12
              h2 Personalize each DX Card for your customer
              p The same product or service sold to different customers always has characteristics which are unique. DX Card allows you to tailor experiences which are customised for every customer and it gets better with every interaction.
              .description__block
                i 4x
                b Increase in customer engagement if the content and experience is personalized.
            .col-md-6.col-12
              .description__block__mobile
                img(src="img/dxcard/dxcard__phone-2.jpg", alt="")
              .description__decor.description__decor--2
                span
    #section4.section
      .description
        .container
          .row
            .col-md-6.col-12
              .description__fixed
                h2 DX Card is the "Smartest" card in the world
                p Every DX Card is powered by Bots which initiate micro-conversations with your customers at key stages of the post-purchase journey. Step by step recommendations in a conversational flow help take the pain out of product journey management.
                .description__block
                  i 20%
                  b Reduction in efforts for customers with DX Card managing the product journey for them.
            .col-md-6.col-12
              .description__block__mobile
                img(src="img/dxcard/dxcard__phone-1.jpg", alt="")
              .description__decor.description__decor--3
                span
    //- #section5.section
    //-   .description
    //-     .container
    //-       .row
    //-         .col-md-6.col-12
    //-         .col-md-6.col-12
    //-           .description__decor.description__decor--3
    //-             span
    //- #section6.section
    //-   .description
    //-     .container
    //-       .row
    //-         .col-md-6.col-12
    //-         .col-md-6.col-12
    //-           .description__decor.description__decor--3
    //-             span
    //- #section7.section
    //-   .description
    //-     .container
    //-       .row
    //-         .col-md-6.col-12
    //-         .col-md-6.col-12
    //-           .description__decor.description__decor--3
    //-             span
    //- #section8.section
    //-   .description
    //-     .container
    //-       .row
    //-         .col-md-6.col-12
    //-         .col-md-6.col-12
    //-           .description__decor.description__decor--3
    //-             span
    #section9.section
      .description
        .container
          .row
            .col-md-6.col-12
              h2 Every DX Card is primed for conversations
              p An AI-enabled conversational layer on every DX Card allows your customers to effortlessly start a personal conversation with any DX Card. Now every bit of information or any transaction is just a text or voice command away.
              .description__block
                i 20%
                b Reduction in post-purchase experience management cost by using DX Card.
            .col-md-6.col-12
              .description__block__mobile
                img(src="img/dxcard/dxcard__phone-2.jpg", alt="")
              .description__decor.description__decor--4
                span
    #section10.section
      .description
        .container
          .row.align-items-center
            .col-md-5.col-12
              h2 DX Cards can be accessed on any conversational channel
              p DX Cards are designed to morph into any shape and form to make it easy for your customers to access them on the channel of their choice. DX Cards can be accessed over any messaging platform, voice assistant or our custom NHANCE NOW app.
              .description__block
                i 20+
                b Number of channels on which DX Cards can be accessed turning CX truly omni-channel.
            .col-md-6.offset-md-1.col-12
              .description__img
                img(src="img/dxcard/dx-card-channels.png", alt="")
    #section11.section
      .solution-card
        .container
          .solution-card__row
            .solution-card__block
              .solution-card__block__text
                h4 Onboard
                p Give your customers a quick and easy start
                span (Product Registration/Activation, Recommendations, Tips)
              a(href="conversational-customer-onboarding.html") Learn more
                i.icon.icon-arrow-right
            .solution-card__block
              .solution-card__block__text
                h4 Support
                p Instant & Conversational Support Services
                span (Self Service, Service Request, Helpdesk)
              a(href="conversational-customer-support.html") Learn more
                i.icon.icon-arrow-right
            .solution-card__block
              .solution-card__block__text
                h4 Engage
                p Personalized and contextual life cycle interactions
                span (Push Notifications, Offers, Smart Notifications, Feedback)
              a(href="conversational-lifecycle-engagement.html") Learn more
                i.icon.icon-arrow-right
            .solution-card__block
              .solution-card__block__text
                h4 Transact
                p Incremental and lifetime purchases made easy 
                span (Add-on Selling, Upsell, Cross Sell, Exchange, Recycle)
              a(href="conversational-commerce.html") Learn more
                i.icon.icon-arrow-right
      .customer-success
        .container
          .row
            .col-md-5.col-12
            .col-md-7.col-12
              .customer-success__text
                h3 Customer proof
                p "We have reduced our post-purchase experience touch points from 7 to 1. It has simplified our customer's life and improved the value of individual touch points." "We have reduced our post-purchase experience touch points from 7 to 1. It has simplified our customer's life and improved the value of individual touch points."
                strong Jimmy Kuhl
                span VP-Customer Satisfaction, Triglobal Healthcare Services
      include ./dxcard/reviews
      //- include ./partials/_customer-success
      .message__channels-other
        .container
          h2 Meet the other channels
          .row
            .col-md-6.col-12
              .message__channels-other__block
                h3 Messaging Gateway
                p Make interacting with your business for your customers as easy as messaging friends and family.
                a(href="messaging-gateway.html") Learn More
                  i.icon.icon-arrow-right
            .col-md-6.col-12
              .message__channels-other__block
                h3 Voice Gateway
                p Enable the most natural form of experience with voice technology that mirrors real life human conversations.
                a(href="voice-gateway.html") Learn More
                  i.icon.icon-arrow-right
            .col-12
              .message__channels-other__btn
                strong Let's get you started
                p Our friendly executives are waiting to help you get going
                a(href="#schedule" rel="modal:open") Setup Your Custom Demo
                  span 100% Free to get started
      //BEGIN footer
      footer.footer.footer-dx
        .container
          .row
            .col-md-4.col-xs-12.last-xs
              .footer__logo
                img(src="img/n-icon.svg")
                p Inspirion Digital Solutions Pvt Ltd 
                  span (Parent Company of NHANCE NOW)
              .footer__social
                a(href="https://twitter.com/nhancenow?lang=cs" target="_blank")
                  i.icon.icon-twitter
                a(href="https://www.facebook.com/nhancenow/" target="_blank")
                  i.icon.icon-fb
                a(href="https://in.linkedin.com/company/nhancenow" target="_blank")
                  i.icon.icon-in
            .col-md-8.col-xs-12.last-md
              .footer__nav
                .footer__nav__block
                  h3 platform
                    i.icon.icon-arrow-down
                  ul
                    li 
                      a(href="platform-overview.html") Overview
                    li 
                      a(href="dx-card.html") DX Card
                    li 
                      a(href="messaging-gateway.html") Messaging Gateway
                    li 
                      a(href="voice-gateway.html") Voice Gateway
                    li 
                      a(href="enterprise-midmarket.html") Mid-Market/Enterprise
                    li 
                      a(href="small-business.html") Micro / Small Business
                    li 
                      a(href="http://dxcard.club/" target='_blank') Consumers

                .footer__nav__block
                  h3 Use Cases
                    i.icon.icon-arrow-down
                  ul
                    li 
                      a(href="use-cases.html#0") Wellness
                    li 
                      a(href="use-cases.html#1") Travel
                    li 
                      a(href="use-cases.html#2") Hospitality
                    li 
                      a(href="use-cases.html#3") Automotive
                    li 
                      a(href="use-cases.html#4") Electronics
                .footer__nav__block
                  h3 Company
                    i.icon.icon-arrow-down
                  ul
                    li
                      a(href="about.html") About Us
                    li
                      a(href="team.html") Team
                    li
                      a(href="customers.html") Customers
                    li
                      a(href="http://nhancenow.com/partners/" target="_blank") Partners
                    li
                      a(href="https://angel.co/nhance-now/jobs" target="_blank") Careers
                    li
                      a(href="contact.html") Contact Us
                    li
                      a(href="brand-assets.html") Brand Assets
                .footer__nav__block.footer__nav__block-last
                  h3 Resources
                    i.icon.icon-arrow-down
                  ul
                    li 
                      a(href="http://support.nhancenow.com/" target="_blank") Help Center
                    li 
                      a(href="http://blog.nhancenow.com" target="_blank") Blog
                    li 
                      a(href="security.html") Security
                    li 
                      a(href="https://www.nhancenow.com/api/" target="_blank") API
          .row
            .col-md-6.col-12
              .footer__copyright
                p Copyright ©2019 Inspirion Digital Solutions pvt ltd. All rights reserved.
            .col-md-6.col-12
              .footer__policy
                a(target="_blank" href="policy.html") Privacy Policy 
                span |
                a(target="_blank" href="service.html") Terms of Use
      //END footer