---
title: Expert-Marketplace
"description": ""
---
extends layouts/_layout
block content
  block header
    include partials/_header
  .marketplace
    .intro
      .container
        .row
          .col-lg-6.col-md-12
            h1 Conversational Expertise As A Service
            p Get vetted conversational experts on hourly packages, to make digital services work better for you and your customers.
            a(href="#schedule" rel="modal:open").btn.btn-primary Hire Experts
        

    .marketplace__works
      .container
        h2 How Does It Works?
        .marketplace__row
          .marketplace__block
            img(src="img/midmarket/marketplace__works_1.png" alt="")
            h4 Choose Service
            p We have categories covering every step of the customer engagement journey.
            span 01.
          .marketplace__block
            img(src="img/midmarket/marketplace__works_2.png" alt="")
            h4 Select Expert
            p Vetted professionals who you can hire for as less as an hour.
            span 02.
          .marketplace__block
            img(src="img/midmarket/marketplace__works_3.png" alt="")
            h4 Pay & Book
            p Just pay the fee and schedule a discussion session.
            span 03.






    .marketplace__experts
      .container
        h2 Who Are Conversational Experts?
        .marketplace__row
          .marketplace__block(style="background-image: url('img/midmarket/marketplace__experts_1.jpg')")
            h4 Highly Rated Professionals
            p Who are skilled designers, content creators and consultants who specialize in customer journeys and digital experience.
          .marketplace__block(style="background-image: url('img/midmarket/marketplace__experts_2.jpg')")
            h4 Top Digital Agencies
            p Vetted and verified agencies who assist in strategic planning and end to end implementation to build successful conversational brands.
          .marketplace__block(style="background-image: url('img/midmarket/marketplace__experts_3.jpg')")
            h4 Handpicked Freelancers
            p Top grads from reputed online institutions for specific tactical services.





    .marketplace__cases
      .container
        h2 Expertise Use Cases
        .marketplace__row
          ul.marketplace__cases__review
            li
              .marketplace__cases__img
                img(src="img/midmarket/marketplace__cases_1.png" alt="")
              p I need a complete conversational automation strategy.
            li
              .marketplace__cases__img
                img(src="img/midmarket/marketplace__cases_2.png" alt="")
              p I want to implement a basic AI framework to reduce support cost.
            li
              .marketplace__cases__img
                img(src="img/midmarket/marketplace__cases_3.png" alt="")
              p I need continuous training to NLP system.


          .marketplace__block
            .marketplace__cases__block
              h4 Design
              ul
                li 
                  i.icon.icon-check
                  | Conversational Scripts
                li 
                  i.icon.icon-check
                  | Navigation Flows
                li 
                  i.icon.icon-check
                  | BOT - Look and Feel
                li 
                  i.icon.icon-check
                  | Chat Flow Templates
          .marketplace__block
            .marketplace__cases__block
              h4 Others
              ul
                li 
                  i.icon.icon-check
                  | Compliance Consulting
                li 
                  i.icon.icon-check
                  | Conversation Analysis
                li 
                  i.icon.icon-check
                  | Multi Channel Conversation
                li 
                  i.icon.icon-check
                  | And Much More






    .marketplace__service
      .container
        img(src="img/midmarket/marketplace__service_logo.png" alt="")
        h2 How GMDC Uses The Expertise Service
        .marketplace__row
          .marketplace__block
            img(src="img/midmarket/marketplace__service_1.png" alt="")
            h4 Language Specialist
            p Conversation scripts with choice of english words to be easily understood by customers speaking more than 50 languages.
          .marketplace__block
            img(src="img/midmarket/marketplace__service_2.png" alt="")
            h4 NLP Trainer
            p On an average each question is asked in 15+ different ways. Robust NLP training to understand and answer each query.
          .marketplace__block
            img(src="img/midmarket/marketplace__service_3.png" alt="")
            h4 Analyst
            p GMDC conversational Bot runs on WhastApp, APP and FB. A Conversation analyst finds trends & recommends improvements.




            
    .marketplace__edgage
      .container
        h2 You Continue To Get Top Notch Support, Experts Provide The Cutting Edge.
        .marketplace__row
          .marketplace__block
            h4 Customer Support
            ul
              li 
                i.icon.icon-check
                | Product Expert
              li 
                i.icon.icon-check
                | Provide Functional Value
              li 
                i.icon.icon-check
                | Low Domain Knowledge
              li 
                i.icon.icon-check
                | Assist with Account Setup
              li 
                i.icon.icon-check
                | Help with New Features
              li 
                i.icon.icon-check
                | Help Improve Product Adoption
              li 
                i.icon.icon-check
                | Educate Product Roadmaps
          .marketplace__block
            h4 Conversation Expert
            ul
              li 
                i.icon.icon-check
                | Knowledge Expert
              li 
                i.icon.icon-check
                | Provide Tactical Value
              li 
                i.icon.icon-check
                | Deep Domain Knowledge
              li 
                i.icon.icon-check
                | Assist with Strategy Planning
              li 
                i.icon.icon-check
                | Help with New Ideas
              li 
                i.icon.icon-check
                | Help Improve End User NPS
              li 
                i.icon.icon-check
                | Educate AI Roadmaps




    .marketplace__quality
      .container
        h2 How Do We Assure Quality of Service
        .marketplace__row
          .marketplace__block
            .marketplace__quality__img(style="background-image: url('img/midmarket/marketplace__quality_1.jpg')")
            .marketplace__quality__text
              h4 Credible Experts
              p Rigorous Vetting Process

          .marketplace__block
            .marketplace__quality__img(style="background-image: url('img/midmarket/marketplace__quality_2.jpg')")
            .marketplace__quality__text
              h4 Delivery Assurance
              p Rating System

          .marketplace__block
            .marketplace__quality__img(style="background-image: url('img/midmarket/marketplace__quality_3.jpg')")
            .marketplace__quality__text
              h4 Payment Assurance
              p Prepaid for Customers Experts Paid Delivery





    .container
      .message__channels-other__btn
        strong Rule the New Normal while your competitors are still figuring it out. 
        a(href="#schedule" rel="modal:open") Setup Your Custom Demo
          span 100% Free to get started
  block footer
    include partials/_footer