---
title: Customers story Fhi
---
extends layouts/_layout
block content
  .customer-stories
    .customer-stories__intro
      .container
        h1 Reduce Product Returns
        .customer-stories__intro__btn
          a(href="#") previous
          img(src="img/customers/fhi.png", alt="")
          a(href="#") next
    .container
      .customer-stories__content
        aside.customer-stories__aside
          h4 Features that they love
          .customer-stories__aside__block
            strong Digital Kit
            p Helped them provide a modern day post-purchase experience to their customers, whereby customers get everything that is needed to get started with the product journey.
          .customer-stories__aside__block
            strong Smart Triggers (Notifications)
            p Synchronized and contextual messaging campaign to guide customers as they embark on their journey.
        .customer-stories__article
          strong Esymart uses NHANCE NOW to simplify product onboarding for their customers leading to a 7% reduction in product returns!
          h4 The challenge
          p Esymart is an offline / online retail player selling a variety of customer durable products most of which are electronic products. Esymart’s customer policy enabled customers a “no questions asked” return policy within the first 15 days of purchase. While Esymart saw impressive growth, it quickly came face to face with a challenge affecting the entire industry, the complex issue of products return.
          p Customers return products for a variety of reasons. However an analysis of return patterns showed that a high number of customers returned products simply because the “onboarding” process wasn’t the easiest. A simple “guided” onboarding process helps customers get off to a positive start and decreases their chances of contemplating a return. Esymart explored various solutions before zeroing in on NHANCE NOW to offer a unified solution which offered their customers all the tool needed to have an easier onboarding process.
          h4 After adopting NHANCE NOW
          p NHANCE NOW’s unique digital platform offered customers a guided setup (onboarding process). It included everything that a customer needs to get started, when they lay their hand on a new product for the first time. Customers have access to videos, manuals, getting started guides, one-on-one chat channels with brand representatives, unboxing, installation guides (where required). It allowed customers easy access to relevant information and focus their attention on getting up and running with the product. Esymart immediately saw a decrease in product returns as customers had less friction in the initial phase and it generated a sense of comfort.
          p Within 3 months of adopting NHANCE NOW Esymart saw a 7% decrease in product returns and a 23% increase in customer satisfaction.
          p Helping their customers with a smooth onboarding process has allowed them to experiment with other NHANCE NOW offerings to boost retention and drive long term value creation.

