---
title: Front End Developer
---
extends layouts/_layout
block content
  block header
    include partials/_header
  .careers.careers--details
    .intro
      .container
        h1 Great work. Greater teamwork.
    .careers__details
      .container
        .row
          .col-lg-7
            .careers__details__block
              b CAREERS
              h2 Front End Developer
              h3 6+ years experience <br>Bangalore, Full-time
            .careers__details__block
              h2 Responsibilities :
              ul
                li Develop application code and unit test in AngularJS, Rest Web Services and Java technologies for the Application Development Center. 
                li Writing tested and documented JavaScript, Typescript, HTML and CSS
                li Make design and technical decisions for AngularJS project
                li Design, Development, Testing and Deployment of front-end applications
                li You will be required to build various Front-end applications and implement requirements as per projects
                li Integration of Front-end with Back-end APIs and Third Party APIs
                li Designing and developing cloud based software products conforming to industry best practices
                li Designing and implementing RESTful APIs using Python
                li Writing unit tests for developing robust front end application
                li Work with product managers, UX designers, and software engineers to design and implement web applications
            .careers__details__block
              h2 Experience required :
              ul
                li The candidate must possess a  relevant experience of  more than 6 years as a front-end developer.
                li The candidate should have worked majorly as a front end developer  on a  minimum 3 previous projects (immediate) 
                li 
                  strong Mandatory Skills 
                  | - Should have work experience on HTML, CSS, Javascript, jQuery, Typescript, Angular 6+, NodeJs, Npm, Gulp, Jasmine, Karma, Protractor, Sass, Json, Rest, Debugging in browser console.
                li Should have worked creating reusable custom components using Angular 6+
                li Should have worked integrating front-end with backend using API [It can be of any language]
                li Should have created minimum 3 angular 6+ projects from scratch.
            .careers__details__block
              h2 Must have skills :
              ul
                li Appreciation for Start-ups 
                li Hacker attitude to make your way through unfamiliar territory with little help 
                li Enthusiasm to get things done with responsibility 
          .col-lg-4.offset-lg-1
            .careers__details__aside
              div
                //- img(src="https://via.placeholder.com/113x126.png", alt="").careers__details__img
                b APPLY TO
                a(href="mailto:work@nhancenow.com") work@nhancenow.com
              div
                b Learn more about company
                a(href="tel:+18563734808") +1 856 373 4808
                  img(src="img/careers/whatsapp.png", alt="")
                p Access our product profile, read articles and connect directly on our Company WhatsApp Bot

  block footer
    include partials/_footer