---
title: Full Stack Java Developer 
---
extends layouts/_layout
block content
  block header
    include partials/_header
  .careers.careers--details
    .intro
      .container
        h1 Great work. Greater teamwork.
    .careers__details
      .container
        .row
          .col-lg-7
            .careers__details__block
              b CAREERS
              h2 Full Stack Java Developer 
              h3 3-6 years
              p We're expanding our team with opportunities for a Full Stack Java Developer.You'll  be responsible for the design, development, unit testing, documentation and analysis of modules or features of new or upgraded software systems and products.You’ll be a part of a diverse and cross-functional team and play an important role in shaping the product to help customers meet their business goals.  

            .careers__details__block
              h2 Responsibilities:
              ul
                li 3+ years as a full stack developer with experience server side programming (Java / Spring / Spring Cloud Hibernate / Springboot Microservices), client side JavaScript frameworks (preferably Angular 4+, TypeScript)
                li 3+ years of experience in Angular or other client-side JavaScript frameworks, plus jQuery and HTML5
                li Solid grasp of web and backend application development
                li Aggressive problem diagnosis and creative problem solving skills on highly complex problems; technical agility
                li Proven ability of Web Service implementation ( Restful / Soap)
                li Knowledge of Oracle / MySQL / NoSQL databases (Neo4J, MongoDB, Cassandra)
                li Experience with Node.js, React, Backbone or other client-side MVC technologies is a plus
                li Experience creating responsive designs (Bootstrap, mobile, etc.)and JUnit
                li Understanding of DevOps and current hands-on experience with automation tools such as Jenkins, JIRA, Git and Bitbucket
                li Should be conversant with Build tools like Gradle, Maven, Ant.
                li 3+ years of experience in delivering solution through Agile methodology including daily participation in Agile ceremonies

            .careers__details__block
              h2 Skill Set:
              ul
                li Experience in UNIX or Linux (is a plus) - Knowledge of Domain Driven Design concepts and Microservices
                li REST API design and implementation
            .careers__details__block
              h2 Add on’s:
              ul
                li Strong written, verbal skills and skills in dealing with a diverse population.
                li Interested and have the ability to work collaboratively with global project teams.
          .col-lg-4.offset-lg-1
            .careers__details__aside
              div
                //- img(src="https://via.placeholder.com/113x126.png", alt="").careers__details__img
                b APPLY TO
                a(href="mailto:work@nhancenow.com") work@nhancenow.com
              div
                b Learn more about company
                a(href="tel:+18563734808") +1 856 373 4808
                  img(src="img/careers/whatsapp.png", alt="")
                p Access our product profile, read articles and connect directly on our Company WhatsApp Bot

  block footer
    include partials/_footer