---
title: Hiring-bot-landing
"description": ""
---
extends layouts/_layout
block content
  .landing
    block header
      header.header(class=header)
        .container
          .menu-open
            span
          .row.align-aitems-center.no-gutters
            .col-lg-9.col-md-4.col-12
              .header__content
                a(href="index.html").header__logo
                  img(src="img/nhance-logo.svg")
    .menu-bg
    .menu#menu
      ul.menu__content
        li 
          a(href="index.html").menu__item Home
        li 
          a(href="#").menu__item Platform
            span
              i.icon.icon-arrow-down
          ul.menu__dropdown
            li
              a(href="platform-overview.html")
                .menu__dropdown__list
                  b Overview
            li
              a(href="dx-card.html")
                .menu__dropdown__list
                  b DX Card
            li
              a(href="messaging-gateway.html")
                .menu__dropdown__list
                  b Messaging Gateway
            li
              a(href="voice-gateway.html")
                .menu__dropdown__list
                  b Voice Gateway
            li
              a(href="enterprise-midmarket.html")
                .menu__dropdown__list
                  b Mid-Market/Enterprise
            li
              a(href="small-business.html")
                .menu__dropdown__list
                  b Micro / Small Business
            li
              a(href="http://dxcard.club/" target='_blank')
                .menu__dropdown__list
                  b Consumers
        li 
          a(href="#").menu__item Use Cases
            span
              i.icon.icon-arrow-down
          ul.menu__dropdown
            li
              a(href="use-cases.html#0")
                .menu__dropdown__list
                  b Wellness
            li
              a(href="use-cases.html#1")
                .menu__dropdown__list
                  b Travel
            li
              a(href="use-cases.html#2")
                .menu__dropdown__list
                  b Healthcare
            li
              a(href="use-cases.html#3")
                .menu__dropdown__list
                  b Automotive
            li
              a(href="use-cases.html#4")
                .menu__dropdown__list
                  b Electronics
        li
          a(href="#").menu__item Resources
            span
              i.icon.icon-arrow-down
          ul.menu__dropdown
            li
              a(href="http://support.nhancenow.com/" target="_blank")
                .menu__dropdown__list
                  b Helpcenter
            li
              a(href="http://blog.nhancenow.com" target="_blank")
                .menu__dropdown__list
                  b Blog
            li
              a(href="security.html")
                .menu__dropdown__list
                  b Security
            li
              a(href="https://www.nhancenow.com/api/" target="_blank")
                .menu__dropdown__list
                  b API
        li
          a(href="pricing.html").menu__item Pricing
        li
          a(href="#").menu__item Company
            span
              i.icon.icon-arrow-down
          ul.menu__dropdown
            li
              a(href="about.html") 
                .menu__dropdown__list
                  b About Us
            li
              a(href="team.html") 
                .menu__dropdown__list
                  b Team
            li
              a(href="customers.html")
                .menu__dropdown__list
                  b Customers
            li
              a(href="http://nhancenow.com/partners/" target="_blank") 
                .menu__dropdown__list
                  b Partners
            li
              a(href="https://angel.co/nhance-now/jobs" target="_blank") 
                .menu__dropdown__list
                  b Careers
            li
              a(href="contact.html")
                .menu__dropdown__list
                  b Contact Us
            li
              a(href="brand-assets.html")
                .menu__dropdown__list
                  b Brand Assets  
      .header__btn
        a(href="#")
          i.icon.icon-user
          | Log In
        a(href="#")
          i.icon.icon-star
          | Schedule a Demo
        a(href="#").btn For Consumers
    //END header
    .whatsapp.hiring
      .whatsapp__intro
        .container
          .row
            .col-lg-7.col-md-8
              .whatsapp__intro__title
                h1 Improve Recruitment Efficiency With Conversational Hiring
                p Qualify more candidates, reduce time-to-hire and improve candidate experience by engaging top talent in quality conversations on WhatsApp and Messenger.
                a(href="#schedule" rel="modal:open") START FREE TRIAL
                  i.icon.icon-arrow-right
            .col-lg-5.col-md-4
              .whatsapp__intro__img
                img(src="img/hiring/hiring-intro-img.png", alt="")
            .col-12
              h2 Leverage Bots for Better Hiring
              .whatsapp__intro__row
                .whatsapp__intro__block
                  h4(style="color:#00fefa;") Happy Candidates
                  p Your custom AI Bot takes care of your candidates, 24/7.
                  div(style="background-image: url('../img/hiring/hiring-block-img-1.jpg')")
                    ul
                      li 
                        i.icon.icon-check
                        | Workplace Videos
                      li 
                        i.icon.icon-check
                        | Company Information
                      li 
                        i.icon.icon-check
                        | Interview Scheduler
                      li 
                        i.icon.icon-check
                        | Pre-Screeening
                      li 
                        i.icon.icon-check
                        | FAQ Automation
                      li 
                        i.icon.icon-check
                        | Live Chat
                      li 
                        i.icon.icon-check
                        | Job Details
                .whatsapp__intro__block
                  h4(style="color:#43ea80") Relaxed Recruiters
                  p While you get quality time to spend on qualified candidates.
                  div(style="background-image: url('../img/hiring/hiring-block-img-2.jpg')")
      .whatsapp__who
        .container
          .whatsapp__title
            h2 Empower Your Hiring Team
          .row
            .col-lg-3.col-md-6
              .whatsapp__who__block
                .line(style="background-color: rgb(128, 134, 231);")
                h3 Automate Repetitive Tasks
                p Works 24/7 to respond to candidate questions, screen them and schedule interviews so teams can focus on more pressing tasks.
            .col-lg-3.col-md-6
              .whatsapp__who__block
                .line(style="background-color: rgb(73, 86, 220);")
                h3 Enhance Employer Branding
                p Grab candidate attention by differentiating your recruitment process with an innovative and responsive approach.
            .col-lg-3.col-md-6
              .whatsapp__who__block
                .line(style="background-color: rgb(114, 177, 227);")
                h3 Humanize the Candidate Experience
                p Provide a candidate first experience with real-time, engaging and personal conversations that build relations from the go.
            .col-lg-3.col-md-6
              .whatsapp__who__block
                .line(style="background-color: rgb(49, 97, 189);")
                h3 Gain Insights to Optimise Processes
                p Learn continuously from thousands of conversational interactions, to constantly improve future hiring and better understand drop offs.
      
      

      
      .whatsapp__features
        .container
          .whatsapp__title
            h2 Features
          .whatsapp__features__row
            .whatsapp__features__block
              img(src="img/whatsapp/whatsapp_features_img-1.png", alt="")
              h3 Digital Files
              p Provide job descriptions, workplace videos and other media resources to entice candidates.
            .whatsapp__features__block
              img(src="img/whatsapp/whatsapp_features_img-12.png", alt="")
              h3 Meeting Scheduler
              p Automate scheduling of interviews, office visits or virtual calls in a conversational flow
            .whatsapp__features__block
              img(src="img/whatsapp/whatsapp_features_img-3.png", alt="")
              h3 Analytics
              p See statistical graphs of interactions with all WhatsApp Cards issued by you or your company/representatives.
            .whatsapp__features__block
              img(src="img/whatsapp/whatsapp_features_img-4.png", alt="")
              h3 Automated Notifications
              p Send automated event based notifications and alerts on company activities, webinars, product launches, etc
            .whatsapp__features__block
              img(src="img/whatsapp/whatsapp_features_img-5.png", alt="")
              h3 Share Option
              p Let your contacts make your and your company profile viral with an easy share option embedded inside the card.
            .whatsapp__features__block
              img(src="img/whatsapp/whatsapp_features_img-2.png", alt="")
              h3 Customisable Bot
              p Setup Meetings, demos, give instant response to queries and provide contextual advisory.
            .whatsapp__features__block
              img(src="img/whatsapp/whatsapp_features_img-7.png", alt="")
              h3 Dynamic Update
              p Modify, Update or Add information or content to the card anytime, with seamless updates at the contact end.
            .whatsapp__features__block
              img(src="img/whatsapp/whatsapp_features_img-11.png", alt="")
              h3 Collect Documents
              p Automate collection of CVs and other relevant documents necessary during the hiring process.
            .whatsapp__features__block
              img(src="img/whatsapp/whatsapp_features_img-9.png", alt="")
              h3 Experience Maps
              p Expert designed workflows to nurture contacts/leads with contextual interactions at crucial junctures
            .whatsapp__features__block
              img(src="img/whatsapp/whatsapp_features_img-10.png", alt="")
              h3 Conversation Templates
              p Expert designed conversation templates to have automated Bot driven conversations to engage contacts at frequent intervals.
            .whatsapp__features__block.empty
            .whatsapp__features__block.empty
            

      .hiring__system
        .container
          .whatsapp__title
            h2 How it works?
          .hiring__system__row
            .hiring__system__block
              img(src="img/hiring/hiring__system-img-1.png", alt="")
              h3 Sign Up
              p Create your secure account
            .hiring__system__block
              img(src="img/hiring/hiring__system-img-2.png", alt="")
              h3 Create Custom Bot
              p Customise a Bot for every open position
            .hiring__system__block
              img(src="img/hiring/hiring__system-img-3.png", alt="")
              h3 Share Bot
              p Share Bot with candidates on WhatsApp or FB Messenger
            .hiring__system__block
              img(src="img/hiring/hiring__system-img-4.png", alt="")
              h3 Start Conversations
              p Automate candidate engagement with interactive conversations


      .whatsapp__pricing
        .container
          .whatsapp__title
            h2 Pricing
          .whatsapp__pricing__select
            strong Select Currency
            ul
              li(data-one="49").active $USD
              li(data-one="85") A$ AUD
              li(data-one="40") £ GBP
              li(data-one="3500") ₹ INR
          .whatsapp__pricing__block
            //- strong Most Popular Plan
            h2 Basic
            h3 
              span $
              strong 49
              b /mo
            ul
              li
                i.icon.icon-check
                | Corporate bot
              li
                i.icon.icon-check
                | Applicant bot
              li
                i.icon.icon-check
                | Sales & marketing bot
              li
                i.icon.icon-check
                | Business bot
            a(href="#schedule" rel="modal:open").btn Start 14-day Free Trial


      .whatsapp__baner
        .container
          .whatsapp__title
            h2 Activate your first Business Bot in minutes
            p Design your first bot on the next few screens then sample it on your own WhatsApp/FB Messenger account
          a(href="#schedule" rel="modal:open") START NOW
            i.icon.icon-arrow-right

    block footer
      footer.whatsapp__footer
        .container  
          .whatsapp__footer__row
            .footer__logo.whatsapp__footer__block
              img(src="img/n-icon.svg")
              p Inspirion Digital Solutions Pvt Ltd 
                span (Parent Company of NHANCE NOW)
            .footer__social.whatsapp__footer__block
              a(href="https://twitter.com/nhancenow?lang=cs" target="_blank")
                i.icon.icon-twitter
              a(href="https://www.facebook.com/nhancenow/" target="_blank")
                i.icon.icon-fb
              a(href="https://in.linkedin.com/company/nhancenow" target="_blank")
                i.icon.icon-in
            .footer__copyright.whatsapp__footer__block
              p Copyright ©2020 Inspirion Digital Solutions pvt ltd. All rights reserved.
            .footer__policy.whatsapp__footer__block
              a(target="_blank" href="policy.html") Privacy Policy 
              span |
              a(target="_blank" href="service.html") Terms of Use