---
title: Conversational Platform for Customer Experience | NHANCE NOW
"description": "Help your customers get support, make purchases, access information and much more with the convenience of conversational experiences."
---
extends layouts/_layout
block content
  block header
    include partials/_header
  .home
    .intro
      .container
        div.wow.fadeInUp(data-wow-duration="1s")
          h1 Bot Automation Toolkit For Your Digital Business.
          p Hire multidimensional Bots, on a monthly subscription, to turn your high touch business into a contactless growth machine. 
          a(href="#schedule" rel="modal:open") Go Contactless
            i.icon.icon-arrow-right
        .intro__row
          img(src="img/home/intro-img-1.png", alt="")
          img(src="img/home/intro-img-7.png", alt="")
          img(src="img/home/intro-img-2.png", alt="")
          img(src="img/home/intro-img-8.png", alt="")
          img(src="img/home/intro-img-3.png", alt="")
          img(src="img/home/intro-img-4.png", alt="")
          img(src="img/home/intro-img-5.png", alt="")
          img(src="img/home/inxise.png", alt="")
        



    .home__bots
      .container
        h3 Winning in the new normal  is about embracing the massive shift to contactless engagement and acquisition in a hyper digital society - a transformation driven by Bots.
        .home__bots__row
          .home__bots__block
            img(src="img/home/bots-img-1.png", alt="")
            strong Businesses without Bots
            p You’re wondering how you’ll quickly transition your business interactions to adapt to the New Normal. Your support centers are stressed, sales activities are grappling with a presence-less culture and it’s tough to manage the sudden surge in digital automation expectations.
          .home__bots__block
            img(src="img/home/bots-img-2.png", alt="")
            strong Businesses using Bots
            p Enjoying a feeling of "We've got this covered!" Automated customer interactions across business segments, delivering high quality digital experiences at scale, significant reduction in customer support costs and rapid transition to doing business in the touch-less, socially distant world.
      a(href="use-cases.html") Read real world case studies on the impact of Bots
        i.icon.icon-arrow-right






    .home__bots-whatsapp
      .container
        .home__bots-whatsapp__title
          h2 Trending Bot
          p Covid 19 pandemic has turned WhatsApp into the No.1 business interaction channel globally. So we have created a library of ready-to-use WhatsApp Bots, so that you can get started immediately.
        .swiper-container.swiper-bots
          .swiper-wrapper
            .swiper-slide
              .swiper-bots__slide
                .swiper-bots__img
                  img(src="img/business-bot/support.png", alt="")
                .swiper-bots__info
                  b Support Bot
                  p Automate customer service, sell add-on products, trigger smart notifications and help customers discover great deals.
                .swiper-bots__btn
                  iframe(src="https://www.youtube.com/embed/4TURWLYlJBs" style="display:none")
                  a(href="#video-page" rel="modal:open")
                    i.icon.icon-play
                    | Watch Video
                  //- a(href="#")
                  //-   i.icon.icon-arrow_left-cicle
            .swiper-slide
              .swiper-bots__slide
                .swiper-bots__img
                  img(src="img/business-bot/commerce.png", alt="")
                .swiper-bots__info
                  b Commerce Bot
                  p Let customers browse products, place orders and receive support with the ease of messaging.
                .swiper-bots__btn
                  iframe(src="https://www.youtube.com/embed/7xmFtatB52I" style="display:none")
                  a(href="#video-page" rel="modal:open")
                    i.icon.icon-play
                    | Watch Video
                  //- a(href="#")
                  //-   i.icon.icon-arrow_left-cicle
            .swiper-slide
              .swiper-bots__slide
                .swiper-bots__img
                  img(src="img/business-bot/IVR-.png", alt="")
                .swiper-bots__info
                  b IVR Bot
                  p Replace expensive, hard to manage call centres with automated self-service channels for 24/7 support.
                .swiper-bots__btn
                  iframe(src="https://www.youtube.com/embed/PQQGD7kZ2wE" style="display:none")
                  a(href="#video-page" rel="modal:open")
                    i.icon.icon-play
                    | Watch Video
                  //- a(href="#")
                  //-   i.icon.icon-arrow_left-cicle
            .swiper-slide
              .swiper-bots__slide
                .swiper-bots__img
                  img(src="img/business-bot/lead-gen-bot.png", alt="")
                .swiper-bots__info
                  b Lead Gen Bot
                  p Never miss a lead. Capture enquiries, gain insights on what customers are looking and engage contextually.
                .swiper-bots__btn
                  iframe(src="https://www.youtube.com/embed/s2f-egLNMho" style="display:none")
                  a(href="#video-page" rel="modal:open")
                    i.icon.icon-play
                    | Watch Video
                  //- a(href="#")
                  //-   i.icon.icon-arrow_left-cicle
            .swiper-slide
              .swiper-bots__slide
                .swiper-bots__img
                  img(src="img/business-bot/hr.png", alt="")
                .swiper-bots__info
                  b HR Bot
                  p Empowerment for hassled & understaffed HR teams struggling to engage and communicate effectively with remote teams.
                .swiper-bots__btn
                  iframe(src="https://www.youtube.com/embed/cPSEMtYEKoM" style="display:none")
                  a(href="#video-page" rel="modal:open")
                    i.icon.icon-play
                    | Watch Video
                  //- a(href="#")
                  //-   i.icon.icon-arrow_left-cicle
            .swiper-slide
              .swiper-bots__slide
                .swiper-bots__img
                  img(src="img/business-bot/hospital.png", alt="")
                .swiper-bots__info
                  b Hospital Bot
                  p Gives hospital staff a virtual agent to manage patient queries, book appointments and sell hospital services.
                .swiper-bots__btn
                  iframe(src="https://www.youtube.com/embed/g4uymyA9xDk" style="display:none")
                  a(href="#video-page" rel="modal:open")
                    i.icon.icon-play
                    | Watch Video
                  //- a(href="#")
                  //-   i.icon.icon-arrow_left-cicle
            .swiper-slide
              .swiper-bots__slide
                .swiper-bots__img
                  img(src="img/business-bot/auto-sales.png", alt="")
                .swiper-bots__info
                  b Auto Sales Bot
                  p Promote products, help customer discover financing deals and collect enquires to increase sales.
                .swiper-bots__btn
                  iframe(src="https://www.youtube.com/embed/FDx3GqXzuwU" style="display:none")
                  a(href="#video-page" rel="modal:open")
                    i.icon.icon-play
                    | Watch Video
                  //- a(href="#")
                  //-   i.icon.icon-arrow_left-cicle
            .swiper-slide
              .swiper-bots__slide
                .swiper-bots__img
                  img(src="img/business-bot/travel.png", alt="")
                .swiper-bots__info
                  b Travel Booking Bot 
                  p Push great deals, check out trending locations, talk to customer support and collect feedback to build loyal customer base. 
                .swiper-bots__btn
                  iframe(src="https://www.youtube.com/embed/-NNv2-HN4yg" style="display:none")
                  a(href="#video-page" rel="modal:open")
                    i.icon.icon-play
                    | Watch Video
                  //- a(href="#")
                  //-   i.icon.icon-arrow_left-cicle
            .swiper-slide
              .swiper-bots__slide
                .swiper-bots__img
                  img(src="img/business-bot/driving-school.png", alt="")
                .swiper-bots__info
                  b Driving School Bot 
                  p Automate the entire life cycle of the course management from booking classes and tests, fee payment and customer support.
                .swiper-bots__btn
                  iframe(src="https://www.youtube.com/embed/Ngya2rkHD1A" style="display:none")
                  a(href="#video-page" rel="modal:open")
                    i.icon.icon-play
                    | Watch Video
                  //- a(href="#")
                  //-   i.icon.icon-arrow_left-cicle
            .swiper-slide
              .swiper-bots__slide
                .swiper-bots__img
                  img(src="img/business-bot/real-estate.png", alt="")
                .swiper-bots__info
                  b Real Estate Bot
                  p Give customers a remote tour of properties, answer queries, send payment reminders and share progress of constructions. 
                .swiper-bots__btn
                  iframe(src="https://www.youtube.com/embed/B0w0svyyHlo" style="display:none")
                  a(href="#video-page" rel="modal:open")
                    i.icon.icon-play
                    | Watch Video
                  //- a(href="#")
                  //-   i.icon.icon-arrow_left-cicle
          .swiper-bots-next.swiper-button-next
            i.icon.icon-arrow_left-cicle
          .swiper-bots-prev.swiper-button-prev
            i.icon.icon-arrow_right-circle

        
        //- .swiper-container.swiper-bots
        //-   .swiper-wrapper
        //-     .swiper-slide
        //-       .swiper-bots__slide
        //-         .swiper-bots__img
        //-           img(src="img/whatsapp/features-img-7.png", alt="")
        //-         .swiper-bots__info
        //-           b Life Insurance Bot
        //-           p Provide support, service, claims processing and sell new policies without human intervention.
        //-         strong For Insurance Companies | Insurance Agents | Insurance Advisory Firms
        //-         .swiper-bots__btn
        //-           a(href="#")
        //-             i.icon.icon-play
        //-           //- a(href="#")
        //-           //-   i.icon.icon-arrow_left-cicle
        //-     .swiper-slide
        //-       .swiper-bots__slide
        //-         .swiper-bots__img
        //-           img(src="img/whatsapp/features-img-8.png", alt="")
        //-         .swiper-bots__info
        //-           b General Insurance Bot
        //-           p Provide support, service, claims processing and sell new policies without human intervention.
        //-         strong For  Insurance Companies | Insurance Agents | Insurance Advisory Firms
        //-         .swiper-bots__btn
        //-           a(href="#")
        //-             i.icon.icon-play
        //-           //- a(href="#")
        //-           //-   i.icon.icon-arrow_left-cicle
        //-     .swiper-slide
        //-       .swiper-bots__slide
        //-         .swiper-bots__img
        //-           img(src="img/whatsapp/features-img-9.png", alt="")
        //-         .swiper-bots__info
        //-           b Banking Bot
        //-           p Provide all banking services from checking balance, transferring money and various other banking services through simple messaging.
        //-         strong For Insurance Companies | Insurance Agents | Insurance Advisory Firms
        //-         .swiper-bots__btn
        //-           a(href="#")
        //-             i.icon.icon-play
        //-           //- a(href="#")
        //-           //-   i.icon.icon-arrow_left-cicle
        //-     .swiper-slide
        //-       .swiper-bots__slide
        //-         .swiper-bots__img
        //-           img(src="img/whatsapp/features-img-10.png", alt="").small
        //-         .swiper-bots__info
        //-           b Tax Consultancy Bot
        //-           p Help customers with 24/7 tax advisory, tax filing, general queries and investment advice without meeting in person.
        //-         strong For  Tax Advisory Firms | Tax Consultants
        //-         .swiper-bots__btn
        //-           a(href="#")
        //-             i.icon.icon-play
        //-           //- a(href="#")
        //-           //-   i.icon.icon-arrow_left-cicle
        //-     .swiper-slide
        //-       .swiper-bots__slide
        //-         .swiper-bots__img
        //-           img(src="img/whatsapp/features-img-11.png", alt="")
        //-         .swiper-bots__info
        //-           b Fintech - Payments Service Bot
        //-           p Provide support services, balance checking, money transfers and other payment services through simple messaging.
        //-         strong For  Payment Services | Fintech Applications
        //-         .swiper-bots__btn
        //-           a(href="#")
        //-             i.icon.icon-play
        //-           //- a(href="#")
        //-           //-   i.icon.icon-arrow_left-cicle
        //-     .swiper-slide
        //-       .swiper-bots__slide
        //-         .swiper-bots__img
        //-           img(src="img/whatsapp/features-img-17.png", alt="").small
        //-         .swiper-bots__info
        //-           b Personal Electronics / Home Appliances - Service & Support Bot
        //-           p Automate customer service, sell add-on products, trigger smart notifications and help customers discover great deals.
        //-         strong For Consumer Electronics | Furnitures | Other Consumer Products
        //-         .swiper-bots__btn
        //-           a(href="#")
        //-             i.icon.icon-play
        //-           //- a(href="#")
        //-           //-   i.icon.icon-arrow_left-cicle
        //-     .swiper-slide
        //-       .swiper-bots__slide
        //-         .swiper-bots__img
        //-           img(src="img/whatsapp/features-img-18.png", alt="")
        //-         .swiper-bots__info
        //-           b Hotel Concierge Bot
        //-           p Help guests receive service,  get booking assistance and receive 24/7 instant resolution to queries.
        //-         strong For Hotels | Resorts
        //-         .swiper-bots__btn
        //-           a(href="#")
        //-             i.icon.icon-play
        //-           //- a(href="#")
        //-           //-   i.icon.icon-arrow_left-cicle
        //-     .swiper-slide
        //-       .swiper-bots__slide
        //-         .swiper-bots__img
        //-           img(src="img/whatsapp/features-img-21.png", alt="")
        //-         .swiper-bots__info
        //-           b Beauty Bot
        //-           p Help customers get beauty tips, book appointments, purchase products and collect feedback in a brand new way.
        //-         strong For Beauty Salons | Beauty Clinics
        //-         .swiper-bots__btn
        //-           a(href="#")
        //-             i.icon.icon-play
        //-           //- a(href="#")
        //-           //-   i.icon.icon-arrow_left-cicle
        //-     .swiper-slide
        //-       .swiper-bots__slide
        //-         .swiper-bots__img
        //-           img(src="img/whatsapp/features-img-2.png", alt="")
        //-         .swiper-bots__info
        //-           b Corporate Card Bot 
        //-           p Connect, engage and network with contacts over WhatsApp and Messenger with Humanized Automation.
        //-         strong For Leaders | CEOs | Sales Executive 
        //-         .swiper-bots__btn
        //-           a(href="#")
        //-             i.icon.icon-play
        //-           //- a(href="#")
        //-           //-   i.icon.icon-arrow_left-cicle
        //-     .swiper-slide
        //-       .swiper-bots__slide
        //-         .swiper-bots__img
        //-           img(src="img/whatsapp/features-img-3.png", alt="")
        //-         .swiper-bots__info
        //-           b Business Card Bot 
        //-           p Connect, engage and network with contacts over WhatsApp and Messenger with Humanized Automation.
        //-         .swiper-bots__btn
        //-           a(href="#")
        //-             i.icon.icon-play
        //-           //- a(href="#")
        //-           //-   i.icon.icon-arrow_left-cicle
        //-     .swiper-slide
        //-       .swiper-bots__slide
        //-         .swiper-bots__img
        //-           img(src="img/whatsapp/features-img-4.png", alt="")
        //-         .swiper-bots__info
        //-           b Reseller Bot
        //-           p Connect, engage, network and support contacts and customers over WhatsApp and Messenger with Humanized Automation.
        //-         strong For Resellers | Channel Partners
        //-         .swiper-bots__btn
        //-           a(href="#")
        //-             i.icon.icon-play
        //-           //- a(href="#")
        //-           //-   i.icon.icon-arrow_left-cicle
        //-     .swiper-slide
        //-       .swiper-bots__slide
        //-         .swiper-bots__img
        //-           img(src="img/whatsapp/features-img-5.png", alt="")
        //-         .swiper-bots__info
        //-           b Employee Engagement Bot
        //-           p Empowerment for hassled & understaffed HR teams struggling to engage and communicate effectively with remote teams.
        //-         strong For People Experience and HR Heads & Teams
        //-         .swiper-bots__btn
        //-           a(href="#")
        //-             i.icon.icon-play
        //-           //- a(href="#")
        //-           //-   i.icon.icon-arrow_left-cicle
        //-     .swiper-slide
        //-       .swiper-bots__slide
        //-         .swiper-bots__img
        //-           img(src="img/whatsapp/features-img-6.png", alt="")
        //-         .swiper-bots__info
        //-           b Hiring Bot 
        //-           p Qualify more candidates, reduce time-to-hire and improve candidate experience in remote hiring era.
        //-         strong For Talent Acquisition Teams | HR Heads
        //-         .swiper-bots__btn
        //-           a(href="#")
        //-             i.icon.icon-play
        //-           //- a(href="#")
        //-           //-   i.icon.icon-arrow_left-cicle
        //-     .swiper-slide
        //-       .swiper-bots__slide
        //-         .swiper-bots__img
        //-           img(src="img/whatsapp/features-img-1.png", alt="")
        //-         .swiper-bots__info
        //-           b Covid19 Bot
        //-           p Help people and communities stay safe, communicate reliably and efficiently tackle the ongoing crisis and beyond.
        //-         strong For NGOs | Govt | Health Institutions
        //-         .swiper-bots__btn
        //-           a(href="#")
        //-             i.icon.icon-play
        //-           //- a(href="#")
        //-           //-   i.icon.icon-arrow_left-cicle
        //-     .swiper-slide
        //-       .swiper-bots__slide
        //-         .swiper-bots__img
        //-           img(src="img/whatsapp/features-img-12.png", alt="")
        //-         .swiper-bots__info
        //-           b Order and Delivery Bot - 1
        //-           p Let customers place orders, make payments and check order status with the ease of messaging.
        //-         strong For Grocery | Retail Products | Healthcare Products | Food & Beverages
        //-         .swiper-bots__btn
        //-           a(href="#")
        //-             i.icon.icon-play
        //-           //- a(href="#")
        //-           //-   i.icon.icon-arrow_left-cicle
        //-     .swiper-slide
        //-       .swiper-bots__slide
        //-         .swiper-bots__img
        //-           img(src="img/whatsapp/features-img-13.png", alt="")
        //-         .swiper-bots__info
        //-           b Order and Delivery Bot - 2 
        //-           p Let customers place orders, make payments and check order status with a blend of messaging and e-commerce application. 
        //-         strong For Grocery | Retail Products | Healthcare Products | Food & Beverages
        //-         .swiper-bots__btn
        //-           a(href="#")
        //-             i.icon.icon-play
        //-           //- a(href="#")
        //-           //-   i.icon.icon-arrow_left-cicle
        //-     .swiper-slide
        //-       .swiper-bots__slide
        //-         .swiper-bots__img
        //-           img(src="img/whatsapp/features-img-14.png", alt="")
        //-         .swiper-bots__info
        //-           b Hospital Bot 
        //-           p Give hospital staff a virtual agent to manage patient queries, book appointments and sell hospital services.
        //-         strong Hospitals | Clinics
        //-         .swiper-bots__btn
        //-           a(href="#")
        //-             i.icon.icon-play
        //-           //- a(href="#")
        //-           //-   i.icon.icon-arrow_left-cicle
        //-     .swiper-slide
        //-       .swiper-bots__slide
        //-         .swiper-bots__img
        //-           img(src="img/whatsapp/features-img-12.png", alt="")
        //-         .swiper-bots__info
        //-           b Order and Delivery Bot - 1
        //-           p Let customers place orders, make payments and check order status with a blend of messaging and e-commerce application. 
        //-         strong Grocery | Retail Products | Healthcare Products | Food & Beverages
        //-         .swiper-bots__btn
        //-           a(href="#")
        //-             i.icon.icon-play
        //-           //- a(href="#")
        //-           //-   i.icon.icon-arrow_left-cicle
        //-     .swiper-slide
        //-       .swiper-bots__slide
        //-         .swiper-bots__img
        //-           img(src="img/whatsapp/features-img-16.png", alt="")
        //-         .swiper-bots__info
        //-           b Covid 19 Bot
        //-           p Help people and communities stay safe, communicate reliably and efficiently tackle the ongoing crisis and beyond.
        //-         strong For NGOs | Govt | Health Institutions
        //-         .swiper-bots__btn
        //-           a(href="#")
        //-             i.icon.icon-play
        //-           //- a(href="#")
        //-           //-   i.icon.icon-arrow_left-cicle
        //-     .swiper-slide
        //-       .swiper-bots__slide
        //-         .swiper-bots__img
        //-           img(src="img/whatsapp/features-img-19.png", alt="")
        //-         .swiper-bots__info
        //-           b E-Learning 
        //-           p Help students receive educational material, live classes, learning support and access on-demand tests in a fun new way.
        //-         strong For Students
        //-         .swiper-bots__btn
        //-           a(href="#")
        //-             i.icon.icon-play
        //-           //- a(href="#")
        //-           //-   i.icon.icon-arrow_left-cicle
        //-     .swiper-slide
        //-       .swiper-bots__slide
        //-         .swiper-bots__img
        //-           img(src="img/whatsapp/features-img-20.png", alt="")
        //-         .swiper-bots__info
        //-           b School
        //-           p Help parents and students interact with their school, pay bills, get authentic information and daily updates.
        //-         strong For Hotels | Resorts
        //-         .swiper-bots__btn
        //-           a(href="#")
        //-             i.icon.icon-play
        //-           //- a(href="#")
        //-           //-   i.icon.icon-arrow_left-cicle
        //-   .swiper-bots-next.swiper-button-next
        //-     i.icon.icon-arrow_left-cicle
        //-   .swiper-bots-prev.swiper-button-prev
        //-     i.icon.icon-arrow_right-circle



    .home__bots-info
      .container
        h2 How can Bots put your growth on fast track in the New Normal
        .home__bots-info__row.home__bots-info__row--left
          .home__bots-info__text
            h3 Create virtual outlets with virtual agents that amplify your pipeline and revenue
            p Engage customers and prospects on their favourite digital channels with product listing and Bot assisted instant conversations that convert more. Transform the buying process with 24/7 virtual agents that don’t tire and deliver more.
          .home__bots-info__img
            div
              img(src="img/home/home__bots-info-img-1.png", alt="")
            div
              img(src="img/home/home__bots-info-img-2.png", alt="")
            div
              img(src="img/home/home__bots-info-img-3.png", alt="")
        .home__bots-info__row.home__bots-info__row--right
          .home__bots-info__img
            div
              img(src="img/home/home__bots-info-img-4.png", alt="")
            div
              img(src="img/home/home__bots-info-img-5.png", alt="")
            div
              img(src="img/home/home__bots-info-img-6.png", alt="")
          .home__bots-info__text
            h3 Provide Bot powered self service that automate customer engagement 
            p Automate support across the post purchase journey with self-service managed by Smart Bots. You can breathe easier knowing that the surge in customer queries, combined with reduced and over burdened support centers won’t hamper your end user experience. Every query is answered instantly and every service is just a message away.
        .home__bots-info__row.home__bots-info__row--left
          .home__bots-info__text
            h3 Cut down your operational cost substantially by automating key functions
            p Across companies nearly 45% of all customer engagement operations are routine. Bots help to automate all these tasks to generate significant savings without hampering customer experience.
          .home__bots-info__img
            div
              img(src="img/home/home__bots-info-img-7.png", alt="")
            div
              img(src="img/home/home__bots-info-img-8.png", alt="")
            div
              img(src="img/home/home__bots-info-img-9.png", alt="")





    .customer-success
      .swiper-container.swiper-home
        .swiper-wrapper
          .swiper-slide
            .customer-success__content--bg(style="background-image: url('img/home/_e-mgurush.jpg')")
              .container
                .customer-success__content
                  .customer-success__text.wow.fadeInUp(data-wow-duration="1s")
                    h3 Customer speak
                    p We find that most of our customers regardless of age are frequent users of WhatsApp. The WhatsApp service is therefore a natural channel of choice through which we will connect and interact with our customers, help them register on m_GURUSH and also make payments and withdraw money.
                    strong Joseph Arinaitwe
                    span Vice President m-GURUSH 
                //- img(src="img/gmdc-img.png", alt="")
          .swiper-slide
            .customer-success__content--bg(style="background-image: url('img/home/health-care.jpg')")
              .container
                .customer-success__content
                  .customer-success__text.wow.fadeInUp(data-wow-duration="1s")
                    h3 Customer speak
                    p "We have reduced our post purchase experience touch points from 7 to 1. It has simplified our customer's life and improved the value of individual touch points."
                    strong Jimmy Kuhl
                    span VP-Customer Satisfaction, Triglobal Healthcare Services
                
          .swiper-slide
            .customer-success__content--bg(style="background-image: url('img/home/ae-tickets.jpg')")
              .container
                .customer-success__content
                  .customer-success__text.wow.fadeInUp(data-wow-duration="1s")
                    h3 Customer speak
                    p "The key to increasing our life time revenue from our customers was having realtime conversations with them to help with instant answers to product related queries, smart recommendations and purchase fulfilment."
                    strong Mohd. Waseem, Chief
                    span Customer Success, AE Tickets
                
          .swiper-slide
            .customer-success__content--bg(style="background-image: url('img/home/trinity.jpg')")
              .container
                .customer-success__content
                  .customer-success__text.wow.fadeInUp(data-wow-duration="1s")
                    h3 Customer speak
                    p "Our customers prefer instant messaging to get their queries resolved rather than send an email and wait. Providing support over WhatsApp has helped us build trust and helped our customers take decisions promptly."
                    strong Adam Stark
                    span VP-Operations, Trinity Financials
                
      .swiper-home-next.swiper-button-next
        i.icon.icon-arrow_left-cicle
      .swiper-home-prev.swiper-button-prev
        i.icon.icon-arrow_right-circle




    .home__platform
      .container
        .home__platform__title
          h2 NHANCE NOW’s Digital Customer Engagement Platform also offers other tools to aid omni-channel contactless automation
          //- p Intergrate with your existing business applications and enhance your brand experience with the power of conversations.
        .row.justify-content-center
          .col-lg-4.col-md-6.col-12
            .message__channels-other__block.message__channels-other__block--primary.wow.zoomIn(data-wow-duration="1s")
              img(src="img/home/message.png", alt="")
              h3 Messaging Gateway
              p Offer all your brand services over FB Messenger and Webchat platforms
              a(href="messaging-gateway.html") Learn More
                i.icon.icon-arrow-right
          .col-lg-4.col-md-6.col-12
            .message__channels-other__block.message__channels-other__block--secondary.wow.zoomIn(data-wow-duration="1s")
              img(src="img/home/voice.png", alt="")
              h3 Voice Gateway
              p Enable support, purchases and access to information over Alexa, Google & Apple AI Voice Assistants
              a(href="voice-gateway.html") Learn More
                i.icon.icon-arrow-right
          .col-lg-4.col-md-6.col-12
            .message__channels-other__block.message__channels-other__block--dx.wow.zoomIn(data-wow-duration="1s")
              img(src="img/home/DX-card.png", alt="")
              h3 DX Card
              p World’s first digital card for unified experience management.
              a(href="voice-gateway.html") Learn More
                i.icon.icon-arrow-right
    
    .home__businesses
      .container
        .home__businesses__title
          h2 Get the best tactical advice, industry trends and actionable insights to help you craft winning conversational CX strategies
          p Actionable insights and proven tactics on how to scale your business with a strong millennial friendly CX backbone.
        .home__businesses__current-ideas
          .row
            .col-12.col-lg-4.col-md-6 
              .home__businesses__current-ideas__block.home__businesses__current-ideas__block--1.wow.zoomIn(data-wow-duration="1s")
                h4 Customer experience is undergoing a generational shift!
                a(href="https://blog.nhancenow.com/2019/08/customer-experience-is-undergoing-a-generational-shift/" target="_blank") Read more
                  i.icon.icon-arrow-right
            .col-12.col-lg-4.col-md-6
               .home__businesses__current-ideas__block.home__businesses__current-ideas__block--2.wow.zoomIn(data-wow-duration="1s")
                h4 The New World Order – Hire Bots
                a(href="https://blog.nhancenow.com/2019/09/8-new-age-experience-enhancers-for-your-digital-guests/" target="_blank") Read more
                  i.icon.icon-arrow-right
            .col-12.col-lg-4.col-md-6
               .home__businesses__current-ideas__block.home__businesses__current-ideas__block--3.wow.zoomIn(data-wow-duration="1s")
                h4 A step-by-step guide to get your WhatsApp activated for business use.
                a(href="https://blog.nhancenow.com/2018/03/ai-marketing-what-you-need-to-know-to-boost-your-customer-life-time-value/" target="_blank") Read more
                  i.icon.icon-arrow-right

    .home__firms
      .container
        h2 We have been featured in
        .home__firms__row
          a.home__firms__block.wow.fadeInUp(href="https://community.nasscom.in/communities/digital-transformation/customer-experience-is-undergoing-a-generational-shift.html" target="_blank" data-wow-duration="1s")
            img(src="img/home/featured-01.png", alt="")
          a.home__firms__block.wow.fadeInUp(href="https://www.entrepreneur.com/article/338087" target="_blank" data-wow-duration="1s")
            img(src="img/home/featured-02.png", alt="")
          a.home__firms__block.wow.fadeInUp(href="https://www.siliconindia.com/digital-magazine/crm-and-mobile-crm-apps-special-august-2019/" data-wow-duration="1s" target="_blank")
            img(src="img/home/featured-03.png", alt="")
          a.home__firms__block.wow.fadeInUp(href="https://www.indiatechonline.com/it-happened-in-india.php?id=3436" data-wow-duration="1s" target="_blank")
            img(src="img/home/featured-05.png", alt="")
          a.home__firms__block.wow.fadeInUp(href="https://www.cioreviewindia.com/magazines/cem-special-june-2019/#page=26" data-wow-duration="1s" target="_blank")
            img(src="img/home/featured-06.png", alt="")
        .message__channels-other__btn
          strong Rule the New Normal while your competitors are still figuring it out. 
          //- p Our friendly executives are waiting to help you get going
          a(href="#schedule" rel="modal:open") Setup Your Custom Demo
            span 100% Free to get started
  block footer
    include partials/_footer