---
title: Inside Sales Representative
---
extends layouts/_layout
block content
  block header
    include partials/_header
  .careers.careers--details
    .intro
      .container
        h1 Great work. Greater teamwork.
    .careers__details
      .container
        .row
          .col-lg-7
            .careers__details__block
              b CAREERS
              h2 Inside Sales Representative
              h3 0-2 years
              p We're expanding our team with opportunities for a Inside Sales Representatives.You'll work closely with multifaceted colleagues in a flat organization, fantastic opportunity to build brand of an ambitious start‐up from scratch. You’ll enjoy working in a result - driven environment with flexible work environment,development opportunities for personal and professional growth.


            .careers__details__block
              h2 Responsibilities:
              ul
                li Research prospective customer companies and identify relevant decision makers based on lead qualification criteria and create strategic target account lists within defined territory (through emails, calls, social messages, etc.)
                li Communicate with qualified decision makers through outbound calls, emails, LinkedIn & Social Media Messages to prospect, educate and generate interest
                li Communicate product value proposition and gather key lead information through phone-calls and web-presentations
                li Present about product & give demos to decision makers telephonically and through web meetings
                li Generate pipeline of qualified leads (to be passed on to field sales-personnel) and exceed lead generation targets
                li Provide regular inputs to product and marketing teams
                li Provide weekly reports and CRM updates as defined

            .careers__details__block
              h2 Requirements:
              ul
                li MBA Graduates with specialization in Sales and Marketing
                li Outbound prospecting experience (Telephonic, Web-based, Chat & Email)
                li Excellent written/verbal communication skills
                li Ability to identify the right customer contacts, communicate the product value proposition and gather key information required to take the sales process to successful fruition
                li Motivation, drive and a self-starting attitude
                li Ability to work in a fast paced, evolving, team environment
                li Good time-management with strong organizational skills

            .careers__details__block
              h2 About the Company & Our Product
              p NHANCE is a B2B SaaS product for Brands to significantly improve post sale engagement activities with their consumers.
              <br>
              p Driven by an ambitious group of Entrepreneurs with over 14yr of Entrepreneurial experience with diverse backgrounds, we aspire to change the face of traditional customer experience with a rich digital alternative. We are looking to solve problems for mid and large sized brands (offline / online) across the globe starting with India. 
              br
              p Our product is just out of a Private Beta, we expect the candidates to understand that we would not be able to disclose details about the product unless we have an initial round of discussion. 
              br
              p NHANCE (a B2B SaaS product) is owned by Inspirion Digital Solutions Pvt Ltd, a B2B startup with a 35+ dynamic team with a single objective of transforming the consumer experience field with cutting edge digital transformational tools.
            .careers__details__block
              h2 Location details
              p Inspirion Digital solutions Pvt. Ltd.
              p #271, 2nd Floor, Sri Ganesh Complex, Hosur Main Road, Madiwala, 
              p Landmark: Silk Board Junction, 


          .col-lg-4.offset-lg-1
            .careers__details__aside
              div
                //- img(src="https://via.placeholder.com/113x126.png", alt="").careers__details__img
                b APPLY TO
                a(href="mailto:work@nhancenow.com") work@nhancenow.com
              div
                b Learn more about company
                a(href="tel:+18563734808") +1 856 373 4808
                  img(src="img/careers/whatsapp.png", alt="")
                p Access our product profile, read articles and connect directly on our Company WhatsApp Bot

  block footer
    include partials/_footer