---
title: landing-home
"description": ""
---
extends layouts/_layout
block content
  .landing-home
    block header
      header.header-landing
        .container
          .header__content
            a(href="index.html").header__logo
              img(src="img/nhance-logo.svg")
            .header__btn.hidden-xs
              b
                i.icon.icon-user
                | Log In
                ul.header__btn__login
                  li
                    a(href="https://app-in.nhancenow.com/" target="_blank") 
                      img(src="img/country/usa.png", alt="")
                      | USA
                  li
                    a(href="https://app-me.nhancenow.com/" target="_blank") 
                      img(src="img/country/uae_flag.png", alt="")
                      | UAE
                  li
                    a(href="https://app-in.nhancenow.com/" target="_blank") 
                      img(src="img/country/india_flag.png", alt="")
                      | INDIA
                  li
                    a(href="https://app-in.nhancenow.com/" target="_blank") 
                      img(src="img/country/Singapore_flag.png", alt="")
                      | SINGAPORE
              a(href="#schedule" rel="modal:open")
                i.icon.icon-star
                | Schedule a Demo
    //END header
    .whatsapp
      p.baner-landing To check all our other offerings please visit our main website 
        a(href="https://nhancenow.com/" target="_blank") www.nhancenow.com
          i.icon.icon-arrow-right
      .whatsapp__intro
        .container
          .row
            .col-12
              .whatsapp__intro__title
                h1 Navigate the Covid-19 Shockwave with Humanized Automation
                strong Shaken by the COVID-19 pandemic, facing an unpredictable spike in demand for service and the need to cut operating costs? You are not alone.
                p Try Conversational Bots. The technology stimulus that is keeping businesses, like yours, operating smoothly while minimizing the economic damage.
                a(href="#schedule" rel="modal:open") Get your 90-day credit note 
                  i.icon.icon-arrow-right
                a(href="https://nhancenow.com/covid19offerterms.html" target="_blank").btn-terms Read terms and conditions 
      
      
      .whatsapp__who
        .container
          .whatsapp__title
            h2 Businesses worldwide are retooling to survive.
            strong Here’s how Automation with Bot Technology can help you overcome the crisis.
          .row
            .col-lg-3.col-md-6
              .whatsapp__who__block
                .line(style="background-color: rgb(128, 134, 231);")
                h3 ReducingCosts, Significantly.
                p With economic uncertainty, every businesses needs to cut costs for extending runways. Bot can take a significant chunk of human load to help you save in key operational areas.
            .col-lg-3.col-md-6
              .whatsapp__who__block
                .line(style="background-color: rgb(73, 86, 220);")
                h3 Maintain and Uplift Customer Experience.
                p Quality customer care is the first casualty of reduced operating costs. Bots help you reverse this trend with their smarter-than-human technology.
            .col-lg-3.col-md-6
              .whatsapp__who__block
                .line(style="background-color: rgb(114, 177, 227);")
                h3 Rapid Adaption to a Remote Working Culture
                p Remote working is here to stay. This shift is resulting in a surge of inbound interactions and communication broadcasts. Bots will help you cope up.
            .col-lg-3.col-md-6
              .whatsapp__who__block
                .line(style="background-color: rgb(49, 97, 189);")
                h3 Scale with Ease
                p With less cash in hand it will be challenge to scale as things get back to normal. Bots provide you the flexibility to scale seamlessly with automation.
      
      

      
      
      .whatsapp__features
        .container
          .whatsapp__title
            h2 Meet Your Ready-to-Use Bots
            strong Choose. Customise. Deploy.
          .whatsapp__features__row
            .whatsapp__features__block
              img(src="img/landing-home/landing-home_features_img-1.png", alt="")
              h3 Information Bot
              p Help people and communities stay safe, communicate reliably and efficiently tackle the ongoing crisis and beyond.
              .whatsapp__features__block__btn
                a(href="https://www.youtube.com/watch?v=H-5ExxqT6lc&t=4s" target="_blank")
                  i.icon.icon-play
                  | See video
                a(href="pdf/Information Bot.pdf" target="_blank") Read more
                  i.icon.icon-arrow-right
            .whatsapp__features__block
              img(src="img/landing-home/landing-home_features_img-2.png", alt="")
              h3 Outreach Bot
              p Connect, engage and network with contacts over WhatsApp and Messenger with Humanized Automation.
              .whatsapp__features__block__btn
                a(href="#")
                  i.icon.icon-play
                  | See video
                a(href="pdf/Outreach Bot.pdf" target="_blank") Read more
                  i.icon.icon-arrow-right
            .whatsapp__features__block
              img(src="img/landing-home/landing-home_features_img-3.png", alt="")
              h3 Hospital Bot
              p First line of defence and service for your selfless healthcare workers in the frontline against Covid-19.
              .whatsapp__features__block__btn
                a(href="#")
                  i.icon.icon-play
                  | See video
                a(href="pdf/Healthcare Bot.pdf" target="_blank") Read more
                  i.icon.icon-arrow-right
            .whatsapp__features__block
              img(src="img/landing-home/landing-home_features_img-4.png", alt="")
              h3 Hiring Bot
              p Qualify more candidates, reduce time-to-hire and improve candidate experience in remote hiring era.
              .whatsapp__features__block__btn
                a(href="#")
                  i.icon.icon-play
                  | See video
                a(href="pdf/Hiring Bot.pdf" target="_blank") Read more
                  i.icon.icon-arrow-right
            .whatsapp__features__block
              img(src="img/landing-home/landing-home_features_img-5.png", alt="")
              h3 Employee Engagement Bot
              p Empowerment for  hassled & understaffed HR teams struggling to engage and communicate effectively with remote teams.
              .whatsapp__features__block__btn
                a(href="#")
                  i.icon.icon-play
                  | See video
                a(href="pdf/Employee Engagement Bot.pdf" target="_blank") Read more
                  i.icon.icon-arrow-right
            .whatsapp__features__block
              img(src="img/landing-home/landing-home_features_img-6.png", alt="")
              h3 Customer Service Bot
              p Corporate Bots for Leaders, HR & Sales team to network, engage, hire and follow up better and faster.
              .whatsapp__features__block__btn
                a(href="#")
                  i.icon.icon-play
                  | See video
                a(href="pdf/Service Bot.pdf" target="_blank") Read more
                  i.icon.icon-arrow-right
            .whatsapp__features__block
              img(src="img/landing-home/landing-home_features_img-7.png", alt="")
              h3 Business Card Bot
              p For executives, consultants, employees and other professionals to share digital business cards in the new touchless world.
              .whatsapp__features__block__btn
                a(href="#")
                  i.icon.icon-play
                  | See video
                a(href="#") Read more
                  i.icon.icon-arrow-right
            .whatsapp__features__block
              img(src="img/landing-home/landing-home_features_img-8.png", alt="")
              h3 Sales Bot
              p Automate porspect engagement and routine communications in a world where travel and meetings are off the table.
              .whatsapp__features__block__btn
                a(href="https://www.youtube.com/watch?v=yFakr8cztNo&t=4s" target="_blank")
                  i.icon.icon-play
                  | See video
                a(href="#") Read more
                  i.icon.icon-arrow-right
            .whatsapp__features__block
              img(src="img/landing-home/landing-home_features_img-9.png", alt="")
              h3 Request Custom Bot
              p Got a specific use case in mind. We would be happy to put together a Bot for you.
              .whatsapp__features__block__btn
                a(href="#schedule" rel="modal:open").btn Let’s have a talk
            .whatsapp__features__block.empty.empty-992
            .whatsapp__features__block.empty
            .whatsapp__features__block.empty
            


      .landing-home__team
        .container
          .whatsapp__title
            h2 Let’s beat gloom and come out stronger! Together.
            strong We are geared with our CARE NOW initiative to help all of you win the battle against Coronavirus today - and tomorrow.
          .landing-home__team__row
            .landing-home__team__block
              span SUPPORT
              img(src="img/landing-home/team__block-1.png", alt="")
            .landing-home__team__block
              span HEALTH CARE
              img(src="img/landing-home/team__block-2.png", alt="")
            .landing-home__team__block
              span CEO
              img(src="img/landing-home/team__block-3.png", alt="")
            .landing-home__team__block
              span HR
              img(src="img/landing-home/team__block-4.png", alt="")
            .landing-home__team__block
              span SALES
              img(src="img/landing-home/team__block-5.png", alt="")
              



      .landing-home__tips
        .container
          .whatsapp__title
            h2 Dip into our curated list of best practices & tactical advice
            strong A library of articles and other useful assets to inform and guide you as you get your business back on track.
          .row
            .col-lg-4
              .landing-home__tips__block
                .block__img.block__img--primary(style="background-image: url('img/landing-home/tips__block-1.png')")
                .block__text
                  p A note from our CEO on COVID 19
                  a(href="https://blog.nhancenow.com/2019/08/customer-experience-is-undergoing-a-generational-shift/" target="_blank") Read more
            .col-lg-4
              .landing-home__tips__block
                .block__img(style="background-image: url('img/landing-home/tips__block-2.jpg')")
                .block__text
                  p Seven years of remote work taught me how to be good at it, here’s how you can too
                  a(href="https://blog.nhancenow.com/2019/08/customer-experience-is-undergoing-a-generational-shift/" target="_blank") Read more
            .col-lg-4
              .landing-home__tips__block
                .block__img(style="background-image: url('img/landing-home/tips__block-3.jpg')")
                .block__text
                  p 20 Tools your remote customer support team needs
                  a(href="https://blog.nhancenow.com/2019/08/customer-experience-is-undergoing-a-generational-shift/" target="_blank") Read more



      .whatsapp__baner
        .container
          .whatsapp__title
            h2 Ready to reconfigure your business and respond to the new reality?
          a(href="#schedule" rel="modal:open") Let’s get started with a Free Bot
            i.icon.icon-arrow-right

    block footer
      footer.whatsapp__footer
        .container  
          .whatsapp__footer__row
            .footer__logo.whatsapp__footer__block
              img(src="img/n-icon.svg")
              p Inspirion Digital Solutions Pvt Ltd 
                span (Parent Company of NHANCE NOW)
            .footer__social.whatsapp__footer__block
              a(href="https://twitter.com/nhancenow?lang=cs" target="_blank")
                i.icon.icon-twitter
              a(href="https://www.facebook.com/nhancenow/" target="_blank")
                i.icon.icon-fb
              a(href="https://in.linkedin.com/company/nhancenow" target="_blank")
                i.icon.icon-in
            .footer__copyright.whatsapp__footer__block
              p Copyright ©2020 Inspirion Digital Solutions pvt ltd. All rights reserved.
            .footer__policy.whatsapp__footer__block
              a(target="_blank" href="policy.html") Privacy Policy 
              span |
              a(target="_blank" href="service.html") Terms of Use