---
title: Sr. Manager SaaS Sales (SMB & Mid-Market) 
---
extends layouts/_layout
block content
  block header
    include partials/_header
  .careers.careers--details
    .intro
      .container
        h1 Great work. Greater teamwork.
    .careers__details
      .container
        .row
          .col-lg-7
            .careers__details__block
              b CAREERS
              h2 Sr. Manager SaaS Sales (SMB & Mid-Market) 
              h3 8-10 years
              p NHANCE NOW is a 
                strong Conversational Self Service Platform for sales, support and post purchase experience - 
                | that makes it insanely easy for customers to get help, buy products and receive service through personalized conversational experiences, across digital channels. 
              br
              p It’s extremely easy to use, plug & play platform helps businesses quickly establish a connect and seamlessly communicate with their customers on various channels. 
              br
              p NHANCE NOW is based out of Bangalore with operations in UK & Middle East. It is rapidly growing and expanding its overseas market. 
            .careers__details__block
              h2 Role Description
              p The Senior Manager of SaaS Sales team will be responsible for growing  & scaling our SMB business and team for the overseas market.
              br
              p This is a key client-facing role and would entail taking ownership and managing revenue generation for a business unit: building, managing and developing a high-performance SaaS sales team; creating a methodical, data driven sales process; filling and driving the sales pipeline; and closing enterprise-level deals across all industry verticals.
              br
              p We are looking for an innovative, inspirational and agile sales leader who is passionate about achieving high growth numbers. 
            .careers__details__block
              h2 Responsibilities:
              ul
                li Manage a business unit for overseas market and be accountable for its P&L. Construct, forecast, and manage sales activity and drive pipeline to meet revenue targets and company goals
                li Accountable for all activities from demand generation to deal closure and account management. 
                li Source new sales opportunities through inbound lead follow-up and outbound cold calls and emails. Understand customer needs and requirements. Close sales and achieve quarterly quotas
                li Team with channel partners to build pipeline and close deals
                li Perform effective online demos to prospects. 
                li Build relationships with prospects and internal stake holders to grow new business
                li Coach team to achieve and exceed monthly, quarterly, and annual revenue targets
                li Guide team on best practices for activity, pipelines, forecasts, and closed-deals to ensure quota attainment. 
                li Manage the sales funnel from lead to close and create metrics to improve performance
                li Drive consistency with lead follow-up, high activity standards, and pipeline management
                li Hire, train and lead a team of high-performing SDR’s, Customer Success Reps, and Account Executives as the company grows
                li Work collaboratively with marketing and technology departments to execute sales strategy as we introduce product enhancements. Collaborate with internal product teams and provide feedback from the field to help shape future development. 
                li Work closely with the Leadership Team to provide input on the growth of the business and align revenue strategy with overall company objectives
            .careers__details__block
              h2 Qualifications & Skills required:
              ul
                li Overall 8-10 yrs of B2B SaaS Sales (SMB and Mid Market Sales)
                li Atleast 5yrs + experience in selling SaaS solutions in overseas market
                li 3+ years of sales team management experience
                li Experience with both inside and outside sales, including lead generation and outbound prospecting
                li Established relationships and network with Senior & C-level executives.
                li Experience with managing clients, stakeholders, and cross-functional teams
                li Self motivated & forward thinking attitude with Entrepreneurial mind set, ability to work in “StartUp Environment”
                li Courageous decision maker, with minimal dependency and without fear of failure
                li A history of consistent performance in meeting or exceeding sales quota
                li Demonstrated record of success in a goal oriented, highly accountable, sales environment.
                li Comfortable operating in a highly dynamic market environment.

            .careers__details__block
              h2 What do we offer?
              ul
                li Fantastic opportunity to build & scale the Brand presence of an ambitious start‐up.
                li Work life balance; Work closely with multifaceted colleagues in a flat organization.
                li Development opportunities for personal and professional growth in an international environment
                li A fun start up work environment
          .col-lg-4.offset-lg-1
            .careers__details__aside
              div
                //- img(src="https://via.placeholder.com/113x126.png", alt="").careers__details__img
                b APPLY TO
                a(href="mailto:work@nhancenow.com") work@nhancenow.com
              div
                b Learn more about company
                a(href="tel:+18563734808") +1 856 373 4808
                  img(src="img/careers/whatsapp.png", alt="")
                p Access our product profile, read articles and connect directly on our Company WhatsApp Bot

  block footer
    include partials/_footer