---
title: NLP Analyst
---
extends layouts/_layout
block content
  block header
    include partials/_header
  .careers.careers--details
    .intro
      .container
        h1 Great work. Greater teamwork.
    .careers__details
      .container
        .row
          .col-lg-7
            .careers__details__block
              b CAREERS
              h2 NLP Analyst
              h3 2+ years experience <br>Bangalore, Full-time
            .careers__details__block
              h2 Responsibilities :
              ul
                li Build content for chatbot and define an efficient process for identifying targeted follow-up questions based on keywords.
                li Research and analyze the scope of intent within the linguistic and technical dimensions of chatbot’s capabilities. 
                li Work with developers, product, and engineering teams to maximize conversions while ensuring a great user experience.
                li Understand how Natural Language Processing and Machine Learning are integral to chatbot development. 
                li  Analyze chat history and optimize intents.
                li Experiment with different content formats and styles to deliver unique user experiences.
                li Drive continual content refinement and improvement through content experiments, user feedback, and analysis of performance metrics.
                li Create conversational flows to suit the requirements.
                li Train the chatbot accordingly to understand the linguistic variations of diverse types of users.
            .careers__details__block
              h2 Experience required :
              ul
                li 2+ years of hands on experience in Machine Learning OR Artificial intelligence related to Natural language processing and or Computational linguistics
                li In Depth knowledge & usage of Dialog Flow. Certifications or expertise on other platforms like Rasa NLU, IBM Watson, Amazon Lex & Alexa, Nuance Nina, Kore.ai, etc. is an added advantage
                li Experience in either Java or C/C++ and any one of scripting languages like Perl/Python/ JavaScript
                li Good knowledge on content categorization algorithms (Preferred)
                li Research, design and development of natural language processing algorithms (Preferred)
            .careers__details__block
              h2 Must have skills :
              ul
                li Application of machine learning algorithms and techniques for natural language processing.
                li Experience with supervised and unsupervised machine learning techniques.
                li Sound knowledge in Syntax and Semantic processing using statistical methodologies and/or Chatscript
                li Experience in applied linguistics & NLP
                li Expert in English language (vocabulary & sentence formation) 
            .careers__details__block
              h2 Qualification :
              ul
                li Graduate in Engineering OR Master’s in Computer Applications
                li Having Machine Learning or AI certifications would be an added advantage
          .col-lg-4.offset-lg-1
            .careers__details__aside
              div
                img(src="https://via.placeholder.com/113x126.png", alt="").careers__details__img
                b APPLY TO
                a(href="mailto:pexp@nhancenow.com") pexp@nhancenow.com
              div
                b apply through whatsapp
                a(href="tel:+18563734808") +1 856 373 4808
                  img(src="img/careers/whatsapp.png", alt="")
                p Lead the user interface team across all our client projects. Be the custodian of visual excellence.

  block footer
    include partials/_footer