---
title: Pricing | NHANCE NOW
"description": "Pay as you go service.Start with a delicious Freemium plan. Scale without the fear of affordability."
---
extends layouts/_layout
block content
  block header
    include partials/_header
  .pricing
    .pricing__title
      .container
        h1 Pricing
      .pricing__select
        strong Select Currency
        ul
          li(data-one="199" data-two="299").active $USD
          li(data-one="349" data-two="529") A$ AUD
          li(data-one="175" data-two="249") £ GBP
          li(data-one="15000" data-two="22000") ₹ INR
    .container
      .pricing__tariff
        .row
          .col-lg-4.col-12
            .pricing__tariff__block.wow.flipInY(data-wow-duration='1.5s')
              .pricing__tariff__block__title
                h2 Basic
                p Ideal for Small and Medium Businesses
                div
                  strong $
                  span 199
                  em /mo
              .pricing__tariff__block__btn
                a(href="#schedule" rel="modal:open").btn.btn-secondary Start 5-day Free Trial
              .pricing__tariff__block__mobile
                .pricing__tariff__block__all
                  h3
                    a(href='#')
                  ul
                    li 
                      i.icon.icon-check
                      | APP/PWA/FB/Whatsapp
                    li 
                      i.icon.icon-check
                      | Max 500 DX Card Issuance/month
                    li 
                      i.icon.icon-check
                      div All Basic Features 
                        span (Reports, Product Onboarding, Product Registration, Menu config etc)
                    li 
                      i.icon.icon-check
                      div Free Integration with Popular Business Tools 
                        span (like Freshdesk, Zendesk, Live Chat tools, Shopify,Tally)
                    li 
                      i.icon.icon-check
                      | Smart Notification & Offers
                    li 
                      i.icon.icon-check
                      | Standard Reports
                    li 
                      i.icon.icon-check
                      | Support : Knowledgebase/Email
              a.pricing__tariff__block__mobile-btn.hidden-md.hidden-sm(href='#')
                span View details
                i.icon.icon-arrow-down
          .col-lg-4.col-12
            .pricing__tariff__block.pricing__tariff__block-secondary.wow.flipInY(data-wow-duration='1.5s')
              .pricing__tariff__block__popular
                p Most Popular Plan
              .pricing__tariff__block__title
                h2 Pro
                p Ideal for Small and Medium Businesses
                div
                  strong $
                  span 299
                  em /mo
              .pricing__tariff__block__btn
                a(href="#schedule" rel="modal:open").btn.btn-secondary Start 5-day Free Trial
              .pricing__tariff__block__mobile
                .pricing__tariff__block__all
                  h3
                    a(href='#') Everything in Basic and…
                  ul
                    li 
                      i.icon.icon-check
                      | Feedback
                    li 
                      i.icon.icon-check
                      | Pre-Defined Conversational Templates
                    li 
                      i.icon.icon-check
                      | Use own SMS/Email/Payment Gateway
                    li 
                      i.icon.icon-check
                      | Support : Knowledgebase/Email/ Live Chat
                    li 
                      i.icon.icon-check
                      | Assisted Account Setup
                    li 
                      i.icon.icon-check
                      | Priority Support
              a.pricing__tariff__block__mobile-btn.hidden-md.hidden-sm(href='#')
                span View details
                i.icon.icon-arrow-down
          .col-lg-4.col-12
            .pricing__tariff__block.wow.flipInY(data-wow-duration='1.5s')
              .pricing__tariff__block-medal
                img(src="img/medal.png", alt="")
              .pricing__tariff__block__title
                h2 Premium
                p Ideal for Mid-Market and Enterprises
                div
                  span Custom
              .pricing__tariff__block__details
              .pricing__tariff__block__btn
                a(href="#schedule" rel="modal:open").btn.btn-secondary Contact Sales
              .pricing__tariff__block__mobile
                .pricing__tariff__block__all
                  h3
                    a(href='#') Everything in Pro and…
                  ul
                    li 
                      i.icon.icon-check
                      | API for custom integration
                    li 
                      i.icon.icon-check
                      | Recommendation Engine
                    li 
                      i.icon.icon-check
                      | Custom Workflows
                    li 
                      i.icon.icon-check
                      | Support : Knowledgebase/Email/Live Chat/Phone
                    li 
                      i.icon.icon-check
                      | Personalized account setup and product training
                    li 
                      i.icon.icon-check
                      | VIP Support
                    li 
                      i.icon.icon-check
                      | Dedicated Customer Happiness Specialist
              a.pricing__tariff__block__mobile-btn.hidden-md.hidden-sm(href='#')
                span View details
                i.icon.icon-arrow-down
        .pricing__tariff__info
          p *Standard charges for custom integrations
          span Not sure which plan to choose? Please drop us a mail at 
            a(href="mailTo:support@nhancenow.com") support@nhancenow.com
      .pricing__questions
        .row
          .col-12
            h2 Frequently asked questions
          .col-md-6.col-12
            .pricing__questions__block.wow.zoomIn(data-wow-duration='1.5s')
              strong.active
                | What type of support is included with this Service?
                i.icon.icon-arrow-down
              .pricing__questions__block__text
                div To assist in your ongoing success, NHANCE NOW provides the following support services to our customers:
                ul
                  li Flexible support options – email, phone and instant messaging chat (WhatsApp).
                  li Support during standard business hours – Monday through Friday, 9AM–5PM local time.
                  li A skilled, well trained team of Tier 1 and 2 support professionals.
                  li The ability to submit an unlimited number of support tickets, at no additional cost.
            .pricing__questions__block.wow.zoomIn(data-wow-duration='1.5s')
              strong.active
                | What contract options are available?
                i.icon.icon-arrow-down
              .pricing__questions__block__text
                div Our goal is to provide convenient, flexible contract options to address the widest range of budget needs. Here’s how it works:
                ul
                  li The service is made available to you on a monthly pay per use basis through an effective subscription mechanism, with transparent pricing. (We also have an annual plan which gives you a delicious 20% discount.)
                  li No large upfront costs associated with getting started with the service. 
                  li We only charge a reasonable integration fee if there are some custom integrations to be done
            .pricing__questions__block.wow.zoomIn(data-wow-duration='1.5s')
              strong.active
                | What if I want to cancel my membership?
                i.icon.icon-arrow-down
              .pricing__questions__block__text
                div Any subscription canceled in the first 14 days is fully refundable. After 14 days, cancellation policies will apply.
            .pricing__questions__block.wow.zoomIn(data-wow-duration='1.5s')
              strong.active
                | When does the subscription begin?
                i.icon.icon-arrow-down
              .pricing__questions__block__text
                div Your subscription begins as soon as you provide your credit card details for prepaid plans and as soon as you request for a subscription activation in the premium plans.
            .pricing__questions__block.wow.zoomIn(data-wow-duration='1.5s')
              strong.active
                | How do I renew my subscription?
                i.icon.icon-arrow-down
              .pricing__questions__block__text
                div Your subscription is automatically renewed at the end of the subscription period. 
            .pricing__questions__block.wow.zoomIn(data-wow-duration='1.5s')
              strong.active
                | Is the price the same throughout the subscription period?
                i.icon.icon-arrow-down
              .pricing__questions__block__text
                div Yes, the price remains fixed throughout the subscription period. Prices may change, but only on renewal, and we will always inform you beforehand. 
          .col-md-6.col-12
            .pricing__questions__block.wow.zoomIn(data-wow-duration='1.5s')
              strong.active
                | What is your cancellation policy?
                i.icon.icon-arrow-down
              .pricing__questions__block__text
                div
                  | You can cancel your subscription at any time by emailing our Support team. Canceling your subscription will stop the auto-renewal of your subscription from the next billing cycle. Your existing subscription that you’ve already paid for will remain active till the end of the current billing cycle. We do not delete your data for a period of 2 months (60 days) from the time you cancel your subscription. You can renew anytime within this period to gain complete access to your data.
            .pricing__questions__block.wow.zoomIn(data-wow-duration='1.5s')
              strong.active
                | What payment methods do you accept?
                i.icon.icon-arrow-down
              .pricing__questions__block__text
                div
                  | We accept payments by credit card (Visa, Mastercard, Discover and American Express) and PayPal. All payments are processed through our payment gateway partner ZOHO. We also accept Wire Transfers and Online bank transfers.
            .pricing__questions__block.wow.zoomIn(data-wow-duration='1.5s')
              strong.active
                | How does the Free Trial work?
                i.icon.icon-arrow-down
              .pricing__questions__block__text
                div
                  | In a free-trial, all the features are made available to you for a period of 14 days. You can choose to purchase a subscription any time during those 14 days or at the end of the trial period.
            .pricing__questions__block.wow.zoomIn(data-wow-duration='1.5s')
              strong.active
                | What happens once the Trial period has expired?
                i.icon.icon-arrow-down
              .pricing__questions__block__text
                div
                  | At the end of the free trial, you can choose to purchase a subscription. Also, please note that we will not delete any data from your account for a period of 2 months (60 days) from the end of the trial. In this time period, you can renew your subscription at any time.
            .pricing__questions__block.wow.zoomIn(data-wow-duration='1.5s')
              strong.active
                | Do you charge for integrations?
                i.icon.icon-arrow-down
              .pricing__questions__block__text
                div
                  | We provide APIs which can be consumed by businesses to link their IT systems and business applications. However where custom or complex integrations have to be undertaken we do charge an hourly fee.
            .pricing__questions__block.wow.zoomIn(data-wow-duration='1.5s')
              strong.active
                | What happens to my files if I cancel?
                i.icon.icon-arrow-down
              .pricing__questions__block__text
                div If you decide to cancel your paid subscription, you will have limited access to your NHANCE NOW application, and your account will be converted to a NHANCE NOW free membership. <br>Your files will remain intact but you may have limited access to certain files. 
                div With the free plan, you can log in to your NHANCE NOW Web app and perform basic functions. 
  block footer
    include partials/_footer