---
title: Pricing | NHANCE NOW
"description": "Pay as you go service.Start with a delicious Freemium plan. Scale without the fear of affordability."
---
extends layouts/_layout
block content
  block header
    include partials/_header
  .pricing
    .pricing__title
      .container
        h1 Pricing
      .pricing__select
        strong Select Currency
        ul
          li(data="usd").active $USD
          li(data="inr") ₹ INR
    .container
      .pricing__tariff
        table
          col(span="5")
          thead
            tr
              th
              th
                h4 Basic
                span Ideal for SMB
                a(href="#") Start 7-day Free Trial
              th
                b Most Popular Plan
                h4 Pro
                span Ideal for SMB
                a(href="#") Start 7-day Free Trial
              th
                h4 Advanced
                span Ideal for SMB
                a(href="#") Start 7-day Free Trial
              th
                .pricing__tariff__img
                  img(src="img/medal.png", alt="")
                h4 Premium
                span Ideal for Mid-market & Enterprise
                a(href="#") Contact Sales
          tbody
            tr
              td Setup Fee
              td 
                span.usd $100
                span.inr ₹5000
              td 
                span.usd $250
                span.inr ₹10000
              td 
                span.usd $500
                span.inr ₹10000
              td Custom
            tr
              td Monthly Platform Usage Fees
              td 
                span.usd $199
                span.inr ₹15000
              td 
                span.usd $299
                span.inr ₹25000
              td 
                span.usd $499
                span.inr ₹40000
              td Custom
            tr
              td No of Users
              td 
                span.usd upto 5000
                span.inr upto 5000
              td 
                span.usd upto 10000
                span.inr upto 10000
              td 
                span.usd upto 20000
                span.inr upto 20000
              td Custom
            tr
              td Additional Storage per 50 GB
                span (Beyond Free Limit)
              td 
                span.usd $20
                span.inr ₹1000
              td 
                span.usd $20
                span.inr ₹1000
              td 
                span.usd $20
                span.inr ₹1000
              td Custom
            tr
              td(colspan="5")
                strong WHATSAPP MESSAGING COST
          tfoot
            tr
              td Session Message Cost
              td
                a(href="contact.html") Talk to Sales
              td
                a(href="contact.html") Talk to Sales
              td
                a(href="contact.html") Talk to Sales
              td
                a(href="contact.html") Talk to Sales
            tr
              td Notification Message Cost
                span (Standard as per WhatsApp defined fees, calculated on the basis of destination country of the message)
                span Varies form country to country
              td
                a(href="https://developers.facebook.com/docs/whatsapp/pricing#usd" target="_blank") https://developers.facebook.com/docs/whatsapp/pricing#usd
              td
                a(href="https://developers.facebook.com/docs/whatsapp/pricing#usd" target="_blank") https://developers.facebook.com/docs/whatsapp/pricing#usd
              td
                a(href="https://developers.facebook.com/docs/whatsapp/pricing#usd" target="_blank") https://developers.facebook.com/docs/whatsapp/pricing#usd
              td
                a(href="https://developers.facebook.com/docs/whatsapp/pricing#usd" target="_blank") https://developers.facebook.com/docs/whatsapp/pricing#usd

      a(href="#").btn-all-features See all features
        i.icon.icon-arrow-down
      p.pricing__tariff__info Not sure which plan to choose? Need a Starter plan? Contact our sales team for more.
        a(href="mailto:sales@nhancenow.com") sales@nhancenow.com





      .pricing__advantages
        table
          col(span="5")
          thead
            tr
              th
              th
                strong Basic
              th
                strong Pro
              th
                strong Advanced
              th
                strong Premium
          tbody
            tr
              td(colspan="5")
                b Channels
            tr
              td WhatsApp
              td 
                i.icon.icon-check
              td
                i.icon.icon-check
              td
                i.icon.icon-check
              td
                i.icon.icon-check
            tr
              td FB
              td 
                i.icon.icon-close
              td
                i.icon.icon-check
              td
                i.icon.icon-check
              td
                i.icon.icon-check
            tr
              td App
              td 
                i.icon.icon-close
              td
                i.icon.icon-check
              td
                i.icon.icon-check
              td
                i.icon.icon-check
            tr
              td PWA
              td 
                i.icon.icon-close
              td
                i.icon.icon-check
              td
                i.icon.icon-check
              td
                i.icon.icon-check
            tr
              td Voice Assistants
                span (Amazon Alexa, Google Assistant, Apple Siri)
              td 
                i.icon.icon-close
              td
                i.icon.icon-close
              td
                i.icon.icon-close
              td
                i.icon.icon-check
            tr
              td Telegram
              td 
                i.icon.icon-close
              td
                i.icon.icon-close
              td
                i.icon.icon-close
              td
                i.icon.icon-check
            tr
              td Service Partner / Field Force App
              td 
                i.icon.icon-check
              td
                i.icon.icon-check
              td
                i.icon.icon-check
              td
                i.icon.icon-check
            tr
              td Integrations
              td 
                i.icon.icon-close
              td
                i.warning Limited
              td
                i.warning Limited
              td 
                strong Custom Integration
            tr
              td Standard API 
              td 
                i.icon.icon-check
              td
                i.icon.icon-check
              td
                i.icon.icon-check
              td
                i.icon.icon-check
            tr
              td Customization
              td 
                i.icon.icon-close
              td
                i.icon.icon-close
              td
                i.warning Limited
              td
                strong Yes
            tr
              td Reports
              td 
                strong Standard
              td
                strong Standard
              td
                strong Standard + 2 Custom Report
              td
                strong Standard + 2 Custom Report
            tr
              td Menu Based Bot
              td 
                i.icon.icon-check
              td
                i.icon.icon-check
              td
                i.icon.icon-check
              td
                i.icon.icon-check
            tr
              td Campaign Manager
              td 
                i.icon.icon-check
              td
                i.icon.icon-check
              td
                i.icon.icon-check
              td
                i.icon.icon-check
            tr
              td WhatsApp Notification Manager
              td 
                i.icon.icon-check
              td
                i.icon.icon-check
              td
                i.icon.icon-check
              td
                i.icon.icon-check
            tr
              td Languages Supported
              td 
                strong 1
              td
                strong 1
              td
                strong 1
              td
                strong Multiple
            tr
              td Additional Language Support
              td 
                i.icon.icon-check
              td
                i.icon.icon-check
              td
                i.icon.icon-check
              td
                i.icon.icon-check
            tr
              td Address Management
              td 
                i.icon.icon-check
              td
                i.icon.icon-check
              td
                i.icon.icon-check
              td
                i.icon.icon-check
            tr
              td Advanced Analytics
              td 
                i.icon.icon-close
              td
                i.icon.icon-close
              td
                i.icon.icon-check
              td
                i.icon.icon-check
            tr
              td Activity Reports
              td 
                i.icon.icon-check
              td
                i.icon.icon-check
              td
                i.icon.icon-check
              td
                i.icon.icon-check
            tr
              td Service Ticket Management
              td 
                i.icon.icon-check
              td
                i.icon.icon-check
              td
                i.icon.icon-check
              td
                i.icon.icon-check
            tr
              td Self Service Content Hosting - Videos / Documents
              td 
                i.icon.icon-close
              td
                i.icon.icon-close
              td
                i.icon.icon-check
              td
                i.icon.icon-check
            tr
              td Bot Designer (WhatsApp / FB Messenger)
              td 
                i.icon.icon-check
              td
                i.icon.icon-check
              td
                i.icon.icon-check
              td
                i.icon.icon-check
            tr
              td Bot Configuration Manager
              td 
                i.icon.icon-check
              td
                i.icon.icon-check
              td
                i.icon.icon-check
              td
                i.icon.icon-check
            tr
              td Recomendation & Workflow
              td 
                i.icon.icon-close
              td
                i.icon.icon-close
              td
                i.icon.icon-check
              td
                i.icon.icon-check
            tr
              td Loyalty & Reward 
              td 
                i.icon.icon-close
              td
                i.icon.icon-check
              td
                i.icon.icon-check
              td
                i.icon.icon-check
            tr
              td Google Location Services with Contact number
              td 
                i.icon.icon-close
              td
                i.icon.icon-close
              td
                i.icon.icon-check
              td
                i.icon.icon-check
            tr
              td Events
              td 
                i.icon.icon-close
              td
                i.icon.icon-check
              td
                i.icon.icon-check
              td
                i.icon.icon-check
            tr
              td Rule based Alerts & Reminders 
              td 
                i.icon.icon-close
              td
                i.icon.icon-close
              td
                i.icon.icon-check
              td
                i.icon.icon-check
            tr
              td Notes
              td 
                i.icon.icon-close
              td
                i.icon.icon-check
              td
                i.icon.icon-check
              td
                i.icon.icon-check
            tr
              td Hierarchy Management
              td 
                i.icon.icon-close
              td
                i.icon.icon-close
              td
                i.icon.icon-close
              td
                i.icon.icon-check
            tr
              td NLP
              td 
                i.icon.icon-close
              td
                i.icon.icon-close
              td
                i.icon.icon-check
              td
                i.icon.icon-check
            tr
              td Advanced NLP
              td 
                i.icon.icon-close
              td
                i.icon.icon-close
              td
                i.icon.icon-close
              td
                i.icon.icon-check
            tr
              td Custom API Integration & Support
              td 
                i.icon.icon-close
              td
                i.icon.icon-close
              td
                i.icon.icon-close
              td
                i.icon.icon-check
            tr
              td Dedicated Hosting
              td 
                i.icon.icon-close
              td
                i.icon.icon-close
              td
                i.icon.icon-close
              td
                i.icon.icon-check
            tr
              td Dedicated Account Manager
              td 
                i.icon.icon-close
              td
                i.icon.icon-close
              td
                i.icon.icon-check
              td
                i.icon.icon-check
            tr
              td Sandbox Environment
              td 
                i.icon.icon-close
              td
                i.icon.icon-close
              td
                i.icon.icon-close
              td
                i.icon.icon-check
            tr
              td Customized Dashboard
              td 
                i.icon.icon-close
              td
                i.icon.icon-close
              td
                i.icon.icon-close
              td
                i.icon.icon-check
            tr
              td Data Backup
              td 
                strong 1 Month
              td
                strong 3 Month
              td
                strong 12 Month
              td
                strong 36 Month
            tr
              td Audit Logs
              td 
                i.icon.icon-close
              td
                i.icon.icon-close
              td
                i.icon.icon-check
              td
                i.icon.icon-check
            tr
              td IP Whitelisting
              td 
                i.icon.icon-close
              td
                i.icon.icon-close
              td
                i.icon.icon-check
              td
                i.icon.icon-check
            tr
              td S3 - Storage 
              td 
                strong Upto 100 GB
              td
                strong Upto 200 GB
              td
                strong Upto 500 GB
              td
                strong Upto 10,000 GB
            tr
              td Additional Storage
              td 
                i.icon.icon-check
              td
                i.icon.icon-check
              td
                i.icon.icon-check
              td
                i.icon.icon-check
            tr
              td 
              td 
                i.icon.icon-close
              td
                i.icon.icon-close
              td
                i.icon.icon-close
              td
                i.icon.icon-check





      .pricing__questions
        .row
          .col-12
            h2 Frequently asked questions
          .col-md-6.col-12
            .pricing__questions__block.wow.zoomIn(data-wow-duration='1.5s')
              strong
                | What type of support is included with this Service?
                i.icon.icon-arrow-down
              .pricing__questions__block__text(style="display:none")
                div To assist in your ongoing success, NHANCE NOW provides the following support services to our customers:
                ul
                  li Flexible support options – email, phone and instant messaging chat (WhatsApp).
                  li Support during standard business hours – Monday through Friday, 9AM–5PM local time.
                  li A skilled, well trained team of Tier 1 and 2 support professionals.
                  li The ability to submit an unlimited number of support tickets, at no additional cost.
            .pricing__questions__block.wow.zoomIn(data-wow-duration='1.5s')
              strong
                | What contract options are available?
                i.icon.icon-arrow-down
              .pricing__questions__block__text(style="display:none")
                div Our goal is to provide convenient, flexible contract options to address the widest range of budget needs. Here’s how it works:
                ul
                  li The service is made available to you on a monthly pay per use basis through an effective subscription mechanism, with transparent pricing. (We also have an annual plan which gives you a delicious 20% discount.)
                  li No large upfront costs associated with getting started with the service. 
                  li We only charge a reasonable integration fee if there are some custom integrations to be done
            .pricing__questions__block.wow.zoomIn(data-wow-duration='1.5s')
              strong
                | What if I want to cancel my membership?
                i.icon.icon-arrow-down
              .pricing__questions__block__text(style="display:none")
                div Any subscription canceled in the first 7-Days is fully refundable. After 7-Days, cancellation policies will apply.
            .pricing__questions__block.wow.zoomIn(data-wow-duration='1.5s')
              strong
                | When does the subscription begin?
                i.icon.icon-arrow-down
              .pricing__questions__block__text(style="display:none")
                div Your subscription begins as soon as you provide your credit card details for prepaid plans and as soon as you request for a subscription activation in the premium plans.
            .pricing__questions__block.wow.zoomIn(data-wow-duration='1.5s')
              strong
                | How do I renew my subscription?
                i.icon.icon-arrow-down
              .pricing__questions__block__text(style="display:none")
                div Your subscription is automatically renewed at the end of the subscription period. 
            .pricing__questions__block.wow.zoomIn(data-wow-duration='1.5s')
              strong
                | Is the price the same throughout the subscription period?
                i.icon.icon-arrow-down
              .pricing__questions__block__text(style="display:none")
                div Yes, the price remains fixed throughout the subscription period. Prices may change, but only on renewal, and we will always inform you beforehand. 
          .col-md-6.col-12
            .pricing__questions__block.wow.zoomIn(data-wow-duration='1.5s')
              strong
                | What is your cancellation policy?
                i.icon.icon-arrow-down
              .pricing__questions__block__text(style="display:none")
                div
                  | You can cancel your subscription at any time by emailing our Support team. Canceling your subscription will stop the auto-renewal of your subscription from the next billing cycle. Your existing subscription that you’ve already paid for will remain active till the end of the current billing cycle. We do not delete your data for a period of 2 months (60 days) from the time you cancel your subscription. You can renew anytime within this period to gain complete access to your data.
            .pricing__questions__block.wow.zoomIn(data-wow-duration='1.5s')
              strong
                | What payment methods do you accept?
                i.icon.icon-arrow-down
              .pricing__questions__block__text(style="display:none")
                div
                  | We accept payments by credit card (Visa, Mastercard, Discover and American Express) and PayPal. All payments are processed through our payment gateway partner ZOHO. We also accept Wire Transfers and Online bank transfers.
            .pricing__questions__block.wow.zoomIn(data-wow-duration='1.5s')
              strong
                | How does the Free Trial work?
                i.icon.icon-arrow-down
              .pricing__questions__block__text(style="display:none")
                div
                  | In a free-trial, all the features are made available to you for a period of 7-Days. You can choose to purchase a subscription any time during those 7-Days or at the end of the trial period.
            .pricing__questions__block.wow.zoomIn(data-wow-duration='1.5s')
              strong
                | What happens once the Trial period has expired?
                i.icon.icon-arrow-down
              .pricing__questions__block__text(style="display:none")
                div
                  | At the end of the free trial, you can choose to purchase a subscription. Also, please note that we will not delete any data from your account for a period of 2 months (60 days) from the end of the trial. In this time period, you can renew your subscription at any time.
            .pricing__questions__block.wow.zoomIn(data-wow-duration='1.5s')
              strong
                | Do you charge for integrations?
                i.icon.icon-arrow-down
              .pricing__questions__block__text(style="display:none")
                div
                  | We provide APIs which can be consumed by businesses to link their IT systems and business applications. However where custom or complex integrations have to be undertaken we do charge an hourly fee.
            .pricing__questions__block.wow.zoomIn(data-wow-duration='1.5s')
              strong
                | What happens to my files if I cancel?
                i.icon.icon-arrow-down
              .pricing__questions__block__text(style="display:none")
                div If you decide to cancel your paid subscription, you will have limited access to your NHANCE NOW application, and your account will be converted to a NHANCE NOW free membership. <br>Your files will remain intact but you may have limited access to certain files. 
                div With the free plan, you can log in to your NHANCE NOW Web app and perform basic functions. 
  block footer
    include partials/_footer