---
title: Product Analyst
---
extends layouts/_layout
block content
  block header
    include partials/_header
  .careers.careers--details
    .intro
      .container
        h1 Great work. Greater teamwork.
    .careers__details
      .container
        .row
          .col-lg-7
            .careers__details__block
              b CAREERS
              h2 Product Analyst
              h3 Experience – 2-4 years
              p We're looking for a product analyst to join our team. You'll work with various stakeholders (internal/external) to drive better product development through collaboration, product usage, product analysis and making strategic recommendations. Product Analysts will be a part of the product team and play an important role in shaping the product to help customers meet their business goals. 

            .careers__details__block
              h2 Responsibilities:
              ul
                li.red Research latest trends in technology, usage of digital medium for simplifying lives  and applying the knowledge to improve the product and product recommendations
                li Responsible for translating high-level product and business requirements into detailed functional specifications and managing requests for changes to the specifications.
                li Work in close collaboration with Product, Design, Engineering, QA and CSM to align business requirements and product roadmap/goals. 
                li Write detailed technical design documents , preparing use case diagrams, user stories and wireframes.
                li Reviewing Test Scenarios from functional coverage perspective and provide feedback to Testing Team.
                li.red Perform technical analysis on the released product, mobile & web (including but limited to heat map analysis, click stream data, usage patterns, drop offs, broken links, etc) Use the data collected to recommend improvements to the product. 
                li Interact with customers, understand how functionalities are impacting work flows.
            .careers__details__block
              h2 Desired Skills and Experience:
              ul
                li Experience in Requirements Elicitation, Analysis and Documentation. Should be able to extract and document explicit, implicit, and non-functional requirements
                li Familiarity with business analysis tools, e.g. Jira, MS Office, Visio, MS Project, Power Point, etc.
                li Experience in preparing Wire frames, user stories, UI mock-ups for web as well as mobile applications.
                li Very good knowledge on SDLC Process, must have participated in Project documentation creation/review.
                li Experience in SaaS B2B products would be preferable.
                li Working knowledge of CRM systems would be preferable .
                li Prior experience working in Agile / Scrum is a plus. 
                li Working knowledge of current trending cloud technologies.
                li Deep understanding on competitor analysis, go to market strategy.
            .careers__details__block
              h2 Communication Skills:
              p Present findings, or translate the data into an understandable document. You will need to write and speak clearly, easily communicating complex ideas.
              p Interested and have the ability to work collaboratively with global project teams.
          .col-lg-4.offset-lg-1
            .careers__details__aside
              div
                //- img(src="https://via.placeholder.com/113x126.png", alt="").careers__details__img
                b APPLY TO
                a(href="mailto:work@nhancenow.com") work@nhancenow.com
              div
                b Learn more about company
                a(href="tel:+18563734808") +1 856 373 4808
                  img(src="img/careers/whatsapp.png", alt="")
                p Access our product profile, read articles and connect directly on our Company WhatsApp Bot

  block footer
    include partials/_footer