---
title: Customers story Souq
---
extends layouts/_layout
block content
  .customer-stories
    .customer-stories__intro
      .container
        h1 Simplifying product registration
        .customer-stories__intro__btn
          a(href="#") previous
          img(src="img/customers/propure.png", alt="")
          a(href="#") next
    .container
      .customer-stories__content
        aside.customer-stories__aside
          h4 Features that they love
          .customer-stories__aside__block
            strong Self service
            p Helps them save on support workforce and automate product training and demos.
          .customer-stories__aside__block
            strong Cross sell feature
            p Souq2020 sells to a number of premium customers. They wanted an easy way to cross promote complimentary products. 
          .customer-stories__aside__block
            strong Service ticket management
            p Being a young brand Souq2020 wanted an integrated platform where in they could manage customer experience and customer support. NHANCENOW’s simple, no frills service ticket management module eliminated the need to invest in a ticketing management system and helped them tame their customer support costs.
        .customer-stories__article
          strong How Redfox uses NHANCENOW to simplify product registration and capture customer information.
          h4 The challenge
          p Redfox is an ambitious young brand which has designed a slick customer experience strategy to retain and delight users. However the challenge that they faced was they had data of only 17% of their customers. Redfox operates through a vast dealer network. Due to operational dynamics of manufacturer – retailer Redfox was struggling to acquire customer data. Retailers capture inadequate customer data and are usually reluctant to share whatever data they have with the parent brand. As result it was difficult for them to engage directly with their customers and offer them an experience which reflected their brand value.
          p Redfox adopted an incentivised campaign to acquire customer data. They offered customers a free 2 year extended warranty upgrade for all their products, if the customer visited their website and registered the product. customers had to fill in their name, email, contact number, product model number, invoice number, invoice copy, date of purchase and purchase price. However Redfox only managed to get a mere 4% increase in acquiring customer data through this process. The process was cumbersome, involved visiting a website, filling up a form. It was overwhelming for customers.
          h4 After adopting NHANCE NOW
          p Redfox decided to sample NHANCE NOW’s product registration feature. A small group of around two thousand customers were offered the facility to register their products through the NHANCE NOW mobile app. customers were required to download the application, register with a their name, email and mobile number and then scan the serial number of the product to complete the registration process!
          p Redfox also rewarded them instantly with NHANCE NOW’s proprietary Digital Kit along with a certificate of extended warranty extension. This process was simpler, smoother and as it was mobile optimized the participation rate increased manifold. customers found it easier to go through the entire process without the need to change the device or medium of their choice.
          p Within 2 weeks of implementation Redfox saw an increase of 27% in product registration. Redfox had a much larger set of customers with whom they could engage directly.
          .customer-stories__article__quote
            img(src="img/quote-icon.png", alt="")
            div
              i “Dealing with our consumers directly and offering them a customer experience that they deserve is at the core of our business culture. NHANCENOW’s simple mechanism allowed us to easily capture consumer data while making the process seamless for them. It also allowed us to bring them onto the NHANCENOW ecosystem. We now have a 24/7 connect with our consumers and offer them all post-purchase interactions with a few taps”.
              b Hiren Modi, CEO

