---
title: Sales Intern
---
extends layouts/_layout
block content
  block header
    include partials/_header
  .careers.careers--details
    .intro
      .container
        h1 Great work. Greater teamwork.
    .careers__details
      .container
        .row
          .col-lg-7
            .careers__details__block
              b CAREERS
              h2 Sales Intern
              h3 Final Year PGDM/MBA/BBN/BBA/BCOM Student <br>Bangalore, Full-time
              p Inspirion Digital Solutions Pvt. Ltd. under its brand name Nhancenow is a digital technology startup that is transforming the way buyers and sellers look at the purchase/sale experience and specifically life post that. It treats that single point as the birth of a new relationship and for each such instance, it creates a series of memorable ‘experience frames’ aka Digital Kits stored securely in a digital locker. This one to one linkage is then leveraged by both parties to harness a high profitable and symbiotic relationship.
              p With the all new Nhancenow technology platform, every purchase is now an amazing digital experience.
            .careers__details__block
              h2 Objective:
              p The objective of this drive is to promote the adoption of Nhancenow Business App. Interns will have revenue targets and specific geographic locations assigned. The life of first year recruits at their corporate offices would be simulated in this exercise.
              p Interns will get to live life in a technology startup for 90 days which will give them the much needed boost and experience as they join the rigours of the real corporate world.
            .careers__details__block
              h2 Profile:
              p Final year PGDM/MBA/BBN/BBA/BCOM student keen to get an exposure in the emerging app-based economy.
              p This profile is strictly for students who want to make a mark in sales & marketing.
              p The Sales Intern needs to promote and market the Nhancenow Business app amongst the MSME segment at Bangalore location.
              p Applicant should be street smart & good with technology sales.
              p Willingness to spend time on the field and learn the nuances of sales is a must.
              p Ability to adapt and perseverance to achieve targets/goals are extremely important attributes.
            .careers__details__block
              h2 Stipend:
              ol
                li i. Fixed stipend of Rs. 10000 for a minimum of three successful sale in a month.
                li ii. Variable stipend of Rs. 2000 for (i.e. for successful sale)
                li iii. No separate allowances for travel, internet, etc. would be included in the stipend.
                li iv. Internship can be terminated due to non-performance or disciplinary reasons.
            .careers__details__block
              h2 Selection:
              ol
                li A. A written test
                li B. A sales simulation exercise
                li C. Personal interview
              p We look forward to associating with some future Sales & Marketing stars in the making! An intern exceeding expectations and showing promise will also be considered for Full Time Employment at Nhancenow.



          .col-lg-4.offset-lg-1
            .careers__details__aside
              div
                b APPLY TO
                a(href="mailto:work@nhancenow.com") work@nhancenow.com
              div
                b Learn more about company
                a(href="tel:+18563734808") +1 856 373 4808
                  img(src="img/careers/whatsapp.png", alt="")
                p Access our product profile, read articles and connect directly on our Company WhatsApp Bot

  block footer
    include partials/_footer