---
title: Senior Manager
---
extends layouts/_layout
block content
  block header
    include partials/_header
  .careers.careers--details
    .intro
      .container
        h1 Great work. Greater teamwork.
    .careers__details
      .container
        .row
          .col-lg-7
            .careers__details__block
              b CAREERS
              h2 Senior Manager
              h3 Strategic Alliances and Partnerships
            
            .careers__details__block
              h2 Introduction
              p Inspirion Digital Solutions Pvt. Ltd. operating under the brand entity of “NHANCE NOW” is an exciting startup incorporated in 2017 at Bengaluru, the startup capital of India. It has its operations in India & Dubai, with plans to expand to US & Singapore in this fiscal year. NHANCE NOW operates in the space of Customer Experience Management and is building tools to transform each purchase into a stunning Digital Experience using Conversational AI.

            .careers__details__block
              h2 Job Description
              p The position of Senior Manager - Strategic Alliances and Partnerships is an exciting new position for an experienced, hands-on, execution-oriented alliances executive. The core mission will be to conceptualise, execute and develop strategic alliances with established leaders and leading-edge start-ups that will accelerate innovation and revenue across a range of market spaces. He or she will work closely with our lines of business and R&D organisation to plan and execute on the alliance objectives. 

            .careers__details__block
              h2 Responsibilities: 
              ul
                li Develop strategic alliances framework and plan to support lines of business and R&D organisations
                li Research, establish and develop new strategic alliances and partnerships
                li Develop and manage governance model and business plan with partner
                li Plan and manage contracts, messaging, product integration, technology sourcing, and go to market plans with partner
                li Sustain, manage and cultivate relationship with partners to foster deeper relationships and explore new opportunities

            .careers__details__block
              h2 Desired Skills & Experience

              ul
                li Bachelor's Degree & MBA, technical degree preferred; 
                li 8 – 10+ years of experience in technology fields, with a substantial portion in sales, marketing, business development or partnership roles
                li 4+ years in executive alliance or partnership roles
                li 5+ years of recent experience in, and knowledge of, mobile, analytics, cloud and/or datacenter products (Preferred)
                li Strong communication and presentation skills
                li Strong planning, project and organisational skills
                li Knowledge of mobile enterprise software, analytics and big data technology, and cloud & datacenter technology (SDN, containers, SaaS, PaaS, etc.)
                li History of developing and leading strategic partnerships
                li Strong sense of technology trends
                li Ability to work independently and with team
                li Willingness to travel extensively
                li Ability to think laterally in various domains to visualise relevant use cases and structure partnerships 
          .col-lg-4.offset-lg-1
            .careers__details__aside
              div
                //- img(src="https://via.placeholder.com/113x126.png", alt="").careers__details__img
                b APPLY TO
                a(href="mailto:work@nhancenow.com") work@nhancenow.com
              div
                b Learn more about company
                a(href="tel:+18563734808") +1 856 373 4808
                  img(src="img/careers/whatsapp.png", alt="")
                p Access our product profile, read articles and connect directly on our Company WhatsApp Bot

  block footer
    include partials/_footer