---
title: SMB Conversational Customer Experience Platform | NHANCE NOW
"description": "Affordable, Plug-n-Play CX platform to enable enterprise grade conversational experiences for service, support and commerce."
---
extends layouts/_layout
block content
  .small-business
    .intro
      .container.wow.fadeInUp(data-wow-duration="1s")
        strong Solutions for Micro & Small Business
        h2 A new way for big growth in small companies
        p Get everything you need to boost your customer interactions, earn more and grow faster - packed into one powerful micro-app.
        a(href="#") Request a Demo
    .small-business__introducing
      .container
        .row
          .col-md-4.col-lg-3.offset-lg-1.col-12.order-md-first.animateme.scrollme(data-when="span" data-from="0" data-to="1" data-easing="linear" data-translatey="-100" style="position: relative;top: 70px")
            .small-business__introducing__img
              img(src="img/small-business/key-features-01.png", alt="")
          .col-md-8.col-12.order-first
            .small-business__introducing__text.wow.fadeInRight(data-wow-duration="1s")
              strong Introducing
              h3 NHANCE NOW Business App
              p A customer interaction, lifetime sales and experience automation app that helps your business grow fast by automating every challenge faced by small business owners like you.
              a(href="#").watch-video
                i.icon.icon-play
                | Watch Video
              a(href="https://play.google.com/store/apps/details?id=com.nhance.vendor" target="_blank").gplay
                img(src="img/small-business/gplay.png", alt="")
    .small-business__feature
      .container
        h2 Key features
        .row
          .col-md-6.col-xl-4.offset-xl-2.col-12
            .small-business__feature__img
              .small-business__feature__img__content
                h4 Business App
                .small-business__feature__img__block.small-business__feature__img__block-primary
                  img.img-block.active(src='img/small-business/dashboard.jpg')
                  img.img-block(src='img/small-business/digital_kit.jpg')
                  img.img-block(src='img/small-business/generate_invoices.jpg')
                  img.img-block(src='img/small-business/push_notifications.jpg')
                  img.img-block(src='img/small-business/feedback.jpg')
                  img.img-block(src='img/small-business/service_request.jpg')
          .col-md-6.col-12
            .small-business__mobile
              .small-business__feature__mobile__block
                strong Digital Kits
                b
                  | Provide invoices, warranty certificates, contact info, notifications, alerts, etc in an digital format
                i.icon.icon-arrow-down
              ul.small-business__feature__items
                li.active
                  strong Dashboard
                  b Get a quick overview of all activities, statuses and features with an elegant dashboard
                li
                  strong Digital kits
                  b Provide invoices, warranty certificates, contact info, notifications, alerts, etc in an digital format
                li
                  strong Generate invoices
                  b Issue mobile friendly invoices along with digital kits after every purchase
                li
                  strong Push notification
                  b Engage with your customers with contextual messaging, alerts and notifications
                li
                  strong Feedback
                  b Capture the voice of your consumer. Simple ratings based feedback
                li
                  strong Service request management
                  b Manage all kinds of service requests with simple built in rules
    .small-business__results
      .container
        h2 Achieve great results without breaking a sweat
        p Designed keeping in mind that a small business owner you have done multiple hats and a new tool shouldn't divert you from your core activities.
        .small-business__results__row
          .small-business__results__block.wow.zoomIn(data-wow-duration="1s")
            img(src="img/small-business/quick-setup.png", alt="")
            strong Quick Setup
            b A 15 minute training is all you need to get going. That's it!
          .small-business__results__block.wow.zoomIn(data-wow-duration="1s")
            img(src="img/small-business/friendly-design.png", alt="")
            strong Friendly Design
            b User interface and navigation is designed with simplicity at the core.
          .small-business__results__block.wow.zoomIn(data-wow-duration="1s")
            img(src="img/small-business/simple-reports.png", alt="")
            strong Simple Reports
            b Get precise insights on what is working and what needs attention.
    .small-business__app
      .container
        h2 An automation app designed to accelerate growth
        .row.features-scroller__row
          .col-md-6.col-lg-5.offset-lg-1.col-12.order-md-first.animateme.scrollme(data-when="span" data-from="0" data-to="1" data-easing="linear" data-translatey="-100" style="position: relative;top: 70px")
            .features-scroller__img
              img(src="img/small-business/small-business__app-1.jpg", alt="")
          .col-md-6.col-lg-5.col-12.order-first
            .features-scroller__text.wow.fadeInRight(data-wow-duration="1s")
              h3 Start with a SMS, end with a transaction
              p Provide engaging customer interactions, additional revenue opportunities and lifecycle messaging with automated transactional SMSes.
        .row.features-scroller__row
          .col-md-6.col-lg-5.offset-lg-2.col-12
            .features-scroller__text.wow.fadeInLeft(data-wow-duration="1s")
              h3 Automate business processes
              p Eliminate day to day headaches and business management challenges by automating key business functions like service tickets, customer data management, payments collection and daily business summary.
          .col-md-6.col-lg-5.col-12.animateme.scrollme(data-when="span" data-from="0" data-to="1" data-easing="linear" data-translatey="-100" style="position: relative;top: 70px")
            .features-scroller__img
              img(src="img/small-business/small-business__app-2.jpg", alt="")
        .row.features-scroller__row
          .col-md-6.col-lg-5.offset-lg-1.col-12.order-md-first.animateme.scrollme(data-when="span" data-from="0" data-to="1" data-easing="linear" data-translatey="-100" style="position: relative;top: 70px")
            .features-scroller__img
              img(src="img/small-business/small-business__app-3.jpg", alt="")
          .col-md-6.col-lg-5.col-12.order-first
            .features-scroller__text.wow.fadeInRight(data-wow-duration="1s")
              h3 Personalized interactions to boost lifetime value
              p Make your customers buy something sooner than they normally would, become repeat buyers with tailored and contextual cross selling, up selling, promotions and exclusive offers.
        .row.features-scroller__row
          .col-md-6.col-lg-5.offset-lg-2.col-12
            .features-scroller__text.wow.fadeInLeft(data-wow-duration="1s")
              h3 Focussed, easy to digest report
              p See where you business is heading with simple yet detailed reports on all key business metrics, sales data, customer data and everything else that matters to you.
          .col-md-6.col-lg-5.col-12.animateme.scrollme(data-when="span" data-from="0" data-to="1" data-easing="linear" data-translatey="-100" style="position: relative;top: 70px")
            .features-scroller__img
              img(src="img/small-business/small-business__app-4.jpg", alt="")

    .small-business__works
      .container
        .row
          .col-lg-6.col-12.order-lg-first
            .small-business__works__img
              img(src="img/small-business/how-it-works-illustration.png", alt="")
          .col-lg-6.col-12.order-first
            h2 How it works
            .small-business__works__text
              ul
                li.wow.fadeInRight(data-wow-duration="1s")
                  strong Setup is easy
                  p Simply download the NHANCE NOW Business App and create a FREE account.
                li.wow.fadeInRight(data-wow-duration="1s")
                  strong Customise controls
                  p Configure which services you need and the parterships to leverage.
                li.wow.fadeInRight(data-wow-duration="1s")
                  strong Scan and Go
                  p Simply scan invoices of each purchase made. Customer and product profile is created.
                li.wow.fadeInRight(data-wow-duration="1s")
                  strong Autopilot mode ON
                  p Automation engine start transactional interactions.
                li.wow.fadeInRight(data-wow-duration="1s")
                  strong Sit back and rejoice
                  p See increased revenue, reduced workload and crisp reports on how you have benefited.



    .small-business__key
      .container
        h2 Key use cases
        .small-business__key__content
          .small-business__key__column.small-business__key__column--primary
            h3 Process automation
            .small-business__key__column__block
              .small-business__key__row
                .small-business__key__block.wow.zoomIn(data-wow-duration="1s")
                  strong Digitize customer records
                  p Move your customer data from notebooks to your online  account and access them anytime, anywhere.
              .small-business__key__row
                .small-business__key__block.wow.zoomIn(data-wow-duration="1s")
                  strong Service ticket management
                  p Create, respond, set priority, assign to technicians and collect fees for completed tasks.
              .small-business__key__row
                .small-business__key__block.wow.zoomIn(data-wow-duration="1s")
                  strong Payment collection
                  p Create and share payment links directly with your customers and lessen your cash management worries.
              .small-business__key__row
                .small-business__key__block.wow.zoomIn(data-wow-duration="1s")
                  strong Automated alerts
                  p Set rules based alert for events like warranty expiry, deals & offers, scheduled events, payment collections,renewals and more. 
              .small-business__key__row
                .small-business__key__block.wow.zoomIn(data-wow-duration="1s")
                  strong User feedback
                  p Listen to what your customers have to say about your brand and service, conduct surveys with ratings and Q&A based feedbacks.
          .small-business__key__column.small-business__key__column--secondary
            h3 Alternate revenue generation automation
            .small-business__key__column__block
              .small-business__key__row
                .small-business__key__block.wow.zoomIn(data-wow-duration="1s")
                  strong Sell care plans
                  p Easily sell extended warranty, insurance, AMC, and various other protection plans  including renewals of existing plans.
                .small-business__key__block.wow.zoomIn(data-wow-duration="1s")
                  strong Delivery & fulfilment
                  p Use pre-existing delivery partnerships to enable door step delivery  to increase sales.
              .small-business__key__row
                .small-business__key__block.wow.zoomIn(data-wow-duration="1s")
                  strong Sell accessories
                  p Sell the most purchased accessories for the most popular products to increase your lifetime value.
                .small-business__key__block.wow.zoomIn(data-wow-duration="1s")
                  strong Buy now pay later options
                  p Choose from multiple partners to offer EMI and consumer loan options to make it easier for consumers to buy and improve revenue.
              .small-business__key__row
                .small-business__key__block.wow.zoomIn(data-wow-duration="1s")
                  strong Automated cross sell
                  p Create a product recommendation list and the in-built engine will automatically promote products with payment links / offers to complete purchases.
                .small-business__key__block.wow.zoomIn(data-wow-duration="1s")
                  strong Service and repair
                  p Pass on appliances and electronic product servicing, installation and repair requests to specialised partners.
              .small-business__key__row
                .small-business__key__block.wow.zoomIn(data-wow-duration="1s")
                  strong Misc consumer products
                  p Use your digitised customer data to sell 3rd party consumer products like financial, travel and other non-competing items.
                .small-business__key__block.wow.zoomIn(data-wow-duration="1s")
                  strong Re-commerce
                  p Help your customers sell used and old products, with instant selling price discover and door step pick up.
              .small-business__key__row
                .small-business__key__block.wow.zoomIn(data-wow-duration="1s")
                  strong Monetize leads
                  p Pass on service requests, installations requests, training and other care services to 3rd party service providers and earn handsome commissions. 
                .small-business__key__block.wow.zoomIn(data-wow-duration="1s")
                  strong Connect with our customer happiness team to discover tailored use cases for your business
                  a(href="#") I want to learn more


    //- .small-business__merchants
    //-   .container
    //-     h2 Hear what happy merchants have to say
    //-     .row
    //-       .col-lg-4.col-12
    //-         .small-business__merchants__block.wow.zoomIn(data-wow-duration="1s")
    //-           .small-business__merchants__decor
    //-             span
    //-             span
    //-           .small-business__merchants__text
    //-             p It's easer to approve and see what's being spent. -  
    //-               b Amir @Silverfin
    //-       .col-lg-4.col-12
    //-         .small-business__merchants__block.wow.zoomIn(data-wow-duration="1s")
    //-           .small-business__merchants__decor
    //-             span
    //-             span
    //-           .small-business__merchants__text
    //-             p It's easer to approve and see what's being spent. -  
    //-               b Amir @Silverfin
    //-       .col-lg-4.col-12
    //-         .small-business__merchants__block.wow.zoomIn(data-wow-duration="1s")
    //-           .small-business__merchants__decor
    //-             span
    //-             span
    //-           .small-business__merchants__text
    //-             p It's easer to approve and see what's being spent. -  
    //-               b Amir @Silverfin
    .small-business__welcome
      .container
        .small-business__welcome__row
          .small-business__welcome__block-primary.wow.fadeInLeft(data-wow-duration="1s")
            h4 Say Bye Bye to...
            p Day to day business process management worries, fall in revenue, downsides of less footfalls. 
            ul
              li Tedious data management
              li Outdated business processes
              li Limited customer interactions
              li Slow growth
              li Indifferent customers
          .small-business__welcome__block-secondary.wow.fadeInRight(data-wow-duration="1s")
            h3 Welcome...
            p Business automation, increased revenue, online services and a less stressful day at work.
            ul
              li
                i.icon.icon-check
                | Data digitisation
              li
                i.icon.icon-check
                | Repeat business
              li
                i.icon.icon-check
                | Alternate revenue
              li
                i.icon.icon-check
                | Growth on Auto Pilot
              li
                i.icon.icon-check
                | Simpler business processes
              li
                i.icon.icon-check
                | Happier customers
            a(href="#") Contact sales
    .small-business__plans
      .container
        .small-business__plans__row
          .small-business__plans__block.wow.flipInY(data-wow-duration="1s")
            .small-business__plans__text
              h3 Free
              strong 
                b 0 
                | INR/mo
              a(href="#").button Select plan
              a(href="#").all All Features
              ul
                li 100 Free SMSes per month
                li Limited to managing
                li 100 customers
          .small-business__plans__block.wow.flipInY(data-wow-duration="1s")
            p Most Popular Plan
            .small-business__plans__text
              h3 Basic
              strong 
                b 999
                | INR/mo
              a(href="#").button Select plan
              a(href="#").all All Features
              ul
                li Automation Engine (limited) 500 free SMSes per month
                li Free Phone/Chat Support
          .small-business__plans__block.wow.flipInY(data-wow-duration="1s")
            .small-business__plans__text
              h3 Pro
              strong 
                b 1999
                | INR/mo
              a(href="#").button Select plan
              a(href="#").all Everything in basic
              ul
                li Automation Engine
                li 2000 free SMSes per month
                li Access to partner ecosystem
                li Free Phone/Chat Support
        .message__channels-other__btn
          strong Let's get you started
          p Our friendly executives are waiting to help you get going
          a(href="#schedule" rel="modal:open") Setup Your Custom Demo
            span 100% Free to get started