---
title: Solutions-5
"description": ""
---
extends layouts/_layout
block content
  block header
    include partials/_header
  .solution.solution-primary
    .intro
      .container.wow.fadeInUp(data-wow-duration="1s")
        h2 Conversational Commerce
        p Simplified Online Shopping and Order Management through everyday messaging apps.
        a(href="#schedule" rel="modal:open") Request Demo
        .intro__video
          iframe(src="https://www.youtube.com/embed/7xmFtatB52I" style="display:none")
          a(href="#video-page" rel="modal:open")
            i.icon.icon-play
            | Watch Video
    .solution__features
      .container
        h2 Key Use Case
        .row.features-scroller__row
          .col-md-6.col-lg-5.offset-lg-1.col-12.order-md-first.animateme.scrollme(data-when="span" data-from="0" data-to="1" data-easing="linear" data-translatey="-100" style="position: relative;top: 70px")
            .features-scroller__img
              img(src="img/solution/new/solutions-5.1.jpg", alt="")
          .col-md-6.col-lg-6.col-12.order-first.wow.fadeInRight(data-wow-duration="1s")
            .features-scroller__text
              h3 
                span 01
                b Lead Generation
              p Reach out to more prospective customers through WhatsApp and engage at a personal level. Showcase your products, enable enquiries and notify customers on the launch of new products. Automate lead generation through the Commerce Bot and drive increased revenues.
        .row.features-scroller__row
          .col-md-6.col-lg-6.offset-lg-1.col-12.wow.fadeInLeft(data-wow-duration="1s")
            .features-scroller__text
              h3 
                span 02
                b New Orders
              p Enable order taking on WhatsApp through personalized conversations. Provide order confirmations, product listings and create opportunities to upsell/cross sell your products.
          .col-md-6.col-lg-5.col-12.animateme.scrollme(data-when="span" data-from="0" data-to="1" data-easing="linear" data-translatey="-100" style="position: relative;top: 70px")
            .features-scroller__img
              img(src="img/solution/new/solutions-5.2.jpg", alt="")
        .row.features-scroller__row
          .col-md-6.col-lg-5.offset-lg-1.col-12.order-md-first.animateme.scrollme(data-when="span" data-from="0" data-to="1" data-easing="linear" data-translatey="-100" style="position: relative;top: 70px")
            .features-scroller__img
              img(src="img/solution/new/solutions-5.3.jpg", alt="")
          .col-md-6.col-lg-6.col-12.order-first.wow.fadeInRight(data-wow-duration="1s")
            .features-scroller__text
              h3 
                span 03
                b Order Management
              p Share real-time information on Shipment Tracking, Returns and Order History through WhatsApp. Keep your customers informed about their orders and provide timely updates about their purchase. With the Commerce Bot, there is minimal need to login to apps, web portals or contact support for any required information. 
        .row.features-scroller__row
          .col-md-6.col-lg-6.offset-lg-1.col-12.wow.fadeInLeft(data-wow-duration="1s")
            .features-scroller__text
              h3 
                span 04
                b Customer Support
              p Automate interactions with your customers through the Commerce Bot, and provide FAQs, escalations and service requests through WhatsApp. Improve customer satisfaction by substantially cutting down turnaround times and allow customers to be connected and informed 24 by 7. 
          .col-md-6.col-lg-5.col-12.animateme.scrollme(data-when="span" data-from="0" data-to="1" data-easing="linear" data-translatey="-100" style="position: relative;top: 70px")
            .features-scroller__img
              img(src="img/solution/new/solutions-5.4.jpg", alt="")
        .row.features-scroller__row
          .col-md-6.col-lg-5.offset-lg-1.col-12.order-md-first.animateme.scrollme(data-when="span" data-from="0" data-to="1" data-easing="linear" data-translatey="-100" style="position: relative;top: 70px")
            .features-scroller__img
              img(src="img/solution/new/solutions-5.5.jpg", alt="")
          .col-md-6.col-lg-6.col-12.order-first.wow.fadeInRight(data-wow-duration="1s")
            .features-scroller__text
              h3 
                span 05
                b Customer Engagement
              p Provide contextual product recommendations, take feedback and automate re-targeting through WhatsApp. Save valuable man-hours and resources by deploying the Commerce Bot to automate customer engagement. 
        .row.features-scroller__row
          .col-md-6.col-lg-6.offset-lg-1.col-12.wow.fadeInLeft(data-wow-duration="1s")
            .features-scroller__text
              h3 
                span 06
                b Loyalty and Rewards
              p Customers can now view and redeem their loyalty points easily over WhatsApp. Enable hassle-free access to the accumulated redemption points and share automated updates when customers reach milestones. 
              p The Commerce Bot provides a more engaging shopping experience, and is a great channel to drive more sales through improved customer satisfaction levels.
          .col-md-6.col-lg-5.col-12.animateme.scrollme(data-when="span" data-from="0" data-to="1" data-easing="linear" data-translatey="-100" style="position: relative;top: 70px")
            .features-scroller__img
              img(src="img/solution/new/solutions-5.6.jpg", alt="")
  block footer
    include partials/_footer