---
title: Solutions-10
"description": ""
---
extends layouts/_layout
block content
  block header
    include partials/_header
  .solution.solution-primary
    .intro
      .container.wow.fadeInUp(data-wow-duration="1s")
        h2 Healthcare <br>(Hospital Services)
        p Enable safe contactless service delivery, easy appointment scheduling and access to key reports with simple messaging.
        a(href="#") Request Demo
        .intro__video
          iframe(src="https://www.youtube.com/embed/g4uymyA9xDk" style="display:none")
          a(href="#video-page" rel="modal:open")
            i.icon.icon-play
            | Watch Video
    .solution__features
      .container
        h2 Key Use Case
        .row.features-scroller__row
          .col-md-6.col-lg-5.offset-lg-1.col-12.order-md-first.animateme.scrollme(data-when="span" data-from="0" data-to="1" data-easing="linear" data-translatey="-100" style="position: relative;top: 70px")
            .features-scroller__img
              img(src="img/solution/transact/transact__img-1.jpg", alt="")
          .col-md-6.col-lg-6.col-12.order-first.wow.fadeInRight(data-wow-duration="1s")
            .features-scroller__text
              h3 
                span 01
                b Appointment scheduling
              p Allow patients to book appointments through WhatsApp, register for services or avail hospital facilities remotely. The Hospital Bot significantly reduces load on hospital staff and doctors through intelligent interactions with patients. 
        .row.features-scroller__row
          .col-md-6.col-lg-6.offset-lg-1.col-12.wow.fadeInLeft(data-wow-duration="1s")
            .features-scroller__text
              h3 
                span 02
                b Query Handling
              p Automate patient FAQs, raise service tickets and notify patients on facilities like insurance claims, ambulance availability, charges, etc. Keep patients and their kin informed through automated, personalized conversations. 
          .col-md-6.col-lg-5.col-12.animateme.scrollme(data-when="span" data-from="0" data-to="1" data-easing="linear" data-translatey="-100" style="position: relative;top: 70px")
            .features-scroller__img
              img(src="img/solution/transact/transact__img-2.jpg", alt="")
        .row.features-scroller__row
          .col-md-6.col-lg-5.offset-lg-1.col-12.order-md-first.animateme.scrollme(data-when="span" data-from="0" data-to="1" data-easing="linear" data-translatey="-100" style="position: relative;top: 70px")
            .features-scroller__img
              img(src="img/solution/transact/transact__img-3.jpg", alt="")
          .col-md-6.col-lg-6.col-12.order-first.wow.fadeInRight(data-wow-duration="1s")
            .features-scroller__text
              h3 
                span 03
                b Billing Management
              p Enable payments over WhatsApp, send reminders for Insurance Renewals, Registration fees, Service Charges, etc. Reduce time and effort by streamlining payment channels and processing time. 

        .row.features-scroller__row
          .col-md-6.col-lg-6.offset-lg-1.col-12.wow.fadeInLeft(data-wow-duration="1s")
            .features-scroller__text
              h3 
                span 04
                b Engagement & Notifications
              p Send medication reminders, dosage information, reports and self diagnosis tips over WhatsApp. Unify all patient information through a single, intelligent conversational interface.

          .col-md-6.col-lg-5.col-12.animateme.scrollme(data-when="span" data-from="0" data-to="1" data-easing="linear" data-translatey="-100" style="position: relative;top: 70px")
            .features-scroller__img
              img(src="img/solution/transact/transact__img-2.jpg", alt="")
        .row.features-scroller__row
          .col-md-6.col-lg-5.offset-lg-1.col-12.order-md-first.animateme.scrollme(data-when="span" data-from="0" data-to="1" data-easing="linear" data-translatey="-100" style="position: relative;top: 70px")
            .features-scroller__img
              img(src="img/solution/transact/transact__img-3.jpg", alt="")
          .col-md-6.col-lg-6.col-12.order-first.wow.fadeInRight(data-wow-duration="1s")
            .features-scroller__text
              h3 
                span 05
                b Digital Repository 
              p Provide instant, 24 by 7 access to lab reports, hospital services and essential tips/advice from doctors. Eliminate the need to maintain physical copies of important patient documents, keep everything access-ready over WhatsApp. 
              p Maximize the efficiency of your hospital/clinic, reduce load on staff and serve patients better with the Hospital Bot. 
        
  block footer
    include partials/_footer