---
title: Team | NHANCE NOW
"description": "A collection of hungry, purposeful go-getters building solutions to simplify the lives of the digitally empowered generation."
---
extends layouts/_layout
block content
  .team
    .intro
      .container.wow.fadeInUp(data-wow-duration="1s")
        h1 Driven by<br>passionate people
        p The NHANCE NOW leadership team and senior members brings together years of experience building enterprise products and software companies founded on strong values. The young guns, an integral part of the growth journey, add freshness and a touch of the wild to make the journey even more exciting.
    .team__content
      .container
        .row
          .col-lg-3.col-md-6.col-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-15.png')
              .team__block__info
                strong Alok Ranjan Subudhi
                p Founder | CEO 
                a(href='https://www.linkedin.com/in/alok-subudhi' target="_blank")
                  i.icon.icon-linkedin
          .col-lg-3.col-md-6.col-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/team-02.png')
              .team__block__info
                strong Praveen Deherkar
                p Co-Founder | CEO - GCC Region
                a(href='https://www.linkedin.com/in/praveen-d-5b59a81' target="_blank")
                  i.icon.icon-linkedin
          .col-lg-3.col-md-6.col-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-14.png')
              .team__block__info
                strong Nishith Patnaik
                p Co-Founder | Head-Product & Marketing
                a(href='https://www.linkedin.com/in/nishithpatnaik19' target="_blank")
                  i.icon.icon-linkedin
          .col-lg-3.col-md-6.col-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-16.png')
              .team__block__info
                strong Manabendra Pattnaik
                p Co-Founder | Head - Engineering
                a(href='https://www.linkedin.com/in/manabendra-pattnaik-b1a68088' target="_blank")
                  i.icon.icon-linkedin




          .col-lg-3.col-md-6.col-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-17.png')
              .team__block__info
                strong Saroj Kumar Biswal
                p Sr. Technical Lead
                //- a(href='#')
                //-   i.icon.icon-linkedin
          .col-lg-3.col-md-6.col-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-18.png')
              .team__block__info
                strong Mohammad Afsar Hussain
                p Sr. Technical Lead - iOS/ Android
                //- a(href='#')
                //-   i.icon.icon-linkedin
          .col-lg-3.col-md-6.col-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-19.png')
              .team__block__info
                strong Vaishakh Pilatholi
                p Head - Design
                //- a(href='#')
                //-   i.icon.icon-linkedin
          .col-lg-3.col-md-6.col-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-27.png')
              .team__block__info
                strong Neethu Lakshmanan
                p Inside Sales Executive
                //- a(href='#')
                //-   i.icon.icon-linkedin





          .col-lg-3.col-md-6.col-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-34.png')
              .team__block__info
                strong Tanmay Srivastava
                p Sales Head - USA
                //- a(href='#')
                //-   i.icon.icon-linkedin
          .col-lg-3.col-md-6.col-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-39.png')
              .team__block__info
                strong Kunjabihari Kar
                p Sr.Customer Advocate
                //- a(href='#')
                //-   i.icon.icon-linkedin
          .col-lg-3.col-md-6.col-12.team__block__hover--js
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__hover
                p We are who we are. Original forever.
                a.btn.btn-secondary(href='https://angel.co/company/nhance-now/jobs' target="_blank") careers
          .col-lg-3.col-md-6.col-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-43.png')
              .team__block__info
                strong Arifmohmad Mansuri
                p Lead- Project Management Operations
                //- a(href='#')
                //-   i.icon.icon-linkedin




          .col-lg-3.col-md-6.col-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-30.png')
              .team__block__info
                strong Suraj G Rao
                p Lead - Product and Business Analyst
                //- a(href='#')
                //-   i.icon.icon-linkedin
          .col-lg-3.col-md-6.col-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-35.png')
              .team__block__info
                strong Dhakshayini Gopalaiah
                p Head - People Experience
                //- a(href='#')
                //-   i.icon.icon-linkedin
          .col-lg-3.col-md-6.col-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-36.png')
              .team__block__info
                strong Dennis Korah
                p Sr.Technical Architect
                //- a(href='#')
                //-   i.icon.icon-linkedin
          .col-lg-3.col-md-6.col-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-29.png')
              .team__block__info
                strong Sambit Kumar Swain
                p Sr. Technical Lead
                //- a(href='#')
                //-   i.icon.icon-linkedin






          .col-lg-3.col-md-6.col-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-47.png')
              .team__block__info
                strong Roopashree SN
                p Principal Lead - QA
                //- a(href='#')
                //-   i.icon.icon-linkedin
          .col-lg-3.col-md-6.col-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-42.png')
              .team__block__info
                strong Vinoth A
                p Sr. Technical Lead
                //- a(href='#')
                //-   i.icon.icon-linkedin
          .col-lg-3.col-md-6.col-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-48.png')
              .team__block__info
                strong Swadhin Nayak
                p Sr. Technical Lead
                //- a(href='#')
                //-   i.icon.icon-linkedin
          .col-lg-3.col-md-6.col-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-45.png')
              .team__block__info
                strong Ajinkya Gajare
                p Full Stack Engineer
                //- a(href='#')
                //-   i.icon.icon-linkedin





          .col-lg-3.col-md-6.col-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-50.png')
              .team__block__info
                strong Shailendra Bhargava
                p Full Stack Engineer
                //- a(href='#')
                //-   i.icon.icon-linkedin
          .col-lg-3.col-md-6.col-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-22.png')
              .team__block__info
                strong Rajlaxmi Singh
                p Full Stack Engineer
                //- a(href='#')
                //-   i.icon.icon-linkedin
          .col-lg-3.col-md-6.col-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-38.png')
              .team__block__info
                strong Shashank Bhavsar
                p Android Engineer
                //- a(href='#')
                //-   i.icon.icon-linkedin
          .col-lg-3.col-md-6.col-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src="img/team/layer-71.png", alt="")
              .team__block__info
                strong Praneeth Rahul
                p Sr Software Engineer - Android
                //- a(href='#')
                //-   i.icon.icon-linkedin






          .col-lg-3.col-md-6.col-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-23.png')
              .team__block__info
                strong Nupur Mohanty
                p Front End Engineer
                //- a(href='#')
                //-   i.icon.icon-linkedin
          .col-lg-3.col-md-6.col-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-46.png')
              .team__block__info
                strong Niranjan Behera
                p Sales Executive
                //- a(href='#')
                //-   i.icon.icon-linkedin
          .col-lg-3.col-md-6.col-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-52.png')
              .team__block__info
                strong Chiranjiv Rout
                p QA Engineer
                //- a(href='#')
                //-   i.icon.icon-linkedin
          .col-lg-3.col-md-6.col-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-31.png')
              .team__block__info
                strong Nawin Kumar
                p Software Engineer - iOS
                //- a(href='#')
                //-   i.icon.icon-linkedin







          .col-lg-3.col-md-6.col-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src="img/team/layer-723.png", alt="")
              .team__block__info
                strong Siddaraja Shivkumar
                p Lead - Finance & Accounts
                //- a(href='#')
                //-   i.icon.icon-linkedin
          .col-lg-3.col-md-6.col-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-51.png')
              .team__block__info
                strong Sridhar R N
                p Sr. Finance Associate
                //- a(href='#')
                //-   i.icon.icon-linkedin
          .col-lg-3.col-md-6.col-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-40.png')
              .team__block__info
                strong Deepti Bhusan Nayak
                p QA Engineer
                //- a(href='#')
                //-   i.icon.icon-linkedin
          .col-lg-3.col-md-6.col-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-33.png')
              .team__block__info
                strong Manmohan Dash
                p Sr. Test Engineer - Automation
                //- a(href='#')
                //-   i.icon.icon-linkedin




          .col-lg-3.col-md-6.col-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src="img/team/layer-725.png", alt="")
              .team__block__info
                strong Vinutha Kumari
                p Inside Sales Representative
                //- a(href='#')
                //-   i.icon.icon-linkedin
          .col-lg-3.col-md-6.col-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-716.png')
              .team__block__info
                strong Raghavendra
                p Sr. Product Analyst
                //- a(href='#')
                //-   i.icon.icon-linkedin

