---
title: Team | NHANCE NOW
"description": "A collection of hungry, purposeful go-getters building solutions to simplify the lives of the digitally empowered generation."
---
extends layouts/_layout
block content
  block header
    include partials/_header
  .team
    .intro
      .container.wow.fadeInUp(data-wow-duration="1s")
        h1 Driven by<br>passionate people
        p The NHANCE NOW leadership team and senior members brings together years of experience building enterprise products and software companies founded on strong values. The young guns, an integral part of the growth journey, add freshness and a touch of the wild to make the journey even more exciting.
    .team__content
      .container
        h2 Leadership Team
        .row
          .col-lg-3.col-md-6.col-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-7333.png')
              .team__block__info
                strong Ansuman Dani
                p CEO
                a(href='https://www.linkedin.com/in/ansuman-dani-a319145/' target="_blank")
                  i.icon.icon-linkedin
          .col-lg-3.col-md-6.col-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/team-02.png')
              .team__block__info
                strong Praveen Deherkar
                p Co-Founder | Head - Europe Operations 
                a(href='https://www.linkedin.com/in/praveen-d-5b59a81' target="_blank")
                  i.icon.icon-linkedin
          .col-lg-3.col-md-6.col-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-14.png')
              .team__block__info
                strong Nishith Patnaik
                p Co-Founder | Head-Product & Marketing
                a(href='https://www.linkedin.com/in/nishithpatnaik19' target="_blank")
                  i.icon.icon-linkedin
          .col-lg-3.col-md-6.col-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-16.png')
              .team__block__info
                strong Manabendra Pattnaik
                p Co-Founder | Head - Engineering	
                a(href='https://www.linkedin.com/in/manabendra-pattnaik-b1a68088' target="_blank")
                  i.icon.icon-linkedin




          .col-lg-3.col-md-6.col-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-35.png')
              .team__block__info
                strong Dhakshayini Gopalaiah
                p Principal Lead - People Experience
                a(href='#')
                  i.icon.icon-linkedin


        h2 Investor and Promoter
        .row
          .col-lg-3.col-md-6.col-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-15.png')
              .team__block__info
                strong Alok Ranjan Subudhi
                p Promoter
                a(href='https://www.linkedin.com/in/alok-subudhi' target="_blank")
                  i.icon.icon-linkedin
          .col-lg-3.col-md-6.col-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-7143e.png')
              .team__block__info
                strong Raj Vattikuti
                p Investor
                a(href='https://www.linkedin.com/in/raj-vattikuti-071993122/' target="_blank")
                  i.icon.icon-linkedin
        

        h2 Advisory Board
        .row
          .col-lg-3.col-md-6.col-12
            .team__block.wow.zoomIn(data-wow-duration='1.5s')
              .team__block__img
                img(src='img/team/layer-72332.png')
              .team__block__info
                strong Shoaib Ahmed
                p Advisor, Strategy and Growth
                a(href='https://www.linkedin.com/in/shoaibahmedsait/?originalSubdomain=in' target="_blank")
                  i.icon.icon-linkedin
  block footer
    include partials/_footer