---
title: Thank You
"description": ""
---
extends layouts/_layout
block content
  .container
    .thank-you
      .thank-you__logo
        img(src="img/nhance-logo.svg", alt="")
      h1 Thank you for requesting a demo of NHANCE NOW
      p One of our product specialist will contact you shortly on the submitted mobile number to schedule a custom tailored demo on the date & time that best suits you.
      p Please visit 
        a(href="https://www.nhancenow.com/") www.nhancenow.com