---
title: Conversational Customer Experience Use Cases | NHANCE NOW
"description": "Discover curated conversational customer experience use case for Travel, Hospitality, Wellness, Beauty, Consumer Electronics, Home Appliances, Automotive and Healthcare industries."
---
extends layouts/_layout
block content
  .cases
    .intro
      .container.wow.fadeInUp(data-wow-duration="1s")
        h2 Use cases
        p Discover number of ways in which your business can benefit from our suite of conversational templates. We have used industry best practices to curate templates to get you up and running quickly.
        p All our templates come with AI Models , NLP, Machine L earning and domain specific conversational workflows.
    .cases__specific
      h2 See your industry specific use cases
      .tabs
        ul.tabs__caption
          li.active 01. Wellness
          li 02. Travel
          li 03. Hospitality
          li 04. Automotive
          li 05. Electronics
        .tabs__block
          .tabs__content#0.active
            .container
              .row
                .col-xl-3.col-lg-4.col-12
                  .cases__specific__schedule
                    img(src="img/cases/use-case-img.png", alt="")
                    div
                      strong Skin advisor
                .col-xl-9.col-lg-8.col-12
                  .row
                    .col-xl-4.col-md-6.col-12
                      .cases__specific__advantages
                        i.icon.icon-check
                        p One stop hub for all skin related queries & beauty product information.
                    .col-xl-4.col-md-6.col-12
                      .cases__specific__advantages
                        i.icon.icon-check
                        p Anytime, anywhere access for consumers - Whatsapp, FB messenger & Alexa.
                    .col-xl-4.col-md-6.col-12
                      .cases__specific__advantages
                        i.icon.icon-check
                        p Beauty advise based on skin type, product offerings & personalized information.
                    .col-xl-4.col-md-6.col-12
                      .cases__specific__advantages
                        i.icon.icon-check
                        p Deals, offers and purchase options on the go.
                    .col-xl-4.col-md-6.col-12
                      .cases__specific__advantages
                        i.icon.icon-check
                        p Ensure your customers stay beautiful - always! 
              .cases__specific__row
                .cases__specific__block
                  .cases__specific__img
                    img(src="img/cases/cases__specific__img1-1.jpg", alt="")
                  h4 NHANCE NOW App
                  p Buy products, get advice, personal beauty advisor.
                .cases__specific__block
                  .cases__specific__img
                    img(src="img/cases/cases__specific__img1-2.jpg", alt="")
                  h4 FB Messenger
                  p Buy products, get advice, personal beauty advisor.
                .cases__specific__block
                  .cases__specific__img
                    img(src="img/cases/cases__specific__img1-3.jpg", alt="")
                  h4 Whatsapp
                  p Buy products, get advice, personal beauty advisor.
                .cases__specific__block
                  .cases__specific__img.cases__specific__img-secondary
                    img(src="img/cases/cases__specific__img1-4.png", alt="")
                  h4 Alexa Devices
                  p Buy products, get advice, personal beauty advisor.
                
          .tabs__content#1
            .container
              .row
                .col-xl-3.col-lg-4.col-12
                  .cases__specific__schedule
                    img(src="img/cases/use-case-img.png", alt="")
                    div
                      strong Travel experiences
                .col-xl-9.col-lg-8.col-12
                  .row
                    .col-xl-4.col-md-6.col-12
                      .cases__specific__advantages
                        i.icon.icon-check
                        p Experiences booking
                    .col-xl-4.col-md-6.col-12
                      .cases__specific__advantages
                        i.icon.icon-check
                        p Travel experience advisor
                    .col-xl-4.col-md-6.col-12
                      .cases__specific__advantages
                        i.icon.icon-check
                        p Service & support
              .cases__specific__row
                .cases__specific__block
                  .cases__specific__img
                    img(src="img/cases/cases__specific__img2-1.jpg", alt="")
                  h4 NHANCE NOW App
                  p Book tickets, book experiences, real time support, virtual tours,  location guides.
                .cases__specific__block
                  .cases__specific__img
                    img(src="img/cases/cases__specific__img2-2.jpg", alt="")
                  h4 FB Messenger
                  p Book tickets, book experiences, real time support, virtual tours,  location guides.
                .cases__specific__block
                  .cases__specific__img
                    img(src="img/cases/cases__specific__img2-3.jpg", alt="")
                  h4 Whatsapp
                  p Book tickets, book experiences, real time support, virtual tours,  location guides.
          .tabs__content#2
            .container
              .row
                .col-xl-3.col-lg-4.col-12
                  .cases__specific__schedule
                    img(src="img/cases/use-case-img.png", alt="")
                    div
                      strong Hotels
                      p Enhanced guest experiences
                .col-xl-9.col-lg-8.col-12
                  .row
                    .col-xl-4.col-md-6.col-12
                      .cases__specific__advantages
                        i.icon.icon-check
                        p Pre stay guest experience
                    .col-xl-4.col-md-6.col-12
                      .cases__specific__advantages
                        i.icon.icon-check
                        p In stay guest experience
                    .col-xl-4.col-md-6.col-12
                      .cases__specific__advantages
                        i.icon.icon-check
                        p General information & bookings
              .cases__specific__row
                .cases__specific__block
                  .cases__specific__img
                    img(src="img/cases/cases__specific__img3-1.jpg", alt="")
                  h4 NHANCE NOW App
                  p 
                    strong Pre - Stay & In - Stay Guest Experience: 
                    | Order Room service, house keeping, general information, purchases, booking, experience hotel amenities, digital invoices, discover nearby places.
                .cases__specific__block
                  .cases__specific__img
                    img(src="img/cases/cases__specific__img3-2.jpg", alt="")
                  h4 FB Messenger
                  p 
                    strong Pre - Stay & In - Stay Guest Experience: 
                    | Order Room service, house keeping, general information, purchases, booking.
                .cases__specific__block
                  .cases__specific__img
                    img(src="img/cases/cases__specific__img3-3.jpg", alt="")
                  h4 Whatsapp
                  p
                    strong Pre - Stay & In - Stay Guest Experience: 
                    | Order Room service, house keeping, general information, purchases, booking.
                .cases__specific__block
                  .cases__specific__img.cases__specific__img-secondary
                    img(src="img/cases/cases__specific__img3-4.png", alt="")
                  h4 Alexa Devices
                  p
                    strong Pre - Stay & In - Stay Guest Experience: 
                    | Order Room service, house keeping, general information, purchases, booking.
          .tabs__content#3
            .container
              .row
                .col-xl-3.col-lg-4.col-12
                  .cases__specific__schedule
                    img(src="img/cases/use-case-img.png", alt="")
                    div
                      strong Automobiles
                      p Post-purchase experience
                .col-xl-9.col-lg-8.col-12
                  .row
                    .col-xl-4.col-md-6.col-12
                      .cases__specific__advantages
                        i.icon.icon-check
                        p Student lifecycle management - driving school
                    .col-xl-4.col-md-6.col-12
                      .cases__specific__advantages
                        i.icon.icon-check
                        p Vehicle ownership experience
                    .col-xl-4.col-md-6.col-12
                      .cases__specific__advantages
                        i.icon.icon-check
                        p Service & support
                    .col-xl-4.col-md-6.col-12
                      .cases__specific__advantages
                        i.icon.icon-check
                        p Automated vehicle journey management
              .cases__specific__row
                .cases__specific__block
                  .cases__specific__img
                    img(src="img/cases/cases__specific__img4-1.jpg", alt="")
                  h4 NHANCE NOW App
                  p
                    strong Post-Purchase Experience Hub : 
                    | Digital documents, service requests, self help (DIY) artefacts, complimentary purchases (e.g. Extended Warranty, Accessories, insurance) Alerts, Notifications, Exlusive Offers, Feedback, Contests.
                .cases__specific__block
                  .cases__specific__img
                    img(src="img/cases/cases__specific__img4-2.jpg", alt="")
                  h4 FB Messenger
                  p
                    strong Post-Purchase Experience Hub : 
                    | Digital documents, service requests, self help (DIY) artefacts, complimentary purchases (e.g. Extended Warranty, Accessories, insurance) Alerts, Notifications, Exlusive Offers, Feedback, Contests.
                .cases__specific__block
                  .cases__specific__img
                    img(src="img/cases/cases__specific__img4-3.jpg", alt="")
                  h4 Whatsapp
                  p
                    strong Post-Purchase Experience Hub : 
                    | Digital documents, service requests, self help (DIY) artefacts, complimentary purchases (e.g. Extended Warranty, Accessories, insurance) Alerts, Notifications, Exlusive Offers, Feedback, Contests.
                .cases__specific__block
                  .cases__specific__img.cases__specific__img-secondary
                    img(src="img/cases/cases__specific__img4-4.png", alt="")
                  h4 Alexa Devices
                  p 
                    strong Post-Purchase Experience Hub : 
                    | Service requests, Support FAQs, complimentary purchases (e.g. Extended Warranty, Accessories, insurance) Alerts, Notifications, Exclusive Offers, Feedback
          .tabs__content#4
            .container
              .row
                .col-xl-3.col-lg-4.col-12
                  .cases__specific__schedule
                    img(src="img/cases/use-case-img.png", alt="")
                    div
                      strong Electronics
                      p Post-purchase experience
                .col-xl-9.col-lg-8.col-12
                  .row
                    .col-xl-4.col-md-6.col-12
                      .cases__specific__advantages
                        i.icon.icon-check
                        p Conversational experience hub
                    .col-xl-4.col-md-6.col-12
                      .cases__specific__advantages
                        i.icon.icon-check
                        p Conversational commerce
                    .col-xl-4.col-md-6.col-12
                      .cases__specific__advantages
                        i.icon.icon-check
                        p Conversational customer support
                    .col-xl-4.col-md-6.col-12
                      .cases__specific__advantages
                        i.icon.icon-check
                        p Automated product journey management
              .cases__specific__row
                .cases__specific__block
                  .cases__specific__img
                    img(src="img/cases/cases__specific__img5-1.jpg", alt="")
                  h4 NHANCE NOW App
                  p
                    strong Post-Purchase Experience Hub: 
                    | Digital documents, service requests, self help (DIY) artefacts, complimentary purchases (e.g. Extended Warranty, Accessories, insurance) Alerts, Notifications, Exlusive Offers, Feedback, Contests.
                .cases__specific__block
                  .cases__specific__img
                    img(src="img/cases/cases__specific__img5-2.jpg", alt="")
                  h4 FB Messenger
                  p
                    strong Post-Purchase Experience Hub: 
                    | Digital documents, service requests, self help (DIY) artefacts, complimentary purchases (e.g. Extended Warranty, Accessories, insurance) Alerts, Notifications, Exlusive Offers, Feedback, Contests.
                .cases__specific__block
                  .cases__specific__img
                    img(src="img/cases/cases__specific__img5-3.jpg", alt="")
                  h4 Whatsapp
                  p
                    strong Post-Purchase Experience Hub: 
                    | Digital documents, service requests, self help (DIY) artefacts, complimentary purchases (e.g. Extended Warranty, Accessories, insurance) Alerts, Notifications, Exlusive Offers, Feedback, Contests.
                .cases__specific__block
                  .cases__specific__img.cases__specific__img-secondary
                    img(src="img/cases/cases__specific__img5-4.png", alt="")
                  h4 Alexa Devices
                  p 
                    strong Post-Purchase Experience Hub: 
                    | Service requests, Support FAQs, complimentary purchases (e.g. Extended Warranty, Accessories, insurance) Alerts, Notifications, Exclusive Offers, Feedback.


