---
title: Videos
"description": ""
---
extends layouts/_layout
block content
  block header
    include partials/_header
  .video
    .intro
      .container.wow.fadeInUp(data-wow-duration="1s")
        h2 Videos
        p Access Webinars, Product Videos and Tactical Advice
    .container
      .video__row
        aside.video__aside
          h4 Filter By
            a(href="#") Clear all tags
          p Industry
          input(type="checkbox" id="industry-1" checked)
          label(for="industry-1") Webinars
          input(type="checkbox" id="industry-2")
          label(for="industry-2") Product
          input(type="checkbox" id="industry-3")
          label(for="industry-3") Advertisements
          input(type="checkbox" id="industry-4")
          label(for="industry-4") Social Media 
        .video__content
          h3 Industry: 
            span Webinars
          .row
            .col-xl-3.col-lg-4.col-md-6.col-12
              .video__block
                .video__block__header(style="background-image: url('https://via.placeholder.com/240x243.png')")
                  a(href="#video-page" rel="modal:open").video-open
                    img(src="https://via.placeholder.com/70x50/FFFF00/000000.png')", alt="")
                .video__block__footer
                  ul
                    li Manage CX
                    li Customer
            .col-xl-3.col-lg-4.col-md-6.col-12
              .video__block
                .video__block__header(style="background-image: url('https://via.placeholder.com/240x243.png')")
                  a(href="#video-page" rel="modal:open").video-open
                    img(src="https://via.placeholder.com/70x50/FFFF00/000000.png')", alt="")
                .video__block__footer
                  ul
                    li Manage CX
                    li Customer
            .col-xl-3.col-lg-4.col-md-6.col-12
              .video__block
                .video__block__header(style="background-image: url('https://via.placeholder.com/240x243.png')")
                  a(href="#video-page" rel="modal:open").video-open
                    img(src="https://via.placeholder.com/70x50/FFFF00/000000.png')", alt="")
                .video__block__footer
                  ul
                    li Manage CX
                    li Customer
            .col-xl-3.col-lg-4.col-md-6.col-12
              .video__block
                .video__block__header(style="background-image: url('https://via.placeholder.com/240x243.png')")
                  a(href="#video-page" rel="modal:open").video-open
                    img(src="https://via.placeholder.com/70x50/FFFF00/000000.png')", alt="")
                .video__block__footer
                  ul
                    li Manage CX
                    li Customer
            .col-xl-3.col-lg-4.col-md-6.col-12
              .video__block
                .video__block__header(style="background-image: url('https://via.placeholder.com/240x243.png')")
                  a(href="#video-page" rel="modal:open").video-open
                    img(src="https://via.placeholder.com/70x50/FFFF00/000000.png')", alt="")
                .video__block__footer
                  ul
                    li Manage CX
                    li Customer
            .col-xl-3.col-lg-4.col-md-6.col-12
              .video__block
                .video__block__header(style="background-image: url('https://via.placeholder.com/240x243.png')")
                  a(href="#video-page" rel="modal:open").video-open
                    img(src="https://via.placeholder.com/70x50/FFFF00/000000.png')", alt="")
                .video__block__footer
                  ul
                    li Manage CX
                    li Customer
            .col-xl-3.col-lg-4.col-md-6.col-12
              .video__block
                .video__block__header(style="background-image: url('https://via.placeholder.com/240x243.png')")
                  a(href="#video-page" rel="modal:open").video-open
                    img(src="https://via.placeholder.com/70x50/FFFF00/000000.png')", alt="")
                .video__block__footer
                  ul
                    li Manage CX
                    li Customer
            .col-xl-3.col-lg-4.col-md-6.col-12
              .video__block
                .video__block__header(style="background-image: url('https://via.placeholder.com/240x243.png')")
                  a(href="#video-page" rel="modal:open").video-open
                    img(src="https://via.placeholder.com/70x50/FFFF00/000000.png')", alt="")
                .video__block__footer
                  ul
                    li Manage CX
                    li Customer
                



  block footer
    include partials/_footer