---
title: Videos
"description": ""
---
extends layouts/_layout
block content
  block header
    include partials/_header
  .video
    .intro
      .container.wow.fadeInUp(data-wow-duration="1s")
        h2 Videos
        p Access Webinars, Product Videos and Tactical Advice
    .container
      .video__row
        aside.video__aside
          h4 Filter By
            a(href="#") Clear all tags
          p Industry
          .video__aside__checkbox
            input(type="checkbox" id="industry-1" checked)
            label(for="industry-1").checked Webinars
            input(type="checkbox" id="industry-2")
            label(for="industry-2") Product
            input(type="checkbox" id="industry-3")
            label(for="industry-3") Advertisements
            input(type="checkbox" id="industry-4")
            label(for="industry-4") Social Media 
        .video__content
          h3 
            b Industry: 
            span Webinars
          .row
            .col-xl-3.col-lg-4.col-md-6.col-12
              .video__block
                .video__block__header
                  a(href="#video-page" rel="modal:open").video-open
                  iframe(src="https://www.youtube.com/embed/ImPYxIPD5y4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                .video__block__footer
                  ul
                    li Webinars
                    li Product
            .col-xl-3.col-lg-4.col-md-6.col-12
              .video__block
                .video__block__header
                  a(href="#video-page" rel="modal:open").video-open
                  iframe(src="https://www.youtube.com/embed/ImPYxIPD5y4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                .video__block__footer
                  ul
                    li Advertisements
                    li Social Media 
            .col-xl-3.col-lg-4.col-md-6.col-12
              .video__block
                .video__block__header
                  a(href="#video-page" rel="modal:open").video-open
                  iframe(src="https://www.youtube.com/embed/ImPYxIPD5y4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                .video__block__footer
                  ul
                    li Advertisements
            .col-xl-3.col-lg-4.col-md-6.col-12
              .video__block
                .video__block__header
                  a(href="#video-page" rel="modal:open").video-open
                  iframe(src="https://www.youtube.com/embed/ImPYxIPD5y4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                .video__block__footer
                  ul
                    li Product
            .col-xl-3.col-lg-4.col-md-6.col-12
              .video__block
                .video__block__header
                  a(href="#video-page" rel="modal:open").video-open
                  iframe(src="https://www.youtube.com/embed/ImPYxIPD5y4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                .video__block__footer
                  ul
                    li Advertisements
            .col-xl-3.col-lg-4.col-md-6.col-12
              .video__block
                .video__block__header
                  a(href="#video-page" rel="modal:open").video-open
                  iframe(src="https://www.youtube.com/embed/ImPYxIPD5y4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                .video__block__footer
                  ul
                    li Product
            .col-xl-3.col-lg-4.col-md-6.col-12
              .video__block
                .video__block__header
                  a(href="#video-page" rel="modal:open").video-open
                  iframe(src="https://www.youtube.com/embed/ImPYxIPD5y4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                .video__block__footer
                  ul
                    li Social Media 
                    li Customer
            .col-xl-3.col-lg-4.col-md-6.col-12
              .video__block
                .video__block__header
                  a(href="#video-page" rel="modal:open").video-open
                  iframe(src="https://www.youtube.com/embed/KG-7yu2GNko" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                .video__block__footer
                  ul
                    li Manage CX
                    li Webinars
                



  block footer
    include partials/_footer