---
title: Voice
---
extends layouts/_layout
block content
  .voice
    .intro
      .container.wow.fadeInUp(data-wow-duration="1s")
        strong Voice Gateway
        h2 Liberate your customers from typing and reading.
        p Help them with an immediate and frictionless way of getting answers, information and alerts in the most natural and human form of interaction.
    .voice__text
      .container.wow.fadeInUp(data-wow-duration="1s")
        h2 How may i help you? The future of CX here today
        p Voice technology is the future of customer experience. As brands worldwide look for new ways to personalize relationships with their customers, voice offers the most convenient opportunity.
        p Be it support, access to information or purchases, businesses get maximum value from channels which offer these services through voice mediums. Voice tech allows your customers to mimic natural behavior and is the most casual way for them to get their work done.
        p By 2020 half of all internet searches and 30% of all interactions would be by voice! Incorporating voice technology throughout every stage of the customer experience offers unprecedented opportunities to boost customer happiness and cultivate customer loyalty. And you can get started 
          b NOW!
    .voice__channels
      .container
        h2 Meet your voice channels
        .voice__channels__row
          .voice__channels__block.wow.zoomIn(data-wow-duration="1s")
            .voice__channels__block__img
              img(src="img/voice/voice-1.png", alt="")
            strong Alexa Enabled Devices
          .voice__channels__block.wow.zoomIn(data-wow-duration="1s")
            .voice__channels__block__img
              img(src="img/voice/voice-2.png", alt="")
            strong Google Home Devices
          .voice__channels__block.wow.zoomIn(data-wow-duration="1s")
            .voice__channels__block__img
              img(src="img/voice/voice-3.png", alt="")
            strong Apple Homepod
        .row.features-scroller__row
          .col-md-6.col-12.order-md-first.animateme.scrollme(data-when="span" data-from="0" data-to="1" data-easing="linear" data-translatey="-100" style="position: relative;top: 70px")
            .features-scroller__img-voice
              img(src="img/voice/voice-illustration-1.png", alt="")
          .col-md-6.col-12.order-first.wow.fadeInRight(data-wow-duration="1s")
            .features-scroller__text
              h3 Enable a personal assistant for every customer
              p Turn voice enabled devices and voice assistants on your customer's mobile into their digital personal assistants by connecting your company's service, support and other interaction channels. Your customer's entire brand experience is now as simple as 'Just Asking'.
              b 
                span.features-scroller__text--color 80%
                strong Jump in customer convenience and interactions when brands enable voice based customer support.
        .row.features-scroller__row
          .col-md-6.col-12.wow.fadeInLeft(data-wow-duration="1s")
            .features-scroller__text
              h3 Voice bots that provide 24/7 customer support
              p Your customers may need support at any time of day and keeping agents at full capacity affects long term business revenue. Give your customers voice interfaces that answers their queries in a natural conversational flow, just like a customer support respresentative.
              b 
                span.features-scroller__text--color 30%
                strong Savings in customer support costs with voice bots that work round the clock reducing human resource.
          .col-md-6.col-12.animateme.scrollme(data-when="span" data-from="0" data-to="1" data-easing="linear" data-translatey="-100" style="position: relative;top: 70px")
            .features-scroller__img-voice
              img(src="img/voice/voice-illustration-2.png", alt="")
        .row.features-scroller__row
          .col-md-5.col-12.order-md-first.animateme.scrollme(data-when="span" data-from="0" data-to="1" data-easing="linear" data-translatey="-100" style="position: relative;top: 70px")
            .features-scroller__img-voice
              img(src="img/voice/voice-illustration-3.png", alt="")
          .col-md-6.offset-md-1.col-12.order-first.wow.fadeInRight(data-wow-duration="1s")
            .features-scroller__text
              h3 Talk to your customers in the language they prefer
              p Take personalization deeper with a localized flavor to your customer interactions. Leverage localization algorithms and natural language understanding technology to let customers talk to you in their own language.
              b 
                span.features-scroller__text--color 3x
                strong Increase in customer engagement when businesses talk to their customers in local languages.
        .row.features-scroller__row
          .col-md-6.col-12.wow.fadeInLeft(data-wow-duration="1s")
            .features-scroller__text
              h3 Never put your<br> customers on hold ever again
              p Your customers hate waiting! On hold, for answers or for transactions to be completed. It's the No.1 reason why they abandon brands. Adopting voice technology eliminates wait times, untangles them from IVRs and gets them the answers they need in an instant.
              b 
                span.features-scroller__text--color 55%
                strong Of customers dropout of support calls if they are made to wait on hold for more than 3 minutes.
          .col-md-6.col-12.animateme.scrollme(data-when="span" data-from="0" data-to="1" data-easing="linear" data-translatey="-100" style="position: relative;top: 70px")
            .features-scroller__img-voice
              img(src="img/voice/voice-illustration-4.png", alt="")
        .row.features-scroller__row
          .col-md-5.col-12.order-md-first.animateme.scrollme(data-when="span" data-from="0" data-to="1" data-easing="linear" data-translatey="-100" style="position: relative;top: 70px")
            .features-scroller__img-voice
              img(src="img/voice/voice-illustration-5.png", alt="")
          .col-md-6.offset-md-1.col-12.order-first.wow.fadeInRight(data-wow-duration="1s")
            .features-scroller__text
              h3 Give your brand a voice of its own
              p Business growth is all about relationships. Voice tech helps you create a tailored brand tone that humanizes your brand identity. Customers love real relationships and voice tech allows you to add the missing human touch to otherwise cold digital relationships.
              b 
                span 5x
                strong Increase in brand loyalty when customers encounter humanized brand experiences.
    .voice__help
      .container
        h2 How does voice technology helps to improve your business?
        .voice__help__row
          .voice__help__block.wow.zoomIn(data-wow-duration="1s")
            h4 Driving Customer Experience
            b Range of service
            p 24 hours a day, 7 days a week, customer service availability
            b Increased quality and accuracy
            p Reduce human dependancy and provide machine driven consistent responses
            b Speed of Service
            p Timely and efficient problem handling during the first contact
          .voice__help__block.wow.zoomIn(data-wow-duration="1s")
            h4 Driving Productivity and Efficiency
            b Lower Costs
            p Decrease number of customer service agents
            b Focus on value added work
            p Customer service agents can invest more time on complex cases
          .voice__help__block.wow.zoomIn(data-wow-duration="1s")
            h4 Delivering Business Outcomes
            b Sales Enabled Chatbots
            p Enable ChatBots to order products on behalf of the customer
            b Customer Loyalty
            p Increase customer loyalty by giving a personalized customer experience approach


    .voice__cases
      .container
        h2 Use Cases
        img(src="img/voice/voice-use-cases.png", alt="")

    .customer-success
      .container
        .row
          .col-md-5.col-12
          .col-md-7.col-12
            .customer-success__text.wow.fadeInUp(data-wow-duration="1s")
              h3 Customer proof
              p "Our customers prefer instant messaging to get their queries resolved rather than send an email and wait. Providing support over WhatsApp has helped us build trust and helped our customers take decisions promptly."
              strong Joe Ary
              span VP-Operations, Trinity Financials
    .message__channels-other
      .container
        h2 Meet the other channels
        .row
          .col-md-6.col-12
            .message__channels-other__block.wow.zoomIn(data-wow-duration="1s")
              h3 Digital Experience Card
              p The world's first interactive digital card for customer experience, that helps your customers with all post purchase interactions in one place.
              a(href="dx-card.html") Learn More
                i.icon.icon-arrow-right
          .col-md-6.col-12
            .message__channels-other__block.wow.zoomIn(data-wow-duration="1s")
              h3 Messaging Gateway
              p Make interacting with your business for your customers as easy as messaging friends and family.
              a(href="messaging-gateway.html") Learn More
                i.icon.icon-arrow-right
          .col-12
            .message__channels-other__btn
              strong Let's get you started
              p Our friendly executives are waiting to help you get going
              a(href="#schedule" rel="modal:open") Setup Your Custom Demo
                span 100% Free to get started