---
title: Conversational AI Tactical Advice
"description": ""
bodyClass: webinar--secondary
---
extends layouts/_layout
block content
  //- <!-- Calendly badge widget begin -->
  link(href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet")
  script(src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript")
  script(type="text/javascript").
    Calendly.initBadgeWidget({ url: 'https://calendly.com/nhance-now-webinar/30min', text: 'Reserve Your Spot'});
  //- <!-- Calendly badge widget end -->
  .webinar.webinar--secondary
    block header
      header.header-landing
        .container
          .header__content
            a(href="index.html").header__logo
              img(src="img/nhance-logo.svg")
    //END header
    
    p.baner-landing To check all our other offerings please visit our main website 
      a(href="https://nhancenow.com/" target="_blank") www.nhancenow.com
        i.icon.icon-arrow-right
    .webinar__intro
      .container
        h1 Getting the most out of Work & Business during Covid-19
        p We discuss the current remote working environment, the challenges it poses and some tools to overcome them.
        a(href="#schedule" rel="modal:open") Reserve Your Spot
          
      .webinar__intro__clock(year="2020" month="4" day="24" hour="24" minute="00")
        .webinar__intro__clock__block
          strong.days 0
          span Days
        .webinar__intro__clock__block
          strong.hours 0
          span Hours
        .webinar__intro__clock__block
          strong.minutes 0
          span Minutes
        .webinar__intro__clock__block
          strong.seconds 0
          span Seconds

    .webinar__info
      .container
        .webinar__title
          h2 Don’t miss this amazing webinar!
          p Join us for a webinar where we discuss the current remote working scenario, challenges we face and how organizations and employees can come out stronger from this pandemic. We will also share some tips on how to get the best out of your remote working setup and stay connected with your customers.
        .webinar__info__row
          .webinar__info__block.col-lg-3.col-md-6
            img(src="img/webinar/webinar__info-img-1.png", alt="")
            span Date
            strong April 24th
          .webinar__info__block.col-lg-3.col-md-6
            img(src="img/webinar/webinar__info-img-2.png", alt="")
            span Time
            strong 12:00 p.m. IST (GMT +1)
          .webinar__info__block.col-lg-3.col-md-6
            img(src="img/webinar/webinar__info-img-3.png", alt="")
            span Duration
            strong 1 Hour
          .webinar__info__block.col-lg-3.col-md-6
            img(src="img/webinar/webinar__info-img-4.png", alt="")
            span Price
            strong Free

    .webinar__about
      .container
        .webinar__title
          h2 About Speaker
        .webinar__about__row
          .webinar__about__img
            div
              img(src="img/webinar/Rahul-Soni.jpg", alt="")
          .webinar__about__text
            strong Rahul Soni, Director - 
              span Fluo Digital
            ul
              li 12 years experience in Digital Media and Communications 
              li Entrepreneur and Founder of Fluo Digital - full service digital agency
        .webinar__about__row
          .webinar__about__img
            div
              img(src="img/webinar/Vivek.jpg", alt="")
          .webinar__about__text
            strong Vivek Ramachandran - 
              span Global Marketing Lead at Nhance Now
            ul
              li 10 years experience in Marketing & Advertising
              li Ex-WPP, FCB, Publicis Groupe


    .container
      .webinar__title(style="padding-bottom:0")
        h2 Who Should attend
        strong Startups
          i |
          | Small & Medium Businesses 
          i |
          | Business Leaders

    .webinar__advantages
      .container
        .webinar__advantages__content
          h2 What you will learn?
          b 3 effective ways, Bots can help your business in the current COVID-19 era.
          //- a(href="#") Reserve Your Spot
          .webinar__advantages__row
            .webinar__advantages__block
              i.icon.icon-check
              p Getting the maximum out of your remote working setup
            .webinar__advantages__block
              i.icon.icon-check
              p Current working scenario and challenges
            .webinar__advantages__block
              i.icon.icon-check
              p Introduction to Business Bots: close deals, hire new talent, engage employees and much more remotely. 
    
        
    block footer
      footer.whatsapp__footer
        .container  
          .whatsapp__footer__row
            .footer__logo.whatsapp__footer__block
              img(src="img/n-icon.svg")
              p Inspirion Digital Solutions Pvt Ltd 
                span (Parent Company of NHANCE NOW)
            .footer__social.whatsapp__footer__block
              a(href="https://twitter.com/nhancenow?lang=cs" target="_blank")
                i.icon.icon-twitter
              a(href="https://www.facebook.com/nhancenow/" target="_blank")
                i.icon.icon-fb
              a(href="https://in.linkedin.com/company/nhancenow" target="_blank")
                i.icon.icon-in
            .footer__copyright.whatsapp__footer__block
              p Copyright ©2020 Inspirion Digital Solutions pvt ltd. All rights reserved.
            .footer__policy.whatsapp__footer__block
              a(target="_blank" href="policy.html") Privacy Policy 
              span |
              a(target="_blank" href="service.html") Terms of Use