---
title: Whatsapp
"description": ""
---
extends layouts/_layout
block content
  block header
    header.header(class=header)
      .container
        .menu-open
          span
        .row.align-aitems-center.no-gutters
          .col-lg-9.col-md-4.col-12
            .header__content
              a(href="index.html").header__logo
                img(src="img/nhance-logo.svg")
  .menu-bg
  .menu#menu
    ul.menu__content
      li 
        a(href="index.html").menu__item Home
      li 
        a(href="#").menu__item Platform
          span
            i.icon.icon-arrow-down
        ul.menu__dropdown
          li
            a(href="platform-overview.html")
              .menu__dropdown__list
                b Overview
          li
            a(href="dx-card.html")
              .menu__dropdown__list
                b DX Card
          li
            a(href="messaging-gateway.html")
              .menu__dropdown__list
                b Messaging Gateway
          li
            a(href="voice-gateway.html")
              .menu__dropdown__list
                b Voice Gateway
          li
            a(href="enterprise-midmarket.html")
              .menu__dropdown__list
                b Mid-Market/Enterprise
          li
            a(href="small-business.html")
              .menu__dropdown__list
                b Micro / Small Business
          li
            a(href="http://dxcard.club/" target='_blank')
              .menu__dropdown__list
                b Consumers
      li 
        a(href="#").menu__item Use Cases
          span
            i.icon.icon-arrow-down
        ul.menu__dropdown
          li
            a(href="use-cases.html#0")
              .menu__dropdown__list
                b Wellness
          li
            a(href="use-cases.html#1")
              .menu__dropdown__list
                b Travel
          li
            a(href="use-cases.html#2")
              .menu__dropdown__list
                b Healthcare
          li
            a(href="use-cases.html#3")
              .menu__dropdown__list
                b Automotive
          li
            a(href="use-cases.html#4")
              .menu__dropdown__list
                b Electronics
      li
        a(href="#").menu__item Resources
          span
            i.icon.icon-arrow-down
        ul.menu__dropdown
          li
            a(href="http://support.nhancenow.com/" target="_blank")
              .menu__dropdown__list
                b Helpcenter
          li
            a(href="http://blog.nhancenow.com" target="_blank")
              .menu__dropdown__list
                b Blog
          li
            a(href="security.html")
              .menu__dropdown__list
                b Security
          li
            a(href="https://www.nhancenow.com/api/" target="_blank")
              .menu__dropdown__list
                b API
      li
        a(href="pricing.html").menu__item Pricing
      li
        a(href="#").menu__item Company
          span
            i.icon.icon-arrow-down
        ul.menu__dropdown
          li
            a(href="about.html") 
              .menu__dropdown__list
                b About Us
          li
            a(href="team.html") 
              .menu__dropdown__list
                b Team
          li
            a(href="customers.html")
              .menu__dropdown__list
                b Customers
          li
            a(href="http://nhancenow.com/partners/" target="_blank") 
              .menu__dropdown__list
                b Partners
          li
            a(href="https://angel.co/nhance-now/jobs" target="_blank") 
              .menu__dropdown__list
                b Careers
          li
            a(href="contact.html")
              .menu__dropdown__list
                b Contact Us
          li
            a(href="brand-assets.html")
              .menu__dropdown__list
                b Brand Assets  
    .header__btn
      a(href="#")
        i.icon.icon-user
        | Log In
      a(href="#")
        i.icon.icon-star
        | Schedule a Demo
      a(href="#").btn For Consumers
  //END header
  .whatsapp
    .whatsapp__intro
      .container
        .row
          .col-lg-7.col-md-8
            .whatsapp__intro__title
              h1 Share Your Coporate Profile on 
                span WhatsApp 
                | Bot
              p Standout the way you connect, network, engage and follow up with contacts. Better and faster with WhatsApp.
              a(href="#") Create Yours NOW
                i.icon.icon-arrow-right
          .col-lg-5.col-md-4
            img(src="img/whatsapp/whats-app-screen.png", alt="")
          .col-12
            h2 Build your Corporate presence in the epicentre of today’s communication medium
            .whatsapp__intro__row
              .whatsapp__intro__block(style="background-image: url('img/whatsapp/intro_block_img-1.png');")
                h3 1.5 Billion
                p Users in 180 countries makes WhatsApp the most-popular messaging app in the world – 0.2 billion more than stablemate Facebook Messenger
              .whatsapp__intro__block(style="background-image: url('img/whatsapp/intro_block_img-2.png');background-color: rgb(24, 65, 145);")
                h3 1 Billion
                p Daily active WhatsApp users
              .whatsapp__intro__block(style="background-image: url('img/whatsapp/intro_block_img-3.png');")
                h3 3 Million	
                p Users of WhatsApp Business who use the the channel to engage 1-1 with their consumers and grow their business
    
    
    .whatsapp__who
      .container
        .whatsapp__title
          h2 Who’s is it for?
          strong For Business Leaders, Executives and Consultants
          p Corporate Card | Business Card | Applicant Card | Sales & Marketing Card
        .row
          .col-lg-3.col-md-6
            .whatsapp__who__block
              img(src="img/whatsapp/girl.png", alt="")
              .line(style="background-color: rgb(128, 134, 231);")
              a(href="#") HR Teams
                i.icon.icon-play
              p Share crisp WhatsApp friendly Job cards filled with a wealth of content about the company, roles & responsibilities, videos of work culture, growth and benefits maps to grab every applicant’s attention. Use the pre-employment HR Bot to answer relevant queries to shorten interview cycles and quicken closures.
          .col-lg-3.col-md-6
            .whatsapp__who__block
              img(src="img/whatsapp/guy.png", alt="")
              .line(style="background-color: rgb(73, 86, 220);")
              a(href="#") Individuals &
                i.icon.icon-play
                | <br>Consultants
              p Growing your network is essential to acquiring new clients. With NHANCE NOW’s unique WhatsApp First business cards make great first impressions and build lasting relationships with contacts. It’s an innovative way to network, share personal and business information and personalize content for key contacts. 
          .col-lg-3.col-md-6
            .whatsapp__who__block
              img(src="img/whatsapp/man.png", alt="")
              .line(style="background-color: rgb(114, 177, 227);")
              a(href="#") Sales +
                i.icon.icon-play
                | <br>Marketing
              p Use NHANCE NOW to boost your marketing efforts by infusing your WhatsApp cards with targeted video content, contextual product or service information and a customisable S&M Bot which takes the load of responding to a variety of routine queries from prospects that frees up your time to close key deals. 
          .col-lg-3.col-md-6
            .whatsapp__who__block
              img(src="img/whatsapp/building.png", alt="")
              .line(style="background-color: rgb(49, 97, 189);")
              a(href="#") Companies
                i.icon.icon-play
              p Create compelling WhatsApp first company profiles laced with a variety of information that gives a comprehensive view into your business. Provide documents, use cases, testimonials, pricing information, product/service videos, personnel profile, FAQs alongwith a 24/7 prospect engagement Corporate BOT for engaging conversations. 
    
    
    .whatsapp__benefits
      .container
        .whatsapp__title
          h2 Benefits
          strong For Business Leaders, Executives and Consultants
          p Corporate Card | Business Card | Applicant Card | Sales & Marketing Card
        .row
          .col-lg-3.col-md-6
            .whatsapp__benefits__block
              img(src="img/whatsapp/whatsapp_benefits_img-1.png", alt="")
              h3 Support a Modern Brand Image
              p Stand out and drive more traffic to you and your business. Convey your brand through a interactive and innovative mechanism to your contacts. 

          .col-lg-3.col-md-6
            .whatsapp__benefits__block.whatsapp__benefits__block--secondary
              img(src="img/whatsapp/whatsapp_benefits_img-2.png", alt="")
              h3 Get Conversational Era Ready
              p Ditch static business cards, PPTs, and brochures that only share information with Conversational cards designed to promote engaging conversations

          .col-lg-3.col-md-6
            .whatsapp__benefits__block.whatsapp__benefits__block--secondary
              img(src="img/whatsapp/whatsapp_benefits_img-3.png", alt="")
              h3 Nurture Contacts. Close Leads.
              p It is impossible to get close to each and every contact. No more. These Conversational Cards engage and nurture contacts, 24/7. Even when you are asleep!
          
          .col-lg-3.col-md-6
            .whatsapp__benefits__block
              img(src="img/whatsapp/whatsapp_benefits_img-4.png", alt="")
              h3 Support Green Initiatives
              p Create business collaterals in a fresh new way for the Digital First world and contribute in your little way to global green initiatives.
    
    
    .whatsapp__features
      .container
        .whatsapp__title
          h2 Features
          strong For Business Leaders, Executives and Consultants
          p Corporate Card | Business Card | Applicant Card | Sales & Marketing Card
        .whatsapp__features__row
          .whatsapp__features__block
            img(src="img/whatsapp/whatsapp_features_img-1.png", alt="")
            h3 Digital Files
            p Provide important documents and informative videos. Share confidential files protected with WhatsApp security protocols. 
          .whatsapp__features__block
            img(src="img/whatsapp/whatsapp_features_img-2.png", alt="")
            h3 Customisable Bot
            p Setup Meetings, demos, give instant response to queries and provide contextual advisory.
          .whatsapp__features__block
            img(src="img/whatsapp/whatsapp_features_img-3.png", alt="")
            h3 Analytics
            p See statistical graphs of interactions with all WhatsApp Cards issued by you or your company/representatives.
          .whatsapp__features__block
            img(src="img/whatsapp/whatsapp_features_img-4.png", alt="")
            h3 Automated Notifications
            p Send automated event based notifications and alerts on company activities, webinars, product launches, etc
          .whatsapp__features__block
            img(src="img/whatsapp/whatsapp_features_img-5.png", alt="")
            h3 Share Option
            p Let your contacts make your and your company profile viral with an easy share option embedded inside the card.
          .whatsapp__features__block
            img(src="img/whatsapp/whatsapp_features_img-6.png", alt="")
            h3 Personalize
            p Customise cards with targeted content for specific activities or contacts. 
          .whatsapp__features__block
            img(src="img/whatsapp/whatsapp_features_img-7.png", alt="")
            h3 Dynamic Update
            p Modify, Update or Add information or content to the card anytime, with seamless updates at the contact end.
          .whatsapp__features__block
            img(src="img/whatsapp/whatsapp_features_img-8.png", alt="")
            h3 Intuitive Creation Process
            p Easy SaaS application to create cards with no IT support. Anyone can use it.
          .whatsapp__features__block
            img(src="img/whatsapp/whatsapp_features_img-9.png", alt="")
            h3 Experience Maps
            p Expert designed workflows to nurture contacts/leads with contextual interactions at crucial junctures
          .whatsapp__features__block
            img(src="img/whatsapp/whatsapp_features_img-10.png", alt="")
            h3 Conversation Templates
            p Expert designed conversation templates to have automated Bot driven conversations to engage contacts at frequent intervals.
          .whatsapp__features__block.empty
          .whatsapp__features__block.empty
          

    .whatsapp__pricing
      .container
        .whatsapp__title
          h2 Pricing
          p Our Pricing Plans to fit your Strategy
        .whatsapp__pricing__block
          strong Most Popular Plan
          h2 Basic
          h3 
            span $
            | 49
            b /mo
          ul
            li
              a(href="#")
                i.icon.icon-check
                | Corporate bot
                i.icon.icon-play
            li
              a(href="#")
                i.icon.icon-check
                | Applicant bot
                i.icon.icon-play
            li
              a(href="#")
                i.icon.icon-check
                | Sales & marketing bot
                i.icon.icon-play
          a(href="#").btn Start Now


    .whatsapp__baner
      .container
        .whatsapp__title
          h2 Design your first business card in minutes.
          p Design your first card on the next few screens then sample it on your own WhatsApp account
        a(href="#") CREATE YOUR FIRST CARD NOW
          i.icon.icon-arrow-right

  block footer
    footer.whatsapp__footer
      .container  
        .whatsapp__footer__row
          .footer__logo.whatsapp__footer__block
            img(src="img/n-icon.svg")
            p Inspirion Digital Solutions Pvt Ltd 
              span (Parent Company of NHANCE NOW)
          .footer__social.whatsapp__footer__block
            a(href="https://twitter.com/nhancenow?lang=cs" target="_blank")
              i.icon.icon-twitter
            a(href="https://www.facebook.com/nhancenow/" target="_blank")
              i.icon.icon-fb
            a(href="https://in.linkedin.com/company/nhancenow" target="_blank")
              i.icon.icon-in
          .footer__copyright.whatsapp__footer__block
            p Copyright ©2019 Inspirion Digital Solutions pvt ltd. All rights reserved.
          .footer__policy.whatsapp__footer__block
            a(target="_blank" href="policy.html") Privacy Policy 
            span |
            a(target="_blank" href="service.html") Terms of Use