.customer-success
  .container
    .row
      .col-md-5.col-12
      .col-md-7.col-12
        .customer-success__text.wow.fadeInUp(data-wow-duration="1s")
          h3 Customer proof
          p "The key to increasing our life time revenue from our customers was having realtime conversations with them to help with instant answers to product related queries smart recommendations and purchase fullfilment."
          strong Joe Ary
          span VP-Operations, Trinity Finacials