//BEGIN footer
footer.footer
  .container
    .row
      .col-md-4.col-xs-12.last-xs
        .footer__logo
          img(src="img/n-icon.svg")
          p Inspirion Digital Solutions Pvt Ltd 
            span (Parent Company of NHANCE NOW)
        .footer__social
          a(href="#")
            i.icon.icon-twitter
          a(href="#")
            i.icon.icon-fb
          a(href="#")
            i.icon.icon-in
      .col-md-8.col-xs-12.last-md
        .footer__nav
          .footer__nav__block
            h3 platform
              i.icon.icon-arrow-down
            ul
              li 
                a(href="platform-overview.html") Overview
              li 
                a(href="dx-card.html") Digital Experience Card
              li 
                a(href="messaging-gateway.html") Messaging Gateway
              li 
                a(href="voice.html") Voice Gateway
              li 
                a(href="enterprise-midmarket.html") For Mid Market/Enterprises
              li 
                a(href="small-business.html") For Small Business
              li 
                a(href="http://dxcard.club/" target='_blank') For Consumers

          .footer__nav__block
            h3 Use Cases
              i.icon.icon-arrow-down
            ul
              li 
                a(href="use-cases.html#1") Travel & Hospitality
              li 
                a(href="use-cases.html#0") Wellness (Beauty)
              li 
                a(href="use-cases.html#2") Healthcare
              li 
                a(href="use-cases.html#4") Consumer Electronics
              li 
                a(href="use-cases.html#3") Automobile
          .footer__nav__block
            h3 Company
              i.icon.icon-arrow-down
            ul
              li
                a(href="about.html") About Us
              li
                a(href="team.html") Team
              li
                a(href="customers.html") Customers
              li
                a(href="http://nhancenow.com/partners/" target="_blank") Partners
              li
                a(href="https://angel.co/nhance-now/jobs" target="_blank") Careers
              li
                a(href="contact.html") Contact Us
              li
                a(href="brand-assets.html") Brand Assets
          .footer__nav__block.footer__nav__block-last
            h3 Resources
              i.icon.icon-arrow-down
            ul
              li
                a(href="customers.html") Customer Stories
              li 
                a(href="http://support.nhancenow.com/" target="_blank") Help Center
              li 
                a(href="http://blog.nhancenow.com" target="_blank") Blog
              li 
                a(href="security.html") Security
              li 
                a(href="#") API
    .row
      .col-md-6.col-12
        .footer__copyright
          p Copyright ©2019 Inspirion Digital Solutions pvt ltd. All rights reserved.
      .col-md-6.col-12
        .footer__policy
          a(target="_blank" href="policy.html") Privacy Policy 
          span |
          a(target="_blank" href="service.html") Terms of Use
//END footer