//BEGIN header
//- .baner-info(class=header)
//-   strong Covid 19 Offer
//-   p Getting your business on track or helping those affected? We want to help.
//-   a(href="https://www.nhancenow.com/covid19-bcp-offer/" target="_blank") Learn more
//-     i.icon.icon-arrow-right
header.header(class=header)
  .container
    .menu-open
      span
    .row.align-aitems-center.no-gutters
      .col-lg-8.col-md-4.col-12
        .header__content
          a(href="index.html").header__logo
            img(src="img/nhance-logo.svg")
          .header__nav.hidden-sm.hidden-xs
            nav
              ul.header__nav__list
                li 
                  a(href="#") Platform
                    i.icon.icon-arrow-down
                  ul.header__nav__dropdown
                    li
                      a(href="platform-overview.html")
                        .header__nav__dropdown__list
                          b Features Overview
                          p Get a quick tour of the platform.
                    li
                      a(href="chat-bot.html")
                        .header__nav__dropdown__list
                          b Messaging Bot
                          p Customer Engagement on Messaging Apps.
                    li
                      a(href="voice-bot.html")
                        .header__nav__dropdown__list
                          b Voice Bot
                          p Customer Engagement on Voice Assistance.
                    li
                      a(href="dx-card.html")
                        .header__nav__dropdown__list
                          b Digital Experience Card
                          p See how we keep you and your customer's information secure.
                    li
                      a(href="security.html")
                        .header__nav__dropdown__list
                          b Security
                          p See how we keep you and your customer's information secure
                    li
                      a(href="https://www.nhancenow.com/api/" target="_blank")
                        .header__nav__dropdown__list
                          b API
                          p Seamless integrations, flexible REST APIs. Connect anything!.
                    
                    //- li
                    //-   a(href="enterprise-midmarket.html")
                    //-     .header__nav__dropdown__list
                    //-       b Mid-Market/Enterprise
                    //-       p Become a Conversational Business
                    
                

                li 
                  a(href="#") Solutions
                    i.icon.icon-arrow-down
                  ul.header__nav__dropdown.header__nav__dropdown--lists
                    li
                      h3 By Type
                      a(href="conversational-commerce-2.html")
                        .header__nav__dropdown__list
                          b Conversational Commerce
                      a(href="conversational-care.html")
                        .header__nav__dropdown__list
                          b Conversational Customer Care
                      a(href="conversational-bfsi.html")
                        .header__nav__dropdown__list
                          b Conversational BFSI Services
                      a(href="enterprise-midmarket.html")
                        .header__nav__dropdown__list
                          b Mid-Market/Enterprise
                    li
                      h3 By function
                      a(href="conversational-banking.html")
                        .header__nav__dropdown__list
                          b Banking
                      a(href="conversational-insurance.html")
                        .header__nav__dropdown__list
                          b Insurance
                      a(href="conversational-commerce.html")
                        .header__nav__dropdown__list
                          b Commerce
                      a(href="driving-school-course-management.html")
                        .header__nav__dropdown__list
                          b Driving School
                      a(href="conversational-auto-sales-support.html")
                        .header__nav__dropdown__list
                          b Automotive
                      a(href="conversational-customer-support.html")
                        .header__nav__dropdown__list
                          b Consumer Retail 

                      a(href="conversational-hiring.html")
                        .header__nav__dropdown__list
                          b Hiring & Staffing

                      a(href="conversational-employee-engagement.html.html")
                        .header__nav__dropdown__list
                          b HR Services


                      a(href="healthcare.html")
                        .header__nav__dropdown__list
                          b Healthcare

                      a(href="conversational-KYC.html")
                        .header__nav__dropdown__list
                          b Digital KYC

                li 
                  a(href="pricing.html") Pricing

                          
                li 
                  a(href="#") Resources
                    i.icon.icon-arrow-down
                  ul.header__nav__dropdown
                    li
                      a(href="http://support.nhancenow.com/" target="_blank")
                        .header__nav__dropdown__list
                          b Helpcenter
                          p Knowledgebase on using our platform, app, conversational channels, step by step guides and troubleshooting information .

                    //- li
                    //-   a(href="case-studies.html")
                    //-     .header__nav__dropdown__list
                    //-       b Case Studies
                    //-       p See how businesses are boosting growth with new digital experiences
                    li
                      a(href="http://blog.nhancenow.com" target="_blank")
                        .header__nav__dropdown__list
                          b Blogs
                          p Our top rated articles on Conversational CX bext practices, use cases, industry trends and product updates.
                    li
                      a(href="video.html")
                        .header__nav__dropdown__list
                          b Youtube Channel
                          p See the produdct and company in action.
                    
                    //- li
                    //-   a(href="video.html")
                    //-     .header__nav__dropdown__list
                    //-       b Videos
                    //-       p Watch our webinars, product in action and social campaigns
                    
                    //- li
                    //-   a(href="http://bot-academy.in" target="_blank")
                    //-     .header__nav__dropdown__list
                    //-       b Bot Academy
                    //-       p Master Bots – Cheat sheets, smart tips and best practices.
                    //- li
                    //-   a(href="careers.html")
                    //-     .header__nav__dropdown__list
                    //-       b Careers
                    //-       p An opportunity to write the next chapter in digital customer experience
                
                li 
                  a(href="#") Company
                    i.icon.icon-arrow-down
                  ul.header__nav__dropdown
                    li
                      a(href="about.html")
                        .header__nav__dropdown__list
                          b About Us
                          p Read about our mission to create a world friendlier for the Digital Generation
                    li
                      a(href="team.html")
                        .header__nav__dropdown__list
                          b Team
                          p Meet the people who are making it a digitally friendlier world for millions globally
                    li
                      a(href="case-studies.html")
                        .header__nav__dropdown__list
                          b Customers
                          p See how businesses are boosting growth with new digital experiences
                    li
                      a(href="http://nhancenow.com/partners/" target="_blank")
                        .header__nav__dropdown__list
                          b Partners
                          p Alone we win games, teamwork wins championships
                    li
                      a(href="careers.html")
                        .header__nav__dropdown__list
                          b Careers
                          p An opportunity to write the next chapter of digtial customer experience
                    li
                      a(href="contact.html")
                        .header__nav__dropdown__list
                          b Contact Us
                          p We are always a message away!
                    li
                      a(href="brand-assets.html")
                        .header__nav__dropdown__list
                          b Brand Assets
                          p Curated collection of our best pictures, logos and other pieces of our brand
                  li
                    a(href="expert-marketplace.html") Experts Marketplace
              //- a(href="http://dxcard.club/" target="_blank").btn For Consumers
      .col-md-8.col-lg-4.hidden-xs
        .header__btn
          a(href="https://app-in.nhancenow.com/nhance-web/signUp" target="_blank").header__btn__create
            i.icon.icon-plus
            | Sign Up
          b
            i.icon.icon-user
            | Log In
            ul.header__btn__login
              li
                a(href="https://app-in.nhancenow.com/" target="_blank") 
                  img(src="img/country/usa.png", alt="")
                  | USA
              li
                a(href="https://app-me.nhancenow.com/" target="_blank") 
                  img(src="img/country/uae_flag.png", alt="")
                  | UAE
              li
                a(href="https://app-in.nhancenow.com/" target="_blank") 
                  img(src="img/country/india_flag.png", alt="")
                  | INDIA
              li
                a(href="https://app-in.nhancenow.com/" target="_blank") 
                  img(src="img/country/Singapore_flag.png", alt="")
                  | SINGAPORE
          a(href="#schedule" rel="modal:open").header__btn__schedule
            i.icon.icon-star
            | Schedule a Demo





.menu-bg
.menu#menu
  ul.menu__content
    li 
      a(href="index.html").menu__item Home
    li 
      a(href="#").menu__item Platform
        span
          i.icon.icon-arrow-down
      ul.menu__dropdown
        li
          a(href="platform-overview.html")
            .menu__dropdown__list
              b Features Overview
        li
          a(href="chat-bot.html")
            .menu__dropdown__list
              b Messaging Bot
        li
          a(href="voice-bot.html")
            .menu__dropdown__list
              b Voice Bot
        li
          a(href="dx-card.html")
            .menu__dropdown__list
              b Digital Experience Card
        li
          a(href="security.html")
            .menu__dropdown__list
              b Security
        li
          a(href="https://www.nhancenow.com/api/" target="_blank")
            .menu__dropdown__list
              b API
    li 
      a(href="#").menu__item Solutions
        span
          i.icon.icon-arrow-down
      ul.menu__dropdown
        li
          a(href="conversational-commerce-2.html")
            .menu__dropdown__list
              b Conversational Commerce
        li
          a(href="conversational-care.html")
            .menu__dropdown__list
              b Conversational Customer Care
        li
          a(href="conversational-bfsi.html")
            .menu__dropdown__list
              b Conversational BFSI Services
        li
          a(href="enterprise-midmarket.html")
            .menu__dropdown__list
              b Mid-Market/Enterprise


        li
          a(href="conversational-banking.html")
            .menu__dropdown__list
              b Banking
        li
          a(href="conversational-insurance.html")
            .menu__dropdown__list
              b Insurance
        li
          a(href="conversational-commerce.html")
            .menu__dropdown__list
              b Commerce
        li
          a(href="driving-school-course-management.html")
            .menu__dropdown__list
              b Driving School
        li
          a(href="conversational-auto-sales-support.html")
            .menu__dropdown__list
              b Automotive
        li
          a(href="conversational-customer-support.html")
            .menu__dropdown__list
              b Consumer Retail 
        li
          a(href="conversational-hiring.html")
            .menu__dropdown__list
              b Hiring & Staffing
        li
          a(href="conversational-employee-engagement.html")
            .menu__dropdown__list
              b HR Services
          
          

        li
          a(href="healthcare.html")
            .menu__dropdown__list
              b Healthcare
        li
          a(href="conversational-KYC.html")
            .menu__dropdown__list
              b Digital KYC


        li
          a(href="conversational-banking.html")
            .menu__dropdown__list
              b Conversational Banking
        li
          a(href="conversational-insurance.html")
            .menu__dropdown__list
              b Conversational Insurance
        li
          a(href="conversational-auto-sales-support.html")
            .menu__dropdown__list
              b Conversational Auto Sales & Support
        li
          a(href="conversational-customer-support.html")
            .menu__dropdown__list
              b Conversational Customer Support
        li
          a(href="conversational-commerce.html")
            .menu__dropdown__list
              b Conversational Commerce
        li
          a(href="conversational-hiring.html")
            .menu__dropdown__list
              b Conversational Hiring
        li
          a(href="conversational-employee-engagement.html")
            .menu__dropdown__list
              b Conversational Employee Engagement
        li
          a(href="conversational-KYC.html")
            .menu__dropdown__list
              b Conversational KYC
        li
          a(href="driving-school-course-management.html")
            .menu__dropdown__list
              b Driving School Course Management
        li
          a(href="healthcare.html")
            .menu__dropdown__list
              b Healthcare (Hospital Services)
    li 
      a(href="pricing.html").menu__item Pricing
    li
      a(href="#").menu__item Resources
        span
          i.icon.icon-arrow-down
      ul.menu__dropdown
        li
          a(href="http://support.nhancenow.com/" target="_blank")
            .menu__dropdown__list
              b Helpcenter
        //- li
        //-   a(href="http://dxcard.club/" target='_blank')
        //-     .menu__dropdown__list
        //-       b Case Studies

        li
          a(href="http://blog.nhancenow.com" target="_blank")
            .menu__dropdown__list
              b Blogs
        li
          a(href="video.html")
            .menu__dropdown__list
              b Youtube Channel

    li
      a(href="#").menu__item Company
        span
          i.icon.icon-arrow-down
      ul.menu__dropdown
        li
          a(href="about.html") 
            .menu__dropdown__list
              b About Us
        li
          a(href="team.html") 
            .menu__dropdown__list
              b Team
        li
          a(href="case-studies.html")
            .menu__dropdown__list
              b Customers
        
        li
          a(href="http://nhancenow.com/partners/" target="_blank") 
            .menu__dropdown__list
              b Partners
        li
          a(href="careers.html") 
            .menu__dropdown__list
              b Careers
        li
          a(href="contact.html")
            .menu__dropdown__list
              b Contact Us
        li
          a(href="brand-assets.html")
            .menu__dropdown__list
              b Brand Assets  
    li
      a(href="expert-marketplace.html").menu__item Experts Marketplace
  .header__btn
    a(href="https://app-in.nhancenow.com/nhance-web/signUp" target="_blank")
      i.icon.icon-user
      | Log In
    a(href="#schedule" rel="modal:open")
      i.icon.icon-star
      | Schedule a Demo
//END header
