//BEGIN header
header.header
  .container
    .menu-open
      span
    .row.align-aitems-center.no-gutters
      .col-lg-9.col-md-4.col-12
        .header__content
          a(href="index.html").header__logo
            img(src="img/nhance-logo.svg")
          .header__nav.hidden-sm.hidden-xs
            nav
              ul
                li 
                  a(href="#") Platform
                    i.icon.icon-arrow-down
                  ul.header__nav__dropdown
                    li
                      a(href="platform-overview.html")
                        .header__nav__dropdown__list
                          b Overview
                          p Get a quick tour of the platform
                    li
                      a(href="dx-card.html")
                        .header__nav__dropdown__list
                          b DX Card
                          p World's first digital card for customer experience
                    li
                      a(href="messaging-gateway.html")
                        .header__nav__dropdown__list
                          b Messaging Gateway
                          p Customer Experience on FB Messenger and Whatsapp
                    li
                      a(href="voice.html")
                        .header__nav__dropdown__list
                          b Voice Gateway
                          p Customer Experience on Alexa,Google & Siri enabled devices
                    li
                      a(href="enterprise-midmarket.html")
                        .header__nav__dropdown__list
                          b Mid-Market/Enterprise
                          p Become an Conversational Business
                    li
                      a(href="small-business.html")
                        .header__nav__dropdown__list
                          b Micro / Small Business
                          p Service, support and transactions through conversations
                    li
                      a(href="http://dxcard.club/" target='_blank')
                        .header__nav__dropdown__list
                          b Consumers
                          p Now even consumer can design their own conversational experiences.
                li 
                  a(href="use-cases.html") Use Cases
                    i.icon.icon-arrow-down
                  ul.header__nav__dropdown.header__nav__dropdown--icon
                    li
                      a(href="use-cases.html#0")
                        .header__nav__dropdown__list
                          b Wellness
                          p Get a quick tour of the platform
                    li
                      a(href="use-cases.html#1")
                        .header__nav__dropdown__list
                          b Travel
                          p World's first digital card for customer experience
                    li
                      a(href="use-cases.html#2")
                        .header__nav__dropdown__list
                          b Hospitality
                          p Customer Experience on FB Messenger and Whatsapp
                    li
                      a(href="use-cases.html#3")
                        .header__nav__dropdown__list
                          b Automotive
                          p Customer Experience on Alexa, Google & Siri enabled devices
                    li
                      a(href="use-cases.html#4")
                        .header__nav__dropdown__list
                          b Electronics
                          p Become an Conversational Business
                li 
                  a(href="#") Resources
                    i.icon.icon-arrow-down
                  ul.header__nav__dropdown
                    li
                      a(href="http://support.nhancenow.com/" target="_blank")
                        .header__nav__dropdown__list
                          b Helpcenter
                          p Knowledgebase on using our platform, app, conversational channels, step by step guides and troubleshooting information 
                    li
                      a(href="http://blog.nhancenow.com" target="_blank")
                        .header__nav__dropdown__list
                          b Blogs
                          p Our top rated articles on Conversational CX bext practices, use cases, industry trends and product updates
                    li
                      a(href="security.html")
                        .header__nav__dropdown__list
                          b Security
                          p See how we keep you and your customer's information secure
                    li
                      a(href="customer-stories.html")
                        .header__nav__dropdown__list
                          b API
                          p Seamless integrations, flexible APIs. Connect anything!
                li 
                  a(href="pricing.html") Pricing
                li 
                  a(href="#") Company
                    i.icon.icon-arrow-down
                  ul.header__nav__dropdown
                    li
                      a(href="about.html")
                        .header__nav__dropdown__list
                          b About Us
                          p Read about our mission to create a world friendlier for the Digital Generation
                    li
                      a(href="team.html")
                        .header__nav__dropdown__list
                          b Team
                          p Meet the people who are making it a digitally friendlier world for millions globally
                    li
                      a(href="customers.html")
                        .header__nav__dropdown__list
                          b Customers
                          p See how businesses are boosting growth with new digital experiences
                    li
                      a(href="http://nhancenow.com/partners/" target="_blank")
                        .header__nav__dropdown__list
                          b Partners
                          p Alone we win games, teamwork wins championships
                    li
                      a(href="https://angel.co/nhance-now/jobs" target="_blank")
                        .header__nav__dropdown__list
                          b Careers
                          p An opportunity to write the next chapter of digtial customer experience
                    li
                      a(href="contact.html")
                        .header__nav__dropdown__list
                          b Contact Us
                          p We are always a message away!
                    li
                      a(href="brand-assets.html")
                        .header__nav__dropdown__list
                          b Brand Assets
                          p Curated collection of our best pictures, logos and other pieces of our brand
              a(href="http://dxcard.club/" target="_blank").btn For Consumers
      .col-md-8.col-lg-3.hidden-xs
        .header__btn
          b
            i.icon.icon-user
            | Log In
            ul.header__btn__login
              li
                a(href="https://app-in.nhancenow.com/" target="_blank") 
                  img(src="img/country/usa.png", alt="")
                  | USA
              li
                a(href="https://app-me.nhancenow.com/" target="_blank") 
                  img(src="img/country/uae_flag.png", alt="")
                  | UAE
              li
                a(href="https://app-in.nhancenow.com/" target="_blank") 
                  img(src="img/country/india_flag.png", alt="")
                  | INDIA
              li
                a(href="https://app-in.nhancenow.com/" target="_blank") 
                  img(src="img/country/Singapore_flag.png", alt="")
                  | SINGAPORE
          a(href="#schedule" rel="modal:open")
            i.icon.icon-star
            | Schedule a Demo





.menu-bg
.menu#menu
  ul.menu__content
    li 
      a(href="index.html").menu__item Home
    li 
      a(href="#").menu__item Platform
        span
          i.icon.icon-arrow-down
      ul.menu__dropdown
        li
          a(href="platform-overview.html")
            .menu__dropdown__list
              b Overview
        li
          a(href="dx-card.html")
            .menu__dropdown__list
              b DX Card
        li
          a(href="messaging-gateway.html")
            .menu__dropdown__list
              b Messaging Gateway
        li
          a(href="voice.html")
            .menu__dropdown__list
              b Voice Gateway
        li
          a(href="enterprise-midmarket.html")
            .menu__dropdown__list
              b Mid-Market/Enterprise
        li
          a(href="small-business.html")
            .menu__dropdown__list
              b Micro / Small Business
        li
          a(href="http://dxcard.club/" target='_blank')
            .menu__dropdown__list
              b Consumers
    li 
      a(href="#").menu__item Use Cases
        span
          i.icon.icon-arrow-down
      ul.menu__dropdown
        li
          a(href="use-cases.html#0")
            .menu__dropdown__list
              b Wellness
        li
          a(href="use-cases.html#1")
            .menu__dropdown__list
              b Travel
        li
          a(href="use-cases.html#2")
            .menu__dropdown__list
              b Healthcare
        li
          a(href="use-cases.html#3")
            .menu__dropdown__list
              b Automotive
        li
          a(href="use-cases.html#4")
            .menu__dropdown__list
              b Electronics
    li
      a(href="#").menu__item Resources
        span
          i.icon.icon-arrow-down
      ul.menu__dropdown
        li
          a(href="http://support.nhancenow.com/" target="_blank")
            .menu__dropdown__list
              b Helpcenter
        li
          a(href="http://blog.nhancenow.com" target="_blank")
            .menu__dropdown__list
              b Blog
        li
          a(href="security.html")
            .menu__dropdown__list
              b Security
        li
          a(href="security.html")
            .menu__dropdown__list
              b API
    li
      a(href="pricing.html").menu__item Pricing
    li
      a(href="#").menu__item Company
        span
          i.icon.icon-arrow-down
      ul.menu__dropdown
        li
          a(href="about.html") 
            .menu__dropdown__list
              b About Us
        li
          a(href="team.html") 
            .menu__dropdown__list
              b Team
        li
          a(href="customers.html")
            .menu__dropdown__list
              b Customers
        li
          a(href="http://nhancenow.com/partners/" target="_blank") 
            .menu__dropdown__list
              b Partners
        li
          a(href="https://angel.co/nhance-now/jobs" target="_blank") 
            .menu__dropdown__list
              b Careers
        li
          a(href="contact.html")
            .menu__dropdown__list
              b Contact Us
        li
          a(href="brand-assets.html")
            .menu__dropdown__list
              b Brand Assets  
  .header__btn
    a(href="#")
      i.icon.icon-user
      | Log In
    a(href="#")
      i.icon.icon-star
      | Schedule a Demo
    a(href="#").btn For Consumers
//END header
