section.intro-dx
  .container
    .intro-dx__title
      span 
        b DX CARD
        | (Digital Experience Card)
      h1 World's first digital card for customer experience.
      p Help your customers with the most convenient way to manage post-purchase journey in one place, with a 
        strong conversational experience card.
