.reviews
  .reviews__content
    .swiper-container.swiper-reviews
      .swiper-wrapper
        .swiper-slide(style="background-image: url('img/dxcard/testimonial-bg-01.jpg')")
          .container
            .reviews__block
              h3 Bots and Live Video<br>New instant support channels
              .reviews__text
                p “For a single man like me it’s a delight. I can get the best resolution for my queries without having to worry about an outsider’s intrusion to my private space.”
                b - A typical young professional
                .reviews__text__stars
                  a(href="#")
                    i.icon.icon-star
                  a(href="#")
                    i.icon.icon-star
                  a(href="#")
                    i.icon.icon-star
                  a(href="#")
                    i.icon.icon-star
                  a(href="#")
                    i.icon.icon-star
              .reviews__list
                ul.reviews__list__stages
                  li Request assistance
                  li AI Bots provide first level response
                  li Escalates to support agent
                  li Remote Live video support
                  li Safe, secure and instant resolution
        .swiper-slide(style="background-image: url('img/dxcard/testimonial-bg-02.jpg')")
          .container
            .reviews__block
              h3 Automated discovery of the <br>best add-ons
              .reviews__text
                p In a city life time is a luxury. To find time to look after my favorite products is impossible. DX Cards are a boon for me. They are my goto virtual assistant and my product care-takers!
                b - Urban Dweller
              .reviews__text__stars
                a(href="#")
                  i.icon.icon-star
                a(href="#")
                  i.icon.icon-star
                a(href="#")
                  i.icon.icon-star
                a(href="#")
                  i.icon.icon-star
                a(href="#")
                  i.icon.icon-star
              .reviews__list
                ul.reviews__list__stages
                  li Purchase product
                  li Receive interactive DX Card
                  li Discover accessories, care plans, ongoing offers
                  li Simple one tap purchases
                  li Protection, value addition
        .swiper-slide(style="background-image: url('img/dxcard/testimonial-bg-03.jpg')")
          .container
            .reviews__block
              h3 Smart recommendations are <br>easing customer’s lives
              .reviews__text
                p HECTIC! One word which sums up my daily life. DX Cards are my second brain. They do all the background work for me, curate the information and present it to me. All I have to do is press the YES or NO button. Bingo!
                b - Everyday Professional
                .reviews__text__stars
                  a(href="#")
                    i.icon.icon-star
                  a(href="#")
                    i.icon.icon-star
                  a(href="#")
                    i.icon.icon-star
                  a(href="#")
                    i.icon.icon-star
                  a(href="#")
                    i.icon.icon-star
              .reviews__list
                ul.reviews__list__stages
                  li Bought a product
                  li Missed buying a protection plan
                  li AI Engine finds the best extended warranty plan
                  li Actionable notification reminds in nick of time
                  li 1-tap purchase Product protection extended
        .swiper-slide(style="background-image: url('img/dxcard/testimonial-bg-04.jpg')")
          .container
            .reviews__block
              h3 Digital assets are improving ownership experience
              .reviews__text
                p My friends always think I have got more expensive products with better capabilities. In reality I just know all the secrets about my products!
                b - Winner at the coffee table
                .reviews__text__stars
                  a(href="#")
                    i.icon.icon-star
                  a(href="#")
                    i.icon.icon-star
                  a(href="#")
                    i.icon.icon-star
                  a(href="#")
                    i.icon.icon-star
                  a(href="#")
                    i.icon.icon-star
              .reviews__list
                ul.reviews__list__stages
                  li Receive fully loaded DX Card
                  li Instructions, entitlement knowledgebase, educational assets
                  li Discover new ways of getting more out of your products
                  li Better value for money
                  li Improved ownership experience
      .swiper-pagination.swiper-pagination-reviews
      .swiper-button-next.swiper-reviews-next
        i.icon.icon-arrow_left-cicle
      .swiper-button-prev.swiper-reviews-prev
        i.icon.icon-arrow_right-circle