.customer-success
  background: rgb(244, 244, 244)
  padding: 120px 0
  background-image: url('../img/testimonial-bg.png')
  background-size: auto 100%
  background-repeat: no-repeat
  position: relative
  +rmin(1200)
    background-position: 0 0 !important
  +r(1999)
    background-position: 40% 0
  +r(767)
    padding: 60px 0
  .swiper-button-prev, .swiper-button-next
    background: none
    width: 55px
    height: 55px
    +r(1040)
      width: 35px
      height: 35px
    +r(767)
      width: 20px
      height: 20px
    i
      font-size: 55px
      color: #000
      +r(1040)
        font-size: 35px
      +r(767)
        font-size: 20px
  .swiper-button-prev
    left: 5%
    +r(1500)
      left: 1%
    +r(1400)
      left: 10px
  .swiper-button-next
    right: 5%
    +r(1500)
      right: 1%
    +r(1400)
      right: 10px
  &__content
    display: flex
    justify-content: flex-end
  &__text
    max-width: 60%
    width: 100%
    +r(767)
      max-width: 100%
      padding: 0 20px
    h3
      font-size: 80px
      font-weight: bold
      line-height: 1
      text-align: left
      letter-spacing: -4px
      color: #131c2e
      margin-bottom: 30px
      +r(767)
        max-width: 100%
        margin-top: 50px
        text-align: center
        font-size: 30px
        margin-bottom: 30px
        letter-spacing: normal
    p
      font-size: 20px
      font-weight: normal
      line-height: 1.75
      color: #131c2e
      margin-bottom: 40px
      +r(767)
        text-align: center
        font-size: 16px
    strong
      font-size: 18px
      font-weight: 600
      line-height: 1.39
      color: #131c2e
      display: block
      +r(767)
        text-align: center
    span
      font-size: 14px
      font-weight: normal
      line-height: 1.79
      color: rgba(19, 28, 46, 0.6)
      display: block
      +r(767)
        text-align: center
        display: block
    img
      width: 133px
      margin-top: 30px
      +r(767)
        +relative-x